<div class="mdl-grid mdl-grid--no-spacing" title="">
    <div class="mdl-cell mdl-cell--12-col">
        <div *ngIf="isBasicSchool()">
            <div class="sis-control-validation">
                <sis-err [id]="'basicNumberClassroomEqualValidation'"
                           [forControl]="basicNumberClassroomEqualName" [isInput]="true"
                           [errorClass]="'sis-validation-wrapper--grouped'"
                           [errorMessage]="buildingValidationHelper.censusSchoolNumberClassroomFieldValidator()"
                           [class]="'sis-float-left'">
                </sis-err>
                <label class="sis-label">5.1 Specify the GENERAL construction of the institution buildings by indicating
                    the NUMBER of permanent classrooms with the appropriate description</label>
            </div>
            <div #basicNumberClassroomEqualName>
                <sis-census-indicator-tracking-multi3L [census]="census" [school]="school"
                                                       [classifierList]="classifierList"
                                                       [tableId]="'generalConstructionTableId'"
                                                       [topLevelClassifierName]="'ClassroomConstruction'"
                                                       [topLevelClassifierFieldName]="'buildingConstructionId'"
                                                       [horizontalClassifierName]="'SchoolLevelGroup'"
                                                       [horizontalClassifierFieldName]="'schoolLevelGroupId'"
                                                       [horizontalClassifierFilterPropertyName]="'schoolTypeId'"
                                                       [horizontalClassifierFilterPropertyValue]="basicSchoolTypeId"
                                                       [indicatorInstanceValue]="basicSchoolIndicatorInstanceId"
                                                       [isRequired]="true"
                                                       [validationHelper]="buildingValidationHelper"
                                                       [verticalClassifierName]="'ClassroomType'"
                                                       [verticalClassifierFieldName]="'classroomTypeId'">
                </sis-census-indicator-tracking-multi3L>
            </div>
        </div>


        <div class="sis-control-validation">
            <sis-err [id]="'notBasicNumberClassroomEqualValidation'" *ngIf="!isBasicSchool()"
                       [forControl]="notBasicNumberClassroomEqualName" [isInput]="true"
                       [errorClass]="'sis-validation-wrapper--grouped'"
                       [errorMessage]="buildingValidationHelper.notBasicNumberClassroomEqualValidation()"
                       [class]="'sis-float-left'">
            </sis-err>
            <label class="sis-label" *ngIf="isSecondSchool()">5.1 Specify the GENERAL construction of the institutions
                buildings by indicating the NUMBER of permanent classrooms with the appropriate description</label>
            <label class="sis-label" *ngIf="isTVET()">5.1 Specify the GENERAL construction of the institutions buildings
                by indicating the NUMBER of permanent classrooms with the appropriate description</label>
        </div>
        <div #notBasicNumberClassroomEqualName>
            <sis-census-indicator-tracking-multi3LSecondTVETSchool [census]="census" *ngIf="isSecondSchool()"
                                                                   [classifierList]="classifierList"
                                                                   [tableId]="'generalConstructionTableId'"
                                                                   [topLevelClassifierName]="'ClassroomConstruction'"
                                                                   [topLevelClassifierFieldName]="'buildingConstructionId'"
                                                                   [indicatorInstanceValue]="secondTVETSchoolIndicatorInstanceId"
                                                                   [isRequired]="true"
                                                                   [validationHelper]="buildingValidationHelper"
                                                                   [verticalClassifierName]="'ClassroomType'"
                                                                   [verticalClassifierFieldName]="'classroomTypeId'">
            </sis-census-indicator-tracking-multi3LSecondTVETSchool>
            <sis-census-indicator-tracking-multi3LSecondTVETSchool [census]="census" *ngIf="isTVET()"
                                                                   [classifierList]="classifierList"
                                                                   [tableId]="'generalConstructionTableId'"
                                                                   [topLevelClassifierName]="'ClassroomConstruction'"
                                                                   [topLevelClassifierFieldName]="'buildingConstructionId'"
                                                                   [indicatorInstanceValue]="secondTVETSchoolIndicatorInstanceId"
                                                                   [isRequired]="true"
                                                                   [validationHelper]="buildingValidationHelper"
                                                                   [verticalClassifierName]="'ClassroomType'"
                                                                   [verticalClassifierFieldName]="'classroomTypeId'">
            </sis-census-indicator-tracking-multi3LSecondTVETSchool>
        </div>

        <sis-census-indicator-tracking-0Level [census]="census" *ngIf="isSecondSchool()"
                                              [classifierList]="classifierList"
                                              [indicatorInstanceId]="secTVETPermanentIndicatorInstanceId"
                                              [sectionNumber]="'5.2'"
                                              [filteredClassifierId]="2"
                                              [isRequired]="true"
                                              [validationHelper]="buildingValidationHelper"
                                              [filteredClassifierName]="'ClassroomUncompleted'"
                                              [filteredClassifierFieldName]="'classroomUncompletedId'">
        </sis-census-indicator-tracking-0Level>


        <sis-census-indicator-tracking-0Level [census]="census" *ngIf="isTVET()" [classifierList]="classifierList"
                                              [indicatorInstanceId]="secTVETPermanentIndicatorInstanceId"
                                              [sectionNumber]="'5.2'"
                                              [filteredClassifierId]="4"
                                              [isRequired]="true"
                                              [validationHelper]="buildingValidationHelper"
                                              [filteredClassifierName]="'ClassroomUncompleted'"
                                              [filteredClassifierFieldName]="'classroomUncompletedId'">
        </sis-census-indicator-tracking-0Level>


        <sis-census-indicator-tracking-0Level [census]="census" *ngIf="!isBasicSchool()"
                                              [classifierList]="classifierList"
                                              [indicatorInstanceId]="secTVETTemporaryIndicatorInstanceId"
                                              [sectionNumber]="'5.3'"
                                              [filteredClassifierId]="3"
                                              [isRequired]="true"
                                              [validationHelper]="buildingValidationHelper"
                                              [filteredClassifierName]="'ClassroomUncompleted'"
                                              [filteredClassifierFieldName]="'classroomUncompletedId'">
        </sis-census-indicator-tracking-0Level>


        <div *ngIf="isBasicSchool()">
            <div class="sis-control-validation">
                <sis-err [id]="'buildingRoomsValidation'"
                           [forControl]="buildingRoomsName" [isInput]="true"
                           [errorClass]="'sis-validation-wrapper--grouped'"
                           [errorMessage]="buildingValidationHelper.buildingBasicRoomsValidation() || buildingValidationHelper.censusSchoolNumberRoomsTotalValidator()"
                           [class]="'sis-float-left'">
                </sis-err>
                <label class="sis-label">5.2 How many rooms in each level does the school have?</label>
            </div>
            <div #buildingRoomsName>
                <sis-census-indicator-tracking-2L [census]="census"
                                                  [school]="school"
                                                  [classifierList]="classifierList"
                                                  [tableId]="'buildingBasicRoomsTableId'"
                                                  [topLeftCellLabel]="'Rooms'"
                                                  [indicatorInstanceId]="buildingBasicRoomsIndicatorInstanceId"
                                                  [horizontalClassifierName]="'SchoolLevelGroup'"
                                                  [horizontalClassifierFieldName]="'schoolLevelGroupId'"
                                                  [horizontalClassifierFilterPropertyName]="'schoolTypeId'"
                                                  [horizontalClassifierFilterPropertyValue]="basicSchoolTypeId"
                                                  [verticalClassifierName]="'AvailableRoomsType'"
                                                  [verticalClassifierFieldName]="'availableRoomsTypeId'">
                </sis-census-indicator-tracking-2L>
            </div>
        </div>


        <div *ngIf="isBasicSchool()">
            <div class="sis-control-validation">
                <sis-err [id]="'buildingRoomsToBeRepairedValidation'"
                           [forControl]="buildingRoomsToBeRepairedName" [isInput]="true"
                           [errorClass]="'sis-validation-wrapper--grouped'"
                           [errorMessage]="buildingValidationHelper.buildingBasicRoomsToBeRepairedValidation() || buildingValidationHelper.censusSchoolPermanentRepairClassroomsNumberValidator()"
                           [class]="'sis-float-left'">
                </sis-err>
                <label class="sis-label">5.3 How many of your permanent rooms need REPAIR?</label>
            </div>
            <div #buildingRoomsToBeRepairedName>
                <sis-census-indicator-tracking-2L [census]="census"
                                                  [school]="school"
                                                  [classifierList]="classifierList"
                                                  [tableId]="'buildingBasicRoomsRepairedTableId'"
                                                  [topLeftCellLabel]="'Rooms'"
                                                  [indicatorInstanceId]="buildingBasicRoomsRepairedIndicatorInstanceId"
                                                  [horizontalClassifierName]="'SchoolLevelGroup'"
                                                  [horizontalClassifierFieldName]="'schoolLevelGroupId'"
                                                  [horizontalClassifierFilterPropertyName]="'schoolTypeId'"
                                                  [horizontalClassifierFilterPropertyValue]="basicSchoolTypeId"
                                                  [verticalClassifierName]="'RepairTypeNumber'"
                                                  [verticalClassifierFieldName]="'repairTypeNumberId'">
                </sis-census-indicator-tracking-2L>
            </div>
        </div>

        <!-- START Out of those needing major repairs, how many have:-->
        <div>
            <div class="sis-control-validation">
                <sis-err [id]="'buildingNeedingRepairedValidation'"
                           [forControl]="buildingNeedingRepairedName" [isInput]="true"
                           [errorClass]="'sis-validation-wrapper--grouped'"
                           [errorMessage]="buildingValidationHelper.censusSchoolNeedingRepairClassroomsNumberValidator() || buildingValidationHelper.censusSchoolSummaryNumberNeedingMajorRepairsValidator()"
                           [class]="'sis-float-left'">
                </sis-err>
                <label class="sis-label">5.4 Out of those needing major repairs, how many have:</label>
            </div>
            <div #buildingNeedingRepairedName>
                <sis-census-indicator-tracking-2L [census]="census" *ngIf="isBasicSchool()"
                                                  [school]="school"
                                                  [classifierList]="classifierList"
                                                  [tableId]="'buildingBasicBuildingRepairedTableId'"
                                                  [topLeftCellLabel]=""
                                                  [indicatorInstanceId]="183"
                                                  [horizontalClassifierName]="'SchoolLevelGroup'"
                                                  [horizontalClassifierFieldName]="'schoolLevelGroupId'"
                                                  [horizontalClassifierFilterPropertyName]="'schoolTypeId'"
                                                  [horizontalClassifierFilterPropertyValue]="basicSchoolTypeId"
                                                  [verticalClassifierName]="'BuildingRepair'"
                                                  [verticalClassifierFieldName]="'buildingRepairId'">
                </sis-census-indicator-tracking-2L>

                <sis-census-indicator-tracking-1L-V *ngIf="!isBasicSchool()"
                                                    [census]="census"
                                                    [classifierList]="classifierList"
                                                    [isLabelRequired]="true"
                                                    [tableId]="'buildingBuildingRepairedTableId'"
                                                    [topLeftCellLabel]=""
                                                    [topRightCellLabel]=""
                                                    [columnCount]="0"
                                                    [indicatorInstanceId]="184"
                                                    [verticalClassifierName]="'BuildingRepair'"
                                                    [verticalClassifierFieldName]="'buildingRepairId'">
                </sis-census-indicator-tracking-1L-V>
            </div>
        </div>
        <!-- END Out of those needing major repairs, how many have:-->

        <div class="sis-controls--top-margin">
            <sis-census-indicator-tracking-0Level [census]="census" *ngIf="!isTVET()" [classifierList]="classifierList"
                                                  [sectionNumber]="'5.5'"
                                                  [indicatorInstanceId]="basicSecUncompletedIndicatorInstanceId"
                                                  [filteredClassifierId]="1"
                                                  [filteredClassifierName]="'ClassroomUncompleted'"
                                                  [filteredClassifierFieldName]="'classroomUncompletedId'">
            </sis-census-indicator-tracking-0Level>
        </div>

        <!-- START What is the number and the conditions of the following rooms/blocks? -->
        <sis-census-indicator-tracking-2L [census]="census" *ngIf="isBasicSchool()"
                                          [school]="school"
                                          [classifierList]="classifierList"
                                          [label]="'5.6 What is the number and the conditions of the following rooms/blocks?'"
                                          [tableId]="'buildingBasicTvetRepairStateStructuresTableId'"
                                          [topLeftCellLabel]="'Facilities'"
                                          [indicatorInstanceId]="buildingBasicTvetRepairStateStructuresIndicatorInstanceId"
                                          [horizontalClassifierName]="'StructureTypeNumber'"
                                          [horizontalClassifierFieldName]="'structureTypeNumberId'"
                                          [verticalClassifierFilterArray]="filteredClassifiersId"
                                          [verticalClassifierName]="'Facility'"
                                          [verticalClassifierFieldName]="'facilityId'">
        </sis-census-indicator-tracking-2L>

        <sis-census-indicator-tracking-2L [census]="census" *ngIf="isSecondSchool()"
                                          [school]="school"
                                          [classifierList]="classifierList"
                                          [label]="'5.6 What is the number and the conditions of the following rooms/blocks?'"
                                          [tableId]="'buildingBasicTvetRepairStateStructuresTableId'"
                                          [topLeftCellLabel]="'Facilities'"
                                          [indicatorInstanceId]="buildingBasicTvetRepairStateStructuresIndicatorInstanceId"
                                          [horizontalClassifierName]="'StructureTypeNumber'"
                                          [horizontalClassifierFieldName]="'structureTypeNumberId'"
                                          [verticalClassifierFilterArray]="filteredClassifiersId"
                                          [verticalClassifierName]="'Facility'"
                                          [verticalClassifierFieldName]="'facilityId'">
        </sis-census-indicator-tracking-2L>

        <sis-census-indicator-tracking-2L [census]="census" *ngIf="isTVET()"
                                          [school]="school"
                                          [classifierList]="classifierList"
                                          [label]="'5.5 What is the number and the conditions of the following rooms/blocks?'"
                                          [tableId]="'buildingBasicTvetRepairStateStructuresTableId'"
                                          [topLeftCellLabel]="'Facilities'"
                                          [indicatorInstanceId]="buildingBasicTvetRepairStateStructuresIndicatorInstanceId"
                                          [horizontalClassifierName]="'StructureTypeNumber'"
                                          [horizontalClassifierFieldName]="'structureTypeNumberId'"
                                          [verticalClassifierFilterArray]="filteredClassifiersId"
                                          [verticalClassifierName]="'Facility'"
                                          [verticalClassifierFieldName]="'facilityId'">
        </sis-census-indicator-tracking-2L>
        <!-- END What is the number and the conditions of the following rooms/blocks? -->

        <div class="sis-controls--top-margin" *ngIf="isSecondSchool()">
            <div class="sis-control-validation">
                <sis-err [id]="'buildingSecondaryVehiclesValidation'"
                           [forControl]="buildingSecondaryVehiclesName" [isInput]="true"
                           [errorClass]="'sis-validation-wrapper--grouped'"
                           [errorMessage]="buildingValidationHelper.buildingSecondaryVehiclesValidation()"
                           [class]="'sis-float-left'">
                </sis-err>
                <label class="sis-label">5.7 What is the NUMBER and condition of vehicles at your institution?</label>
            </div>
            <div #buildingSecondaryVehiclesName>
                <sis-census-indicator-tracking-2L [census]="census"
                                                  [school]="school"
                                                  [classifierList]="classifierList"
                                                  [tableId]="'buildingSecVehicleNumberConditionTableId'"
                                                  [topLeftCellLabel]="''"
                                                  [indicatorInstanceId]="buildingSecVehicleNumberConditionIndicatorInstanceId"
                                                  [horizontalClassifierName]="'SchoolRepairRoom'"
                                                  [horizontalClassifierFieldName]="'schoolLevelGroupId'"
                                                  [verticalClassifierName]="'Vehicle'"
                                                  [verticalClassifierFieldName]="'vehicleId'">
                </sis-census-indicator-tracking-2L>
            </div>
        </div>
    </div>
</div>