<div class="mdl-grid mdl-grid--no-spacing" title="">
    <div class="mdl-cell mdl-cell--12-col">

        <div *ngIf="isBasicSchool()" #basicNumberClassroomEqualName>
            <label class="sis-label">Specify the GENERAL construction of the institution buildings by indicating the NUMBER of permanent classrooms with the appropriate description</label>

            <sis-census-indicator-tracking-multi3LView [census]="census"
                                                   [classifierList]="classifierList"
                                                   [tableId]="'generalConstructionTableId'"
                                                   [topLevelClassifierName]="'BuildingConstruction'"
                                                   [horizontalClassifierName]="'SchoolLevelGroup'"
                                                   [horizontalClassifierFilterPropertyName]="'schoolTypeId'"
                                                   [horizontalClassifierFilterPropertyValue]="basicSchoolTypeId"
                                                   [indicatorInstanceValue]="basicSchoolIndicatorInstanceId"
                                                   [isRequired]="true"
                                                   [validationHelper]="buildingValidationHelper"
                                                   [verticalClassifierName]="'ClassroomType'">
            </sis-census-indicator-tracking-multi3LView>
        </div>

        <div #notBasicNumberClassroomEqualName>
            <sis-census-indicator-tracking-multi3LSecondTVETSchoolView [census]="census" *ngIf="isSecondSchool()"
                                                                   [classifierList]="classifierList"
                                                                   [label]="'Specify the GENERAL construction of the institutions buildings by indicating the NUMBER of permanent classrooms with the appropriate description'"
                                                                   [tableId]="'generalConstructionTableId'"
                                                                   [topLevelClassifierName]="'BuildingConstruction'"
                                                                   [indicatorInstanceValue]="secondTVETSchoolIndicatorInstanceId"
                                                                   [isRequired]="true"
                                                                   [validationHelper]="buildingValidationHelper"
                                                                   [verticalClassifierName]="'ClassroomType'">
            </sis-census-indicator-tracking-multi3LSecondTVETSchoolView>


            <sis-census-indicator-tracking-multi3LSecondTVETSchoolView [census]="census" *ngIf="isTVET()"
                                                                   [classifierList]="classifierList"
                                                                   [label]="'Specify the GENERAL construction of the institutions buildings by indicating the NUMBER of permanent classrooms with the appropriate description'"
                                                                   [tableId]="'generalConstructionTableId'"
                                                                   [topLevelClassifierName]="'BuildingConstruction'"
                                                                   [indicatorInstanceValue]="secondTVETSchoolIndicatorInstanceId"
                                                                   [isRequired]="true"
                                                                   [validationHelper]="buildingValidationHelper"
                                                                   [verticalClassifierName]="'ClassroomType'">
            </sis-census-indicator-tracking-multi3LSecondTVETSchoolView>

        </div>


               <div #numberClassroomExceedName>
                   <label class="sis-label">How many classrooms need REPAIR?</label>
                   <sis-census-indicator-tracking-1L-HView [census]="census" [classifierList]="classifierList"
                                                       [noTopLeftCellLabel]="true"
                                                       [tableId]="'repairTableId'"
                                                       [indicatorInstanceId]="buildingClassroomsRepairedIndicatorInstanceId"
                                                       [horizontalClassifierName]="'ClassroomRepairType'">
                   </sis-census-indicator-tracking-1L-HView>
               </div>


                      <sis-census-indicator-tracking-0LevelView [census]="census" *ngIf="!isTVET()" [classifierList]="classifierList"
                                                            [indicatorInstanceId]="basicSecUncompletedIndicatorInstanceId"
                                                            [filteredClassifierId]="1"
                                                            [filteredClassifierName]="'ClassroomUncompleted'">
                      </sis-census-indicator-tracking-0LevelView>


                      <sis-census-indicator-tracking-0LevelView [census]="census" *ngIf="isSecondSchool()" [classifierList]="classifierList"
                                                            [indicatorInstanceId]="secTVETPermanentIndicatorInstanceId"
                                                            [filteredClassifierId]="2"
                                                            [isRequired]="true"
                                                            [validationHelper]="buildingValidationHelper"
                                                            [filteredClassifierName]="'ClassroomUncompleted'">

                      </sis-census-indicator-tracking-0LevelView>


                      <sis-census-indicator-tracking-0LevelView [census]="census" *ngIf="isTVET()" [classifierList]="classifierList"
                                                            [indicatorInstanceId]="secTVETPermanentIndicatorInstanceId"
                                                            [filteredClassifierId]="4"
                                                            [isRequired]="true"
                                                            [validationHelper]="buildingValidationHelper"
                                                            [filteredClassifierName]="'ClassroomUncompleted'">
                      </sis-census-indicator-tracking-0LevelView>


                      <sis-census-indicator-tracking-0LevelView [census]="census" *ngIf="!isBasicSchool()" [classifierList]="classifierList"
                                                            [indicatorInstanceId]="secTVETTemporaryIndicatorInstanceId"
                                                            [filteredClassifierId]="3"
                                                            [isRequired]="true"
                                                            [validationHelper]="buildingValidationHelper"
                                                            [filteredClassifierName]="'ClassroomUncompleted'">
                      </sis-census-indicator-tracking-0LevelView>

        <!--
                             <div class="sis-controls&#45;&#45;top-margin" *ngIf="isBasicSchool()" #buildingRoomsName>
                                 <div class="sis-control-validation">
                                     <sis-error [id]="'buildingRoomsValidation'"
                                                [forControl]="buildingRoomsName" [isInput]="true"
                                                [errorClass]="'sis-validation-wrapper&#45;&#45;element'"
                                                [errorMessage]="buildingValidationHelper.buildingBasicRoomsValidation()"
                                                [class]="'sis-float-left'">
                                     </sis-error>
                                     <label class="sis-label">How many rooms in each level does the school have?</label>
                                 </div>
                                 <sis-census-indicator-tracking-2L [census]="census"
                                                                   [classifierList]="classifierList"
                                                                   [tableId]="'buildingBasicRoomsTableId'"
                                                                   [topLeftCellLabel]="'Rooms'"
                                                                   [indicatorInstanceId]="buildingBasicRoomsIndicatorInstanceId"
                                                                   [horizontalClassifierName]="'SchoolLevelGroup'"
                                                                   [horizontalClassifierFilterPropertyName]="'schoolTypeId'"
                                                                   [horizontalClassifierFilterPropertyValue]="basicSchoolTypeId"
                                                                   [verticalClassifierName]="'AvailableRoomsType'">
                                 </sis-census-indicator-tracking-2L>
                             </div>


                             <div class="sis-controls&#45;&#45;top-margin sis-clear" *ngIf="isBasicSchool()" #buildingRoomsToBeRepairedName>
                                 <div class="sis-control-validation">
                                     <sis-error [id]="'buildingRoomsToBeRepairedValidation'"
                                                [forControl]="buildingRoomsToBeRepairedName" [isInput]="true"
                                                [errorClass]="'sis-validation-wrapper&#45;&#45;element'"
                                                [errorMessage]="buildingValidationHelper.buildingBasicRoomsToBeRepairedValidation()"
                                                [class]="'sis-float-left'">
                                     </sis-error>
                                     <label class="sis-label">How many of your permanent rooms need REPAIR?</label>
                                 </div>
                                 <sis-census-indicator-tracking-2L [census]="census"
                                                                   [classifierList]="classifierList"
                                                                   [tableId]="'buildingBasicRoomsRepairedTableId'"
                                                                   [topLeftCellLabel]="'Rooms'"
                                                                   [indicatorInstanceId]="buildingBasicRoomsRepairedIndicatorInstanceId"
                                                                   [horizontalClassifierName]="'SchoolLevelGroup'"
                                                                   [horizontalClassifierFilterPropertyName]="'schoolTypeId'"
                                                                   [horizontalClassifierFilterPropertyValue]="basicSchoolTypeId"
                                                                   [verticalClassifierName]="'RepairTypeNumber'">
                                 </sis-census-indicator-tracking-2L>
                             </div>

                             <div class="sis-controls&#45;&#45;top-margin" *ngIf="isSecondSchool()" #buildingSecondaryVehiclesName>
                                 <div class="sis-control-validation">
                                     <sis-error [id]="'buildingSecondaryVehiclesValidation'"
                                                [forControl]="buildingSecondaryVehiclesName" [isInput]="true"
                                                [errorClass]="'sis-validation-wrapper&#45;&#45;element'"
                                                [errorMessage]="buildingValidationHelper.buildingSecondaryVehiclesValidation()"
                                                [class]="'sis-float-left'">
                                     </sis-error>
                                     <label class="sis-label">What is the NUMBER and condition of vehicles at your institution?</label>
                                 </div>
                                 <sis-census-indicator-tracking-2L [census]="census"
                                                                   [classifierList]="classifierList"
                                                                   [tableId]="'buildingSecVehicleNumberConditionTableId'"
                                                                   [topLeftCellLabel]="''"
                                                                   [indicatorInstanceId]="buildingSecVehicleNumberConditionIndicatorInstanceId"
                                                                   [horizontalClassifierName]="'SchoolRepairRoom'"
                                                                   [verticalClassifierName]="'Vehicle'">
                                 </sis-census-indicator-tracking-2L>
                             </div>

                             <div class="sis-controls&#45;&#45;top-margin">
                                 <sis-census-indicator-tracking-2L [census]="census" *ngIf="isBasicSchool()"
                                                                   [classifierList]="classifierList"
                                                                   [schoolTypeId]="schoolTypeId"
                                                                   [label]="'What is the number and the state of repairs of the following structures?'"
                                                                   [tableId]="'buildingBasicTvetRepairStateStructuresTableId'"
                                                                   [topLeftCellLabel]="'Facilities'"
                                                                   [indicatorInstanceId]="buildingBasicTvetRepairStateStructuresIndicatorInstanceId"
                                                                   [horizontalClassifierName]="'StructureTypeNumber'"
                                                                   [verticalClassifierFilterPropertyName]="'facilityId'"
                                                                   [verticalClassifierFilterPropertyValue]="constants.REPAIR_STATE_CHANGING_ROOMS_CLASSIFIER_ID"
                                                                   [verticalClassifierName]="'Facility'">
                                 </sis-census-indicator-tracking-2L>
                             </div>

                             <div class="sis-controls&#45;&#45;top-margin">
                                 <sis-census-indicator-tracking-2L [census]="census" *ngIf="isTVET()"
                                                                   [classifierList]="classifierList"
                                                                   [schoolTypeId]="schoolTypeId"
                                                                   [label]="'What is the number and the state of repairs of the following structures?'"
                                                                   [tableId]="'buildingBasicTvetRepairStateStructuresTableId'"
                                                                   [topLeftCellLabel]="'Facilities'"
                                                                   [indicatorInstanceId]="buildingBasicTvetRepairStateStructuresIndicatorInstanceId"
                                                                   [horizontalClassifierName]="'StructureTypeNumber'"
                                                                   [verticalClassifierFilterPropertyName]="'facilityId'"
                                                                   [verticalClassifierFilterPropertyValue]="constants.REPAIR_STATE_HEADS_QUARTERS_CLASSIFIER_ID"
                                                                   [verticalClassifierName]="'Facility'">
                                 </sis-census-indicator-tracking-2L>
                             </div>-->
    </div>
</div>