<div class="mdl-grid mdl-grid--no-spacing" title="">
    <div class="mdl-cell mdl-cell--12-col">

        <div>
            <label class="sis-label">5.1 Specify the GENERAL construction of the institutions buildings by indicating
                the
                NUMBER of permanent classrooms with the appropriate description</label>

            <sis-census-indicator-tracking-multi3LView [census]="census" *ngIf="isBasicSchool()"
                                                       [school]="school"
                                                       [classifierList]="classifierList"
                                                       [tableId]="'generalConstructionTableId'"
                                                       [topLevelClassifierName]="'ClassroomConstruction'"
                                                       [topLevelClassifierFieldName]="'buildingConstructionId'"
                                                       [horizontalClassifierName]="'SchoolLevelGroup'"
                                                       [horizontalClassifierFieldName]="'schoolLevelGroupId'"
                                                       [horizontalClassifierFilterPropertyName]="'schoolTypeId'"
                                                       [horizontalClassifierFilterPropertyValue]="basicSchoolTypeId"
                                                       [indicatorInstanceValue]="basicSchoolIndicatorInstanceId"
                                                       [verticalClassifierName]="'ClassroomType'"
                                                       [verticalClassifierFieldName]="'classroomTypeId'">
            </sis-census-indicator-tracking-multi3LView>

            <sis-census-indicator-tracking-multi3LSecondTVETSchoolView [census]="census" *ngIf="isSecondSchool()"
                                                                       [classifierList]="classifierList"
                                                                       [tableId]="'generalConstructionTableId'"
                                                                       [topLevelClassifierName]="'ClassroomConstruction'"
                                                                       [topLevelClassifierFieldName]="'buildingConstructionId'"
                                                                       [indicatorInstanceValue]="secondTVETSchoolIndicatorInstanceId"
                                                                       [verticalClassifierName]="'ClassroomType'"
                                                                       [verticalClassifierFieldName]="'classroomTypeId'">
            </sis-census-indicator-tracking-multi3LSecondTVETSchoolView>

            <sis-census-indicator-tracking-multi3LSecondTVETSchoolView [census]="census" *ngIf="isTVET()"
                                                                       [classifierList]="classifierList"
                                                                       [tableId]="'generalConstructionTableId'"
                                                                       [topLevelClassifierName]="'ClassroomConstruction'"
                                                                       [topLevelClassifierFieldName]="'buildingConstructionId'"
                                                                       [indicatorInstanceValue]="secondTVETSchoolIndicatorInstanceId"
                                                                       [verticalClassifierName]="'ClassroomType'"
                                                                       [verticalClassifierFieldName]="'classroomTypeId'">
            </sis-census-indicator-tracking-multi3LSecondTVETSchoolView>
        </div>

        <div class="sis-controls--top-margin sis-clear" *ngIf="isBasicSchool()">
            <label class="sis-label">5.2 How many rooms in each level does the school have?</label>
            <sis-census-indicator-tracking-2L-view [census]="census"
                                                   [school]="school"
                                                   [classifierList]="classifierList"
                                                   [tableId]="'buildingBasicRoomsTableId'"
                                                   [topLeftCellLabel]="'Rooms'"
                                                   [indicatorInstanceId]="buildingBasicRoomsIndicatorInstanceId"
                                                   [horizontalClassifierName]="'SchoolLevelGroup'"
                                                   [horizontalClassifierFieldName]="'schoolLevelGroupId'"
                                                   [horizontalClassifierFilterPropertyName]="'schoolTypeId'"
                                                   [horizontalClassifierFilterPropertyValue]="basicSchoolTypeId"
                                                   [verticalClassifierName]="'AvailableRoomsType'"
                                                   [verticalClassifierFieldName]="'availableRoomsTypeId'">
            </sis-census-indicator-tracking-2L-view>
        </div>

        <sis-census-indicator-tracking-0LevelView [census]="census" *ngIf="isSecondSchool()"
                                                  [classifierList]="classifierList"
                                                  [indicatorInstanceId]="secTVETPermanentIndicatorInstanceId"
                                                  [sectionNumber]="'5.2'"
                                                  [filteredClassifierId]="2"
                                                  [isRequired]="true"
                                                  [validationHelper]="buildingValidationHelper"
                                                  [filteredClassifierName]="'ClassroomUncompleted'"
                                                  [filteredClassifierFieldName]="'classroomUncompletedId'">

        </sis-census-indicator-tracking-0LevelView>

        <sis-census-indicator-tracking-0LevelView [census]="census" *ngIf="isTVET()" [classifierList]="classifierList"
                                                  [indicatorInstanceId]="secTVETPermanentIndicatorInstanceId"
                                                  [sectionNumber]="'5.2'"
                                                  [filteredClassifierId]="4"
                                                  [isRequired]="true"
                                                  [validationHelper]="buildingValidationHelper"
                                                  [filteredClassifierName]="'ClassroomUncompleted'"
                                                  [filteredClassifierFieldName]="'classroomUncompletedId'">
        </sis-census-indicator-tracking-0LevelView>


        <sis-census-indicator-tracking-0LevelView [census]="census" *ngIf="!isBasicSchool()"
                                                  [classifierList]="classifierList"
                                                  [indicatorInstanceId]="secTVETTemporaryIndicatorInstanceId"
                                                  [sectionNumber]="'5.3'"
                                                  [filteredClassifierId]="3"
                                                  [isRequired]="true"
                                                  [validationHelper]="buildingValidationHelper"
                                                  [filteredClassifierName]="'ClassroomUncompleted'"
                                                  [filteredClassifierFieldName]="'classroomUncompletedId'">
        </sis-census-indicator-tracking-0LevelView>

        <div class="sis-controls--top-margin sis-clear" *ngIf="isBasicSchool()">
            <label class="sis-label">5.3 How many of your permanent rooms need REPAIR?</label>
            <sis-census-indicator-tracking-2L-view [census]="census"
                                                   [school]="school"
                                                   [classifierList]="classifierList"
                                                   [tableId]="'buildingBasicRoomsRepairedTableId'"
                                                   [topLeftCellLabel]="'Rooms'"
                                                   [indicatorInstanceId]="buildingBasicRoomsRepairedIndicatorInstanceId"
                                                   [horizontalClassifierName]="'SchoolLevelGroup'"
                                                   [horizontalClassifierFieldName]="'schoolLevelGroupId'"
                                                   [horizontalClassifierFilterPropertyName]="'schoolTypeId'"
                                                   [horizontalClassifierFilterPropertyValue]="basicSchoolTypeId"
                                                   [verticalClassifierName]="'RepairTypeNumber'"
                                                   [verticalClassifierFieldName]="'repairTypeNumberId'">
            </sis-census-indicator-tracking-2L-view>
        </div>

        <!-- START Out of those needing major repairs, how many have:-->
        <div class="sis-controls--top-margin sis-clear">
            <label class="sis-label">5.4 Out of those needing major repairs, how many have:</label>
            <sis-census-indicator-tracking-2L-view [census]="census" *ngIf="isBasicSchool()"
                                                   [school]="school"
                                                   [classifierList]="classifierList"
                                                   [tableId]="'buildingBasicBuildingRepairedTableId'"
                                                   [topLeftCellLabel]=""
                                                   [indicatorInstanceId]="183"
                                                   [horizontalClassifierName]="'SchoolLevelGroup'"
                                                   [horizontalClassifierFieldName]="'schoolLevelGroupId'"
                                                   [horizontalClassifierFilterPropertyName]="'schoolTypeId'"
                                                   [horizontalClassifierFilterPropertyValue]="basicSchoolTypeId"
                                                   [verticalClassifierName]="'BuildingRepair'"
                                                   [verticalClassifierFieldName]="'buildingRepairId'">
            </sis-census-indicator-tracking-2L-view>

            <sis-census-indicator-tracking-1L-V-view [census]="census" *ngIf="!isBasicSchool()"
                                                     [classifierList]="classifierList"
                                                     [isLabelRequired]="true"
                                                     [tableId]="'buildingBuildingRepairedTableId'"
                                                     [topLeftCellLabel]=""
                                                     [topRightCellLabel]=""
                                                     [columnCount]="0"
                                                     [indicatorInstanceId]="184"
                                                     [verticalClassifierName]="'BuildingRepair'"
                                                     [verticalClassifierFieldName]="'buildingRepairId'">
            </sis-census-indicator-tracking-1L-V-view>
        </div>
        <!-- END Out of those needing major repairs, how many have:-->

        <sis-census-indicator-tracking-0LevelView [census]="census" *ngIf="!isTVET()" [classifierList]="classifierList"
                                                  [indicatorInstanceId]="basicSecUncompletedIndicatorInstanceId"
                                                  [sectionNumber]="'5.5'"
                                                  [filteredClassifierId]="1"
                                                  [filteredClassifierName]="'ClassroomUncompleted'"
                                                  [filteredClassifierFieldName]="'classroomUncompletedId'">
        </sis-census-indicator-tracking-0LevelView>

        <!-- START What is the number and the conditions of the following rooms/blocks? -->
        <div class="sis-controls--top-margin">
            <sis-census-indicator-tracking-2L-view [census]="census" *ngIf="isBasicSchool()"
                                                   [school]="school"
                                                   [classifierList]="classifierList"
                                                   [label]="'5.6 What is the number and the conditions of the following rooms/blocks?'"
                                                   [tableId]="'buildingBasicTvetRepairStateStructuresTableId'"
                                                   [topLeftCellLabel]="'Facilities'"
                                                   [indicatorInstanceId]="buildingBasicTvetRepairStateStructuresIndicatorInstanceId"
                                                   [horizontalClassifierName]="'StructureTypeNumber'"
                                                   [horizontalClassifierFieldName]="'structureTypeNumberId'"
                                                   [verticalClassifierFilterArray]="filteredClassifiersId"
                                                   [verticalClassifierName]="'Facility'"
                                                   [verticalClassifierFieldName]="'facilityId'">
            </sis-census-indicator-tracking-2L-view>

            <sis-census-indicator-tracking-2L-view [census]="census" *ngIf="isSecondSchool()"
                                                   [school]="school"
                                                   [classifierList]="classifierList"
                                                   [label]="'5.6 What is the number and the conditions of the following rooms/blocks?'"
                                                   [tableId]="'buildingBasicTvetRepairStateStructuresTableId'"
                                                   [topLeftCellLabel]="'Facilities'"
                                                   [indicatorInstanceId]="buildingBasicTvetRepairStateStructuresIndicatorInstanceId"
                                                   [horizontalClassifierName]="'StructureTypeNumber'"
                                                   [horizontalClassifierFieldName]="'structureTypeNumberId'"
                                                   [verticalClassifierFilterArray]="filteredClassifiersId"
                                                   [verticalClassifierName]="'Facility'"
                                                   [verticalClassifierFieldName]="'facilityId'">
            </sis-census-indicator-tracking-2L-view>

            <sis-census-indicator-tracking-2L-view [census]="census" *ngIf="isTVET()"
                                                   [school]="school"
                                                   [classifierList]="classifierList"
                                                   [label]="'5.5 What is the number and the conditions of the following rooms/blocks?'"
                                                   [tableId]="'buildingBasicTvetRepairStateStructuresTableId'"
                                                   [topLeftCellLabel]="'Facilities'"
                                                   [indicatorInstanceId]="buildingBasicTvetRepairStateStructuresIndicatorInstanceId"
                                                   [horizontalClassifierName]="'StructureTypeNumber'"
                                                   [horizontalClassifierFieldName]="'structureTypeNumberId'"
                                                   [verticalClassifierFilterArray]="filteredClassifiersId"
                                                   [verticalClassifierName]="'Facility'"
                                                   [verticalClassifierFieldName]="'facilityId'">
            </sis-census-indicator-tracking-2L-view>
        </div>
        <!-- END What is the number and the conditions of the following rooms/blocks? -->

        <div class="sis-controls--top-margin" *ngIf="isSecondSchool()">
            <label class="sis-label">5.7 What is the NUMBER and condition of vehicles at your institution?</label>
            <sis-census-indicator-tracking-2L-view [census]="census"
                                                   [school]="school"
                                                   [classifierList]="classifierList"
                                                   [tableId]="'buildingSecVehicleNumberConditionTableId'"
                                                   [topLeftCellLabel]="''"
                                                   [indicatorInstanceId]="buildingSecVehicleNumberConditionIndicatorInstanceId"
                                                   [horizontalClassifierName]="'SchoolRepairRoom'"
                                                   [horizontalClassifierFieldName]="'schoolRepairRoomId'"
                                                   [verticalClassifierName]="'Vehicle'"
                                                   [verticalClassifierFieldName]="'vehicleId'">
            </sis-census-indicator-tracking-2L-view>
        </div>
    </div>
</div>