.sis-notification-position {
  position: relative;
  margin: 0 auto; }

.sis-layout {
  margin: 4px auto;
  min-width: 266px;
  margin: 0 auto;
  padding: 8px 0; }

@media (min-width: 1200px) {
  .sis-layout {
    max-width: 1170px; } }

.sis-notification-failure-fl:before, .sis-notification-success-fl:before, .sis-notification-nomodification-fl:before {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
  vertical-align: middle;
  font-size: 24px !important;
  margin-right: 12px;
  margin-top: -2px; }

.sis-notification-failure-fl:first-child, .sis-notification-success-fl:first-child {
  margin-top: 0; }

.sis-notification-failure-fl, .sis-notification-success-fl, .sis-notification-nomodification-fl {
  display: inline-flex;
  width: 100%;
  box-sizing: border-box !important;
  padding: 16px;
  font-size: 14px;
  align-items: center;
  margin-top: 30px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  position: absolute;
  right: 15px;
  margin-top: 0;
  top: 120px;
  width: auto;
  z-index: 1000;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.sis-notification-failure-fl {
  background: #f9dddd;
  color: rgba(0, 0, 0, 0.87); }

.sis-notification-failure-fl:before {
  content: 'report_problem' !important;
  color: #a11c1c; }

.sis-notification-success-fl {
  background: #e8f9e4;
  color: #15380d; }

.sis-notification-success-fl:before {
  content: 'check' !important;
  color: #3ca124; }

.sis-notification-nomodification-fl {
  background: #fdfad7;
  color: #393503; }

.sis-notification-nomodification-fl:before {
  content: 'note' !important;
  color: #fbc12e; }
