        <div class="mdl-grid mdl-grid--no-spacing" title="">
            <div class="mdl-cell mdl-cell--12-col">
                <div id="indicatorBasicId" *ngIf="isBasicSchool()">

                    <div class="sis-control-validation">
                        <sis-error [id]="'enrolmentManyPrimaryValidation'"
                                   [forControl]="enrolmentManyPrimaryName" [isInput]="true"
                                   [errorClass]="'sis-validation-wrapper--grouped-inline'"
                                   [errorMessage]="enrollmentValidationHelper.enrolmentManyPrimaryValidation()"
                                   [class]="'sis-float-left'">
                        </sis-error>
                        <label class="sis-label sis-element-required">8.1 How MANY pupils did you admit to Primary 1 this academic year (do not include repeaters)?</label>
                    </div>
                    <div #enrolmentManyPrimaryName>
                        <sis-census-indicator-tracking-2L [census]="census"
                                                          [school]="school"
                                                          [classifierList]="classifierList"
                                                          [tableId]="'enrolmentManyTableId'"
                                                          [topLeftCellLabel]="'Age'"
                                                          [indicatorInstanceId]="enrolmentBasicManyPrimary"
                                                          [horizontalClassifierName]="'Pupil'"
                                                          [horizontalClassifierFieldName]="'pupilId'"
                                                          [verticalClassifierFilterPropertyName]="'ageParentId'"
                                                          [verticalClassifierFilterPropertyValue]="constants.AGE_BENROLMENT_CLASSIFIER_ID"
                                                          [verticalClassifierName]="'Age'"
                                                          [verticalClassifierFieldName]="'ageId'">
                        </sis-census-indicator-tracking-2L>
                    </div>


                    <div class="sis-control-validation">
                            <sis-error [id]="'enrolmentNewPrimaryValidation'"
                                       [forControl]="enrolmentNewPrimaryName" [isInput]="true"
                                       [errorClass]="'sis-validation-wrapper--grouped-inline'"
                                       [errorMessage]="enrollmentValidationHelper.enrolmentNewPrimaryValidation()"
                                       [class]="'sis-float-left'">
                            </sis-error>
                            <sis-error [id]="'enrolmentExceedPrimaryValidation'"
                                       [forControl]="enrolmentNewPrimaryName" [isInput]="true"
                                       [errorClass]="'sis-validation-wrapper--grouped-inline'"
                                       [errorMessage]="enrollmentValidationHelper.enrolmentExceedPrimaryValidation()"
                                       [class]="'sis-float-left'">
                            </sis-error>
                            <label class="sis-label sis-element-required">8.2 Out of the NEW Pupils admitted to Primary 1, how many of them are directly from KG?</label>
                    </div>
                    <div #enrolmentNewPrimaryName>
                        <sis-census-indicator-tracking-2L [census]="census"
                                                          [school]="school"
                                                          [classifierList]="classifierList"
                                                          [tableId]="'enrolmentNewTableId'"
                                                          [topLeftCellLabel]="'Age'"
                                                          [indicatorInstanceId]="enrolmentBasicNewPrimary"
                                                          [horizontalClassifierName]="'Pupil'"
                                                          [horizontalClassifierFieldName]="'pupilId'"
                                                          [verticalClassifierFilterPropertyName]="'ageParentId'"
                                                          [verticalClassifierFilterPropertyValue]="constants.AGE_BENROLMENT_CLASSIFIER_ID"
                                                          [verticalClassifierName]="'Age'"
                                                          [verticalClassifierFieldName]="'ageId'">
                        </sis-census-indicator-tracking-2L>
                    </div>


                    <div class="sis-control-validation">
                            <sis-error [id]="'enrolmentGradeValidation'"
                                       [forControl]="enrolmentGradeName" [isInput]="true"
                                       [errorClass]="'sis-validation-wrapper--grouped'"
                                       [errorMessage]="enrollmentValidationHelper.enrolmentGradeValidation()"
                                       [class]="'sis-float-left'">
                            </sis-error>
                            <sis-error [id]="'enrolmentGradePrimaryExceedValidation'"
                                       [forControl]="enrolmentGradeName" [isInput]="true"
                                       [errorClass]="'sis-validation-wrapper--grouped'"
                                       [errorMessage]="enrollmentValidationHelper.enrolmentGradePrimaryExceedValidation()"
                                       [class]="'sis-float-left'">
                            </sis-error>
                            <label class="sis-label sis-element-required">8.3 Enrolment by Grade</label>
                    </div>
                    <div #enrolmentGradeName>
                        <sis-census-indicator-tracking-1L-H [census]="census"
                                                            [school]="school"
                                                            [classifierList]="classifierList"
                                                            [tableId]="'enrolmentByGradeTableId'"
                                                            [indicatorInstanceId]="enrolmentBasicGrade"
                                                            [horizontalClassifierName]="'SchoolLevel'"
                                                            [horizontalClassifierFieldName]="'schoolLevelId'"
                                                            [topLeftCellLabel]="'Grade'"
                                                            [verticalRowName]="'Number of classes held in open air'">
                        </sis-census-indicator-tracking-1L-H>
                    </div>

                    <div class="sis-controls--top-margin">
                        <sis-census-indicator-tracking-1L-H [census]="census"
                                                            [school]="school"
                                                            [classifierList]="classifierList"
                                                            [label]="'8.4 How MANY Streams have classes in the open air?'"
                                                            [tableId]="'enrolmentByStreamsTableId'"
                                                            [indicatorInstanceId]="enrolmentBasicStreams"
                                                            [horizontalClassifierName]="'SchoolLevel'"
                                                            [horizontalClassifierFieldName]="'schoolLevelId'"
                                                            [topLeftCellLabel]="'Grade'"
                                                            [verticalRowName]="'Number of classes held in open air'">
                        </sis-census-indicator-tracking-1L-H>
                    </div>


                    <div class="sis-control-validation">
                        <sis-error [id]="'enrolmentBasicBySexAndAgeValidation'"
                                   [forControl]="enrolmentBasicBySexAndAgeName" [isInput]="true"
                                   [errorClass]="'sis-validation-wrapper--grouped'"
                                   [errorMessage]="enrollmentValidationHelper.enrolmentBasicBySexAndAgeValidation()"
                                   [class]="'sis-float-left'">
                        </sis-error>
                        <label class="sis-label sis-element-required">8.5 Enrolment by sex and age</label>
                    </div>
                    <div #enrolmentBasicBySexAndAgeName>
                        <sis-census-indicator-tracking-3L [census]="census"
                                                          [school]="school"
                                                          [classifierList]="classifierList"
                                                          [tableId]="enrolmentBySexAndAgeTableId"
                                                          [topLeftCellLabel]="'Grade'"
                                                          [verticalClassifierName]="'Age'"
                                                          [verticalClassifierFieldName]="'ageId'"
                                                          [horizontalFirstLevelClassifierName]="'SchoolLevel'"
                                                          [horizontalFirstLevelClassifierFieldName]="'schoolLevelId'"
                                                          [horizontalSecondLevelClassifierName]="'Pupil'"
                                                          [horizontalSecondLevelClassifierFieldName]="'pupilId'"
                                                          [verticalClassifierFilterPropertyName]="'ageParentId'"
                                                          [verticalClassifierFilterPropertyValue]="constants.AGE_BASIC_ENROLMENT_BY_AGE_CLASSIFIER_ID"
                                                          [visibilityFilter]="'EnrolmentAgeSchoolLevel'"
                                                          [visibilityFilterPropertyName]="'isChecked'"
                                                          [hasTotalRow]="true"
                                                          [indicatorType]="enrolmentBasicBySexAndAge">
                        </sis-census-indicator-tracking-3L>
                    </div>
                </div>

                <div id="indicatorSecId" *ngIf="isSecondSchool()">
                    <div class="sis-control-validation">
                            <sis-error [id]="'enrolmentInProgrammeSecondaryValidation'"
                                       [forControl]="enrolmentInProgrammeSecondaryName" [isInput]="true"
                                       [errorClass]="'sis-validation-wrapper--grouped-inline'"
                                       [errorMessage]="enrollmentValidationHelper.enrolmentInProgrammeValidation()"
                                       [class]="'sis-float-left'">
                            </sis-error>
                            <label class="sis-label sis-element-required">8.1 Enrolment in Programme</label>
                    </div>
                    <div #enrolmentInProgrammeSecondaryName>
                        <sis-census-indicator-tracking-3L-2H-2T [census]="census"
                                                                [classifierList]="classifierList"
                                                                [tableId]="enrolmentInProgrammeTableId"
                                                                [topLeftCellCodeLabel]="'Code'"
                                                                [topLeftCellSubjectLabel]="'Subjects'"
                                                                [verticalClassifierName]="'EnrolmentSubjects'"
                                                                [verticalClassifierFieldName]="'enrolmentSubjectId'"
                                                                [horizontalFirstLevelClassifierName]="'SchoolLevelGroup'"
                                                                [horizontalFirstLevelClassifierFieldName]="'schoolLevelGroupId'"
                                                                [horizontalSecondLevelClassifierName]="'Pupil'"
                                                                [horizontalSecondLevelClassifierFieldName]="'pupilId'"
                                                                [hasParent]="'true'"
                                                                [hasVerticalCode]="'true'"
                                                                [hasVerticalTotalColumn]="'false'"
                                                                [hasHorizontalFirstLevelClassifierFilterRange]="'true'"
                                                                [horizontalFirstLevelClassifierFilterRangeFrom]="constants.SUMMARY_OF_ENROLMENT_BY_PROGRAMME_RANGE_FROM"
                                                                [horizontalFirstLevelClassifierFilterRangeTo]="constants.SUMMARY_OF_ENROLMENT_BY_PROGRAMME_RANGE_TO"
                                                                [indicatorType]="enrolmentSecondaryInProgramme">
                        </sis-census-indicator-tracking-3L-2H-2T>
                    </div>


                    <div class="sis-control-validation">
                            <sis-error [id]="'summaryOfEnrolmentInProgrammeSecondaryValidation'"
                                       [forControl]="summaryOfEnrolmentInProgrammeSecondaryName" [isInput]="true"
                                       [errorClass]="'sis-validation-wrapper--grouped-inline'"
                                       [errorMessage]="enrollmentValidationHelper.summaryOfEnrolmentInProgrammeValidation()"
                                       [class]="'sis-float-left'">
                            </sis-error>
                            <label class="sis-label sis-element-required">8.2 Summary of Enrolment by Programme</label>
                    </div>
                    <div #summaryOfEnrolmentInProgrammeSecondaryName>
                        <sis-census-indicator-tracking-4L [census]="census"
                                                          [classifierList]="classifierList"
                                                          [tableId]="enrolmentProgrammeTableId"
                                                          [topLeftCellLabel]="'Programme'"
                                                          [verticalClassifierName]="'EnrolmentProgramme'"
                                                          [verticalClassifierFieldName]="'enrolmentProgrammeId'"
                                                          [horizontalFirstLevelClassifierName]="'EnrolmentSummary'"
                                                          [horizontalFirstLevelClassifierFieldName]="'enrolmentSummaryId'"
                                                          [horizontalSecondLevelClassifierName]="'SchoolLevelGroup'"
                                                          [horizontalSecondLevelClassifierFieldName]="'schoolLevelGroupId'"
                                                          [horizontalThirdLevelClassifierName]="'Pupil'"
                                                          [horizontalThirdLevelClassifierFieldName]="'pupilId'"
                                                          [hasHorizontalSecondLevelClassifierFilterRange]="'true'"
                                                          [horizontalSecondLevelClassifierFilterRangeFrom]="constants.SUMMARY_OF_ENROLMENT_BY_PROGRAMME_RANGE_FROM"
                                                          [horizontalSecondLevelClassifierFilterRangeTo]="constants.SUMMARY_OF_ENROLMENT_BY_PROGRAMME_RANGE_TO"
                                                          [indicatorType]="enrolmentSecondarySummaryOfProgramme"
                                                          [hasTotalRowBySecondLevel]="true"
                                                          [hasTotalRowByThirdLevel]="true">
                        </sis-census-indicator-tracking-4L>
                    </div>



                    <div class="sis-control-validation">
                        <sis-error [id]="'enrolmentByAgeSecondaryValidation'"
                                   [forControl]="enrolmentByAgeSecondaryName" [isInput]="true"
                                   [errorClass]="'sis-validation-wrapper--element'"
                                   [errorMessage]="enrollmentValidationHelper.enrolmentByAgeValidation()"
                                   [class]="'sis-float-left'">
                        </sis-error>
                        <label class="sis-label sis-element-required">8.3 Enrolment by Age</label>
                    </div>
                    <div #enrolmentByAgeSecondaryName>
                        <sis-census-indicator-tracking-1L-H [census]="census"
                                                            [school]="school"
                                                            [classifierList]="classifierList"
                                                            [tableId]="'enrolmentByGradeSecondaryTableId'"
                                                            [indicatorInstanceId]="enrolmentSecStreamsByGrade"
                                                            [horizontalClassifierName]="'SchoolLevelGroup'"
                                                            [horizontalClassifierFieldName]="'schoolLevelGroupId'"
                                                            [horizontalClassifierFilterArray]="SCHOOL_LEVEL_GROUP_FOR_SECONDARY "
                                                            [hasVerticalTotalColumn]="true"
                                                            [topLeftCellLabel]="'Grade'"
                                                            [verticalRowName]="'Number of Streams in each grade'">
                        </sis-census-indicator-tracking-1L-H>
                        <sis-census-indicator-tracking-3L [census]="census"
                                                          [school]="school"
                                                          [classifierList]="classifierList"
                                                          [tableId]="enrolmentByAgeGroupSecondaryTableId"
                                                          [topLeftCellLabel]="'Age'"
                                                          [verticalClassifierName]="'Age'"
                                                          [verticalClassifierFieldName]="'ageId'"
                                                          [horizontalFirstLevelHeaderHidden]="true"
                                                          [horizontalFirstLevelClassifierName]="'SchoolLevelGroup'"
                                                          [horizontalFirstLevelClassifierFieldName]="'schoolLevelGroupId'"
                                                          [horizontalFirstLevelClassifierFilterPropertyName]="'schoolTypeId'"
                                                          [horizontalFirstLevelClassifierFilterPropertyValue]="constants.ENROLMENT_BY_GRADE_FILTER_PROPERTY_VALUE"
                                                          [horizontalSecondLevelClassifierName]="'Pupil'"
                                                          [horizontalSecondLevelClassifierFieldName]="'pupilId'"
                                                          [verticalClassifierFilterPropertyName]="'ageParentId'"
                                                          [verticalClassifierFilterPropertyValue]="constants.AGE_SEC_ENROLMENT_BY_AGE_CLASSIFIER_ID"
                                                          [hasTotalRow]="true"
                                                          [hasVerticalTotalColumn]="true"
                                                          [indicatorType]="enrolmentByAgeSec">
                        </sis-census-indicator-tracking-3L>
                    </div>
                </div>

                <div id="indicatorTvetId" *ngIf="isTVET()">
                    <div class="sis-control-validation">
                        <sis-error [id]="'enrolmentByAgeTVETValidation'"
                                   [forControl]="enrolmentByAgeTVETName" [isInput]="true"
                                   [errorClass]="'sis-validation-wrapper--grouped'"
                                   [errorMessage]="enrollmentValidationHelper.enrolmentByAgeTVETValidation()"
                                   [class]="'sis-float-left'">
                        </sis-error>
                        <label class="sis-label sis-element-required">7.1 Enrolment by Age</label>
                    </div>
                    <div #enrolmentByAgeTVETName>
                        <sis-census-indicator-tracking-3L [census]="census"
                                                          [school]="school"
                                                          [classifierList]="classifierList"
                                                          [tableId]="enrolmentByAgePart1TableId"
                                                          [topLeftCellLabel]="'Grade / Age'"
                                                          [verticalClassifierName]="'Age'"
                                                          [verticalClassifierFieldName]="'ageId'"
                                                          [horizontalFirstLevelClassifierName]="'Proficiency'"
                                                          [horizontalFirstLevelClassifierFieldName]="'proficiencyId'"
                                                          [horizontalSecondLevelClassifierName]="'Gender'"
                                                          [horizontalSecondLevelClassifierFieldName]="'genderId'"
                                                          [verticalClassifierFilterPropertyName]="'ageParentId'"
                                                          [verticalClassifierFilterPropertyValue]="constants.AGE_TVET_ENROLMENT_BY_AGE_CLASSIFIER_ID"
                                                          [horizontalFirstLevelClassifierRangeFilterTypeIsLesserThan]="true"
                                                          [horizontalFirstLevelClassifierRangeFilterValue]="constants.INTERMEDIATE_YEAR_1_CLASSIFIER_ID"
                                                          [hasTotalRow]="true"
                                                          [hasVerticalTotalColumn]="true"
                                                          [indicatorType]="enrolmentByAgeTvet">
                        </sis-census-indicator-tracking-3L>
                        <sis-census-indicator-tracking-3L [census]="census"
                                                          [school]="school"
                                                          [classifierList]="classifierList"
                                                          [tableId]="enrolmentByAgePart2TableId"
                                                          [topLeftCellLabel]="'Grade / Age'"
                                                          [verticalClassifierName]="'Age'"
                                                          [verticalClassifierFieldName]="'ageId'"
                                                          [horizontalFirstLevelClassifierName]="'Proficiency'"
                                                          [horizontalFirstLevelClassifierFieldName]="'proficiencyId'"
                                                          [horizontalSecondLevelClassifierName]="'Gender'"
                                                          [horizontalSecondLevelClassifierFieldName]="'genderId'"
                                                          [verticalClassifierFilterPropertyName]="'ageParentId'"
                                                          [verticalClassifierFilterPropertyValue]="constants.AGE_TVET_ENROLMENT_BY_AGE_CLASSIFIER_ID"
                                                          [horizontalFirstLevelClassifierRangeFilterTypeIsLesserThan]="false"
                                                          [horizontalFirstLevelClassifierRangeFilterValue]="constants.INTERMEDIATE_YEAR_1_CLASSIFIER_ID"
                                                          [hasTotalRow]="true"
                                                          [hasVerticalTotalColumn]="true"
                                                          [indicatorType]="enrolmentByAgeTvet">
                        </sis-census-indicator-tracking-3L>
                    </div>


                    <div class="sis-control-validation">
                            <sis-error [id]="'enrolmentProgrammeFullTimeValidation'"
                                       [forControl]="enrolmentProgrammeFullTimeName" [isInput]="true"
                                       [errorClass]="'sis-validation-wrapper--grouped'"
                                       [errorMessage]="enrollmentValidationHelper.enrolmentProgrammeFullTimeValidation()"
                                       [class]="'sis-float-left'">
                            </sis-error>
                            <label class="sis-label sis-element-required">7.2 Enrolment by Programmes (Full-Time students)</label>
                    </div>
                    <div #enrolmentProgrammeFullTimeName>
                        <sis-census-indicator-tracking-3L-2T [census]="census"
                                                             [classifierList]="classifierList"
                                                             [tableId]="enrolmentByProgrammesFullTimeTableId"
                                                             [topLeftCellCodeLabel]="'Code'"
                                                             [topLeftCellProgrammeLabel]="'Programmes'"
                                                             [verticalClassifierName]="'EnrolmentSubjects'"
                                                             [verticalClassifierFieldName]="'enrolmentSubjectId'"
                                                             [horizontalFirstLevelClassifierName]="'Proficiency'"
                                                             [horizontalFirstLevelClassifierFieldName]="'proficiencyId'"
                                                             [horizontalSecondLevelClassifierName]="'Gender'"
                                                             [horizontalSecondLevelClassifierFieldName]="'genderId'"
                                                             [question]="'How many Full-TIME students are enrolled in the programmes provided in your institution?'"
                                                             [hasParent]="'true'"
                                                             [hasVerticalCode]="'true'"
                                                             [hasVerticalTotalColumn]="'true'"
                                                             [horizontalFirstLevelClassifierRangeFilterType]="true"
                                                             [horizontalFirstLevelClassifierRangeFilterValue]="constants.INTERMEDIATE_YEAR_1_CLASSIFIER_ID"
                                                             [hasTotalRow]="true"
                                                             [hasVerticalTotalColumn]="true"
                                                             [indicatorType]="enrolmentTVETFullTime">
                        </sis-census-indicator-tracking-3L-2T>
                    </div>


                    <div class="sis-control-validation">
                            <sis-error [id]="'enrolmentProgrammePartTimeValidation'"
                                       [forControl]="enrolmentProgrammePartTimeName" [isInput]="true"
                                       [errorClass]="'sis-validation-wrapper--grouped'"
                                       [errorMessage]="enrollmentValidationHelper.enrolmentProgrammePartTimeValidation()"
                                       [class]="'sis-float-left'">
                            </sis-error>
                            <label class="sis-label sis-element-required">7.3 Enrolment by Programmes (Part-Time Students)</label>
                    </div>
                    <div #enrolmentProgrammePartTimeName>
                        <sis-census-indicator-tracking-3L-2T [census]="census"
                                                             [classifierList]="classifierList"
                                                             [tableId]="enrolmentByProgrammesPartTimeTableId"
                                                             [topLeftCellCodeLabel]="'Code'"
                                                             [topLeftCellProgrammeLabel]="'Programmes'"
                                                             [verticalClassifierName]="'EnrolmentSubjects'"
                                                             [verticalClassifierFieldName]="'enrolmentSubjectId'"
                                                             [horizontalFirstLevelClassifierName]="'Proficiency'"
                                                             [horizontalFirstLevelClassifierFieldName]="'proficiencyId'"
                                                             [horizontalSecondLevelClassifierName]="'Gender'"
                                                             [horizontalSecondLevelClassifierFieldName]="'genderId'"
                                                             [question]="'How many PART-TIME students are enrolled in the programmes provided in your institution?'"
                                                             [hasParent]="'true'"
                                                             [hasVerticalCode]="'true'"
                                                             [hasVerticalTotalColumn]="'true'"
                                                             [horizontalFirstLevelClassifierRangeFilterType]="true"
                                                             [horizontalFirstLevelClassifierRangeFilterValue]="constants.INTERMEDIATE_YEAR_1_CLASSIFIER_ID"
                                                             [hasTotalRow]="true"
                                                             [hasVerticalTotalColumn]="true"
                                                             [indicatorType]="enrolmentTVETPartTime">
                        </sis-census-indicator-tracking-3L-2T>
                    </div>
                </div>
            </div>
        </div>
