<div>
    <label class="sis-label">{{label}}</label>

    <!--&lt;!&ndash;-->
    <div class="sis-table-scroll">
        <table class="mdl-data-table mdl-js-data-table"
               id="{{tableId}}">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">{{topLeftCellLabel}}</th>
                <th class="sis-align-right">{{topRightCellLabel}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let indicatorTrackingItem of indicatorTrackingList">
                <td class="mdl-data-table__cell--non-numeric sis-vertical-center">
                    {{indicatorTrackingItem.verticalClassifier.getName()}}
                </td>
                <td>
                    <i class="material-icons material-check-icon"
                       *ngIf="indicatorTrackingItem.classifierValues[0].value != null && indicatorTrackingItem.classifierValues[0].value > 0">done</i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>