<div>
    <label class="sis-label">
        {{label}} </label>
    <div class="sis-table-scroll">
        <table class="mdl-data-table mdl-js-data-table sis-full-width"
               id="{{tableId}}">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">{{topLeftCellLabel}}</th>
                    <th *ngFor="let horizontalClassifier of filteredHorizontalClassifierList()"
                        class="mdl-data-table__cell--centered">
                            <span class="ui-column-title">
                                <span>{{horizontalClassifier.getName()}}</span>
                            </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let indicatorTrackingItem of indicatorTrackingList">
                    <td class="mdl-data-table__cell--non-numeric" style="min-width: 172px;">
                        {{indicatorTrackingItem.verticalClassifier.getName()}}
                    </td>
                    <td *ngFor="let value of indicatorTrackingItem.classifierValues; let i = index"
                        class="mdl-data-table__cell--centered">
                        <span *ngIf="indicatorTrackingItem.visibilityValues[i]">{{indicatorTrackingItem.classifierValues[i].value}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>