<div>
    <label class="sis-label">{{label}}</label>

    <div class="sis-table-scroll">
        <table class="mdl-data-table mdl-js-data-table"
               id="{{tableId}}">
            <thead>
                <tr>
                    <th rowspan="3" class="mdl-data-table__cell--non-numeric">{{topLeftCellLabel}}</th>
                    <th *ngFor="let horizontalFirstLevelClassifier of filteredHorizontalFirstLevelClassifierList()" class="mdl-data-table__cell--centered"
                        colspan="6">
                        <span>{{horizontalFirstLevelClassifier.getName()}}</span>
                    </th>
                </tr>
                <tr>
                    <th *ngFor="let horizontalSecondLevelClassifier of filteredHorizontalSecondLevelByFirstLevelClassifierList()" colspan="2" class="mdl-data-table__cell--centered">
                        <span>{{horizontalSecondLevelClassifier.getName()}}</span>
                    </th>
                </tr>
                <tr>
                    <th *ngFor="let horizontalThirdLevelClassifier of filteredHorizontalThirdLevelByFirstAndSecondLevelClassifierList()" class="mdl-data-table__cell--centered">
                        <span>{{horizontalThirdLevelClassifier.getName()}}</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let indicatorTrackingItem of indicatorTrackingList">
                    <td class="mdl-data-table__cell--non-numeric">{{indicatorTrackingItem.verticalClassifier.getName()}}</td>
                    <td class="mdl-data-table__cell--centered" *ngFor="let value of indicatorTrackingItem.classifierValues; let i = index">
                        <input  type="number" [(ngModel)]="indicatorTrackingItem.classifierValues[i].value" inputMaxLength="7"
                               (ngModelChange)="onValueChanged($event, indicatorTrackingItem.subEntityValues[i])"
                               class="sis-input sis-small-width sis-align-right"/>
                    </td>
                </tr>
            </tbody>
            <tfoot>
            <tr *ngIf="hasTotalRowByThirdLevel">
                <td class="mdl-data-table__cell--non-numeric">Total by Gender</td>
                <td class="mdl-data-table__cell--centered" *ngFor="let horizontalThirdLevelClassifier of filteredHorizontalThirdLevelByFirstAndSecondLevelClassifierList(); let i = index">
                    {{totalByThirdLevel[i]}}
                </td>
            </tr>
            <tr *ngIf="hasTotalRowBySecondLevel">
                <td class="mdl-data-table__cell--non-numeric">Total by Class</td>
                <td colspan="2" class="mdl-data-table__cell--centered" *ngFor="let horizontalSecondLevelClassifier of filteredHorizontalSecondLevelByFirstLevelClassifierList(); let i = index">
                    {{totalBySecondLevel[i]}}
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>