/* =mixins
    -------------------------------------------------------------- */
/* =general styles
-------------------------------------------------------------- */
a {
  color: #24a0e5;
  text-decoration: none;
  font-weight: normal;
  cursor: pointer;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active,
a:hover {
  color: #1783bf;
  outline-width: 0; }

.mdl-cell.sis-layout__section {
  padding: 24px 24px 36px 24px;
  margin-top: 12px;
  margin-bottom: 12px; }

.sis-layout__section__title {
  background: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  font-style: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.87); }

.sis-card-actions {
  margin-left: auto;
  margin-top: -19px;
  padding-top: 8px; }

.sis-layout__section .sis-card-actions .mdl-button, .sis-layout__section .sis-card-actions .sis-btn--primary, .sis-layout__section .sis-card-actions .sis-btn--sec, .sis-layout__section .sis-card-actions .sis-btn--blue, .sis-layout__section .sis-card-actions .sis-button-icon-with-background, .sis-layout__section .sis-card-actions .sis-btn--has-icon {
  margin-top: 0; }

.sis-full-width {
  width: 100%; }

.sis-small-width {
  width: 80px !important; }

.sis-mid-width {
  width: 180px !important; }

.sis-large-width {
  width: 300px !important; }

.sis-max-width {
  max-width: 100%; }

.sis-align-right {
  text-align: right !important; }

.sis-align-left {
  text-align: left !important; }

.sis-margin--top0 {
  margin-top: 0 !important; }

.sis-margin--top-reset {
  margin-top: -30px !important; }

.sis-line-break {
  flex-basis: 100%;
  width: 0px;
  height: 0px;
  overflow: hidden; }

.sis-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.sis-nowrap {
  white-space: nowrap !important; }

.sis-float-right {
  float: right !important; }

.sis-float-left {
  float: left !important; }

.sis-clear {
  clear: both; }

.sis-img-responsive {
  max-width: 100%;
  height: auto; }

.sis-font-normal {
  font-weight: normal !important; }

.sis-vertical-center {
  vertical-align: middle !important; }

.sis-display-flex, .sis-flex-reverse, .sis-control-validation {
  display: -webkit-box !important;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox !important;
  /* TWEENER - IE 10 */
  display: -webkit-flex !important;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex !important; }

.sis-flex-reverse {
  flex-wrap: wrap-reverse; }

.sis-flex-reverse__last-item {
  margin-left: auto;
  align-self: flex-end; }
  @media (min-width: 0) and (max-width: 839px) {
    .sis-flex-reverse__last-item {
      width: 100%; } }

.sis-display-block {
  display: block; }

.sis-table-row {
  display: table-row; }

.sis-controls--top-margin {
  display: block;
  margin-top: 30px !important; }

.sis--text-light, .sis-no-data {
  color: rgba(0, 0, 0, 0.54); }

.sis-no-data {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.3); }

.sis-element-required:after {
  content: "*";
  color: #b94a48;
  font-size: 12px;
  margin-left: 3px; }

/*errors*/
.sis-control-error {
  border: #b94a48 1px solid !important; }

.sis-validation-wrapper--grouped {
  border: #b94a48 1px solid !important; }

.sis-validation-wrapper--element input, .sis-validation-wrapper--element select, .sis-validation-wrapper--element textarea, .sis-validation-wrapper--element .k-widget.k-datepicker, .sis-validation-wrapper--element .k-widget.k-combobox, .sis-validation-wrapper--element .sis-multilang-input {
  border: #b94a48 1px solid !important;
  border-radius: 3px; }

.sis-validation-wrapper--element .k-widget.k-datepicker input, .sis-validation-wrapper--element .k-widget.k-combobox input, .sis-validation-wrapper--element .sis-multilang-input input {
  border: #ddd 1px solid !important; }

.sis-upload .sis-validation-wrapper, .sis-upload .sis-validation-wrapper--no-margin, .sis-upload .sis-password-input__validation-wrapper {
  margin-top: 19px !important;
  margin-left: 16px !important; }

/*.sis-validation-wrapper {
  position: relative;
  margin-top: 28px;
  z-index: 1000;
}*/
.sis-validation-wrapper__message {
  z-index: 100; }

/*errors*/
.sis-action-buttons {
  display: block;
  width: 100%; }

.sis-cursor-pointer {
  cursor: pointer; }

.sis-input {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  background-clip: padding-box;
  border: #ddd 1px solid;
  height: 36px;
  padding: 0 8px;
  width: 100%;
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
  box-sizing: border-box !important; }

.sis-textarea {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  border: #ddd 1px solid !important;
  height: 2.214em;
  line-height: 1.5em;
  padding: 5px 8px;
  width: 100%;
  height: 150px; }

.sis-label {
  color: rgba(0, 0, 0, 0.36);
  font-size: 13px;
  line-height: 13px;
  font-weight: 700;
  margin-bottom: 12px;
  display: block;
  margin-top: 30px; }

.sis-flex-no-spacing {
  display: flex;
  margin-left: 0;
  margin-right: 0;
  width: 100%; }

.sis-paragraph {
  margin: 16px 0 0 0; }

.mdl-grid.mdl-grid--no-spacing > .mdl-cell .sis-paragraph:first-child {
  margin: 32px 0 0 0; }

/* =general styles
-------------------------------------------------------------- */
/* =overwrite some MDL styles
-------------------------------------------------------------- */
.material-icons, .sis-notification:before, .sis-notification--success:before {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.mdl-layout__content {
  background: #f3f3f3; }

.mdl-menu__item {
  width: 100%; }

.mdl-data-table th .mdl-data-table__select {
  bottom: auto; }

.mdl-layout {
  min-width: 320px;
  overflow: hidden; }

.mdl-mega-footer {
  margin: 0 15px;
  min-height: 30px;
  background: transparent; }
  .mdl-mega-footer a {
    margin-right: 30px;
    margin-bottom: 15px;
    width: 40px;
    min-width: 0;
    height: 40px;
    box-sizing: border-box;
    padding: 0;
    line-height: 40px; }

.mdl-layout__header-row {
  padding: 0;
  box-sizing: content-box; }
  @media (max-width: 900px) {
    .mdl-layout__header-row {
      height: 15px !important;
      padding: 0; } }
  @media (max-width: 1024px) {
    .mdl-layout__header-row {
      height: auto !important; } }

.mdl-cell {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  padding: 0 12px; }

.mdl-grid.mdl-grid--no-spacing {
  width: calc(100% + 24px);
  margin: 0 -12px;
  /* Our design does not need right and left paddings. So, make the width of container 24px bigger than 100% (left padding + right padding) and then move it left with 12 px and right with 12px to bring back to center. Just resetting the paddings of the cells removes them between the inned cells as well, which we do not want. */ }

.mdl-grid.mdl-grid--no-spacing > .mdl-cell {
  margin: 8px 0 !important; }

/* =End overwrite some MDL styles
-------------------------------------------------------------- */
/* =Header Validations
-------------------------------------------------------------- */
.sis-header__validation {
  background: #b94a48;
  padding: 5px;
  display: flex;
  position: relative;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box; }
  @media (max-width: 1200px) {
    .sis-header__validation {
      margin: 0 -16px;
      width: auto !important; } }
  @media (min-width: 1200px) {
    .sis-header__validation {
      margin: 0; } }
  @media (max-width: 479px) {
    .sis-header__validation {
      margin: 0 -8px; } }

.sis-header__validation-message {
  line-height: 23px;
  padding-left: 5px;
  color: #fff; }

.sis-header__validation-errors {
  position: absolute;
  top: 34px;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  overflow: hidden;
  max-height: 0;
  color: rgba(0, 0, 0, 0.87); }
  .sis-header__validation-errors ul {
    padding: 0 0 0 19px;
    margin: 0; }
  .sis-header__validation-errors li {
    padding: 5px 0; }

.sis-header__validation-errors--show {
  max-height: 1000px;
  display: block;
  padding: 10px 15px;
  transition: max-height 0.5s ease-in; }

.sis-header__validation-warning {
  color: #fff; }

.sis-header__validation-arrow {
  margin-top: 1px;
  margin-bottom: -1px;
  color: #fff; }

.sis-control-validation {
  position: relative; }

/* =Header Validations
-------------------------------------------------------------- */
/* =Notifications
-------------------------------------------------------------- */
.sis-notification, .sis-notification--success {
  display: inline-flex;
  padding: 24px;
  font-size: 14px;
  margin-top: 30px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  .sis-notification:before, .sis-notification--success:before {
    vertical-align: middle;
    font-size: 24px !important;
    margin-right: 12px; }

.mdl-grid.mdl-grid--no-spacing > .mdl-cell .sis-notification:first-child, .mdl-grid.mdl-grid--no-spacing > .mdl-cell .sis-notification--success:first-child {
  margin-top: 0; }

.sis-notification--success {
  background: #e8f9e4;
  color: #15380d; }
  .sis-notification--success:before {
    content: 'check' !important;
    color: #3ca124; }

/* =End Notifications
-------------------------------------------------------------- */
/* =Filters
-------------------------------------------------------------- */
.sis-filter__results-number {
  vertical-align: middle; }

.sis-filter--active-tab {
  color: rgba(0, 0, 0, 0.38);
  background: none;
  cursor: default;
  border-bottom: rgba(0, 0, 0, 0.38) 2px solid;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }
  .sis-filter--active-tab:hover {
    background: none; }

.sis-filter__icon .fa {
  font-size: 18px !important; }

.sis-filter__icon--active {
  color: #4c953b; }
  .sis-filter__icon--active .fa {
    color: #4c953b; }

/* =End Filters
-------------------------------------------------------------- */
/* =Media Queries
-------------------------------------------------------------- */
@media (min-width: 0) and (max-width: 839px) {
  .mdl-grid.sis-layout {
    padding: 8px 0; }
  .sis-layout__card-wrap {
    width: 100% !important;
    margin-bottom: 15px !important; }
  .sis--full-width-mobile {
    width: 100% !important; } }

@media (min-width: 480px) and (max-width: 839px) {
  .mdl-cell--8-col-tablet.sis-no-label--nested, .mdl-cell--12-col.sis-no-label--nested {
    margin-top: 16px !important; } }

@media (min-width: 840px) {
  .mdl-cell--12-col.sis-no-label--nested {
    margin-top: 16px !important; } }

/* =End Media Queries
-------------------------------------------------------------- */
/* =mixins
    -------------------------------------------------------------- */
.sis-header a {
  color: #24a0e5;
  text-decoration: none;
  font-weight: normal; }

.sis-layout, .sis-header--width {
  min-width: 266px;
  margin: 0 auto; }
  @media (min-width: 1200px) {
    .sis-layout, .sis-header--width {
      max-width: 1170px; } }

.sis-layout {
  margin: 4px auto; }

.sis-header--width {
  width: 100%;
  padding: 0;
  box-sizing: border-box; }
  @media (max-width: 1200px) {
    .sis-header--width {
      padding: 0 15px; } }
  @media (max-width: 479px) {
    .sis-header--width {
      padding: 0 8px; } }

.sis-header--top {
  position: relative; }

.sis-header__subheader--left {
  flex-direction: column;
  align-self: center;
  padding-right: 16px; }

.sis-actions {
  align-self: center;
  margin-left: auto;
  margin-bottom: 0; }

.sis-form .mdl-layout__drawer-button {
  bottom: 0 !important;
  top: auto !important; }

.sis-header__title {
  margin: 0 !important;
  font-size: 21px;
  font-weight: 400;
  color: #fff;
  line-height: 1.5; }
  @media (max-width: 382px) {
    .sis-header__title {
      font-size: 20px; } }

.sis-header__title-back {
  display: -webkit-box !important;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox !important;
  /* TWEENER - IE 10 */
  display: -webkit-flex !important;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex !important; }

.sis-radio-checkbox {
  vertical-align: middle;
  margin: 11px 4px 12px 0; }

.sis-radio-checkbox-label {
  margin-right: 24px; }

.sis-output-text {
  margin-bottom: 17px;
  display: inline-block;
  width: 100%;
  overflow: hidden; }

/*compact header styles*/
.sis-header.is-compact {
  max-height: none; }
  .sis-header.is-compact .sis-actions {
    margin-bottom: 0; }
  .sis-header.is-compact .sis-navigation-container {
    padding: 0; }
  .sis-header.is-compact .sis-header__subheader--left > * {
    display: none !important; }
  .sis-header.is-compact .sis-header__subheader--left .sis-header__title-back {
    display: flex !important; }
    .sis-header.is-compact .sis-header__subheader--left .sis-header__title-back .sis-last-modified {
      display: none; }
  .sis-header.is-compact .sis-header__subheader--left .sis-header__title {
    display: block !important;
    margin-bottom: 0 !important; }
  .sis-header.is-compact .sis-header__subheader {
    min-height: 64px !important; }
  .sis-header.is-compact .mdl-layout__header-row {
    padding-bottom: 0;
    height: auto; }
    @media (max-width: 900px) {
      .sis-header.is-compact .mdl-layout__header-row {
        height: auto !important; } }
  .sis-header.is-compact .mdl-navigation__link {
    margin-bottom: -3px; }
  @media (min-width: 1200px) {
    .sis-header.is-compact .sis-header__validation {
      margin-right: 15px !important; } }
  @media (max-width: 900px) {
    .sis-header.is-compact .sis-header__validation {
      bottom: 0; } }

.sis-header__subheader {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  min-height: 150px; }

.sis-last-modified {
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  margin-top: 8px; }

.sis-header {
  position: relative;
  background: #397b7f url("app/resources/images/header-bg.png") no-repeat center top; }

@media (min-width: 1200px) {
  .sis-header--top--no-scrollbar {
    padding-left: 8px !important;
    padding-right: 8px !important; } }

.mdl-grid.mdl-grid--no-spacing > .mdl-cell.sis-no-label--nested {
  margin: 0 !important; }

@media (min-width: 0) and (max-width: 839px) {
  .mdl-grid.mdl-grid--no-spacing > .mdl-cell--4-col-phone.sis-no-label--nested:not(:first-child), .mdl-grid.mdl-grid--no-spacing > .mdl-cell--8-col-tablet.sis-no-label--nested:not(:first-child), .mdl-grid.mdl-grid--no-spacing > .mdl-cell--12-col.sis-no-label--nested:not(:first-child) {
    margin-top: 16px !important; } }

/* =buttons
    -------------------------------------------------------------- */
/* =mixins
    -------------------------------------------------------------- */
.mdl-button, .sis-btn--primary, .sis-btn--sec, .sis-btn--blue, .sis-button-icon-with-background, .sis-btn--has-icon {
  font-family: 'Roboto', 'Arial', sans-serif !important;
  min-width: 84px;
  height: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-right: 16px;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer; }
  @media (min-width: 0) and (max-width: 479px) {
    .mdl-button, .sis-btn--primary, .sis-btn--sec, .sis-btn--blue, .sis-button-icon-with-background, .sis-btn--has-icon {
      min-width: 56px; } }
  .mdl-button:only-child, .sis-btn--primary:only-child, .sis-btn--sec:only-child, .sis-btn--blue:only-child, .sis-button-icon-with-background:only-child, .sis-btn--has-icon:only-child {
    margin-right: 0; }

.mdl-button:last-child, .sis-btn--primary:last-child, .sis-btn--sec:last-child, .sis-btn--blue:last-child, .sis-button-icon-with-background:last-child, .sis-btn--has-icon:last-child {
  margin-right: 0; }

input.mdl-button, input.sis-btn--primary, input.sis-btn--sec, input.sis-btn--blue, input.sis-button-icon-with-background, input.sis-btn--has-icon {
  padding: 0; }

.sis-button-top-margin {
  margin-top: 24px; }

.sis-actions .mdl-button:last-child, .sis-actions .sis-btn--primary:last-child, .sis-actions .sis-btn--sec:last-child, .sis-actions .sis-btn--blue:last-child, .sis-actions .sis-button-icon-with-background:last-child, .sis-actions .sis-btn--has-icon:last-child {
  margin-right: 0; }

.sis-btn--primary {
  background: #6fac28 !important;
  color: #fff; }
  .sis-btn--primary:hover {
    background: #629723 !important; }

.sis-header .sis-btn--primary {
  background: #fff !important;
  color: rgba(0, 0, 0, 0.87); }
  .sis-header .sis-btn--primary:hover {
    background: #f2f2f2 !important; }

.sis-btn--sec {
  background: white;
  color: rgba(0, 0, 0, 0.87); }
  .sis-btn--sec:hover {
    background: #d9d9d9; }

.sis-header .sis-btn--sec {
  background: rgba(255, 255, 255, 0.12);
  color: #fff; }
  .sis-header .sis-btn--sec:hover {
    background: rgba(217, 217, 217, 0.12) !important; }

.sis-btn--blue {
  background: #039be5 !important;
  color: #fff; }
  .sis-btn--blue:hover {
    background: #038acc !important; }

.sis-button-flat {
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0 16px;
  background: none;
  border: none;
  margin-top: 0;
  margin-right: 0;
  font-weight: 500; }
  .sis-button-flat:hover {
    background: #e6e6e6;
    color: rgba(0, 0, 0, 0.87); }
  .sis-button-flat:active, .sis-button-flat:focus {
    background: none !important; }

.sis-button-icon {
  padding: 0 6px;
  border: transparent 1px solid;
  border-radius: 50%;
  font-size: 22px;
  cursor: pointer;
  min-width: 32px;
  margin-right: 0;
  position: relative;
  color: rgba(0, 0, 0, 0.54); }
  .sis-button-icon:hover, .sis-button-icon:active, .sis-button-icon:focus {
    background: none !important;
    color: rgba(0, 0, 0, 0.87); }
  .sis-button-icon .material-icons, .sis-button-icon .sis-notification:before, .sis-button-icon .sis-notification--success:before, .sis-button-icon .fa {
    top: -2px;
    position: relative; }

.sis-button-icon-with-background {
  padding: 0 6px;
  background: #fff;
  cursor: pointer;
  min-width: 0;
  margin-right: 0;
  color: rgba(0, 0, 0, 0.87); }
  .sis-button-icon-with-background:hover, .sis-button-icon-with-background:active, .sis-button-icon-with-background:focus {
    background: #f2f2f2;
    color: rgba(0, 0, 0, 0.87); }
  .sis-button-icon-with-background .material-icons, .sis-button-icon-with-background .sis-notification:before, .sis-button-icon-with-background .sis-notification--success:before, .sis-button-icon-with-background .fa {
    font-size: 20px; }

.sis-btn--has-icon i.material-icons, .sis-btn--has-icon i.sis-notification:before, .sis-btn--has-icon i.sis-notification--success:before {
  vertical-align: middle;
  font-size: 19px !important;
  line-height: 16px;
  color: #f4f4f4;
  margin-right: 2px; }

.sis-button-back, .sis-button-back:hover, .sis-button-back:active, .sis-button-back:focus {
  color: #fff !important;
  margin: 0 8px 0 -8px !important; }
  .sis-button-back .mdl-button__ripple-container, .sis-button-back:hover .mdl-button__ripple-container, .sis-button-back:active .mdl-button__ripple-container, .sis-button-back:focus .mdl-button__ripple-container {
    border-radius: 50%; }

.mdl-layout__drawer-button {
  display: none;
  top: 132px; }
  @media (max-width: 1024px) {
    .mdl-layout__drawer-button {
      display: block;
      top: 126px; } }

.mdl-layout__header .mdl-layout__drawer-button {
  color: #fff;
  background-color: transparent; }

.back-to-top {
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #388e3c;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  width: 40px;
  height: 40px;
  text-align: center;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.mdl-button.back-to-top:hover, .back-to-top.sis-btn--primary:hover, .back-to-top.sis-btn--sec:hover, .back-to-top.sis-btn--blue:hover, .back-to-top.sis-button-icon-with-background:hover, .back-to-top.sis-btn--has-icon:hover {
  background: #2a692d; }

.back-to-top--show {
  display: block;
  z-index: 10000; }
  @media (min-width: 0) and (max-width: 839px) {
    .back-to-top--show {
      display: none; } }

.back-to-top i.material-icons, .back-to-top i.sis-notification:before, .back-to-top i.sis-notification--success:before {
  position: relative;
  color: #fff;
  font-size: 20px; }

@media (min-width: 0) and (max-width: 839px) {
  .sis-action-buttons.sis-action-buttons--fixed {
    position: fixed;
    bottom: 6px;
    width: calc(100% - 80px); } }

.sis-login-screen-bg {
  background: url("/app/login/images/bg.jpg") no-repeat #150f05;
  background-size: cover;
  background-position: 100%;
  position: absolute;
  width: 100%;
  min-height: 100%; }

.sis-login-btn {
  width: 100%;
  margin-top: 12px; }

.sis-login_screen {
  width: 300px;
  margin: 0 auto !important; }

#login-screen input[type="text"]:focus,
#login-screen input[type="password"]:focus,
#login-screen textarea:focus {
  background: #FEFACC; }

.sis-login-form {
  background: rgba(255, 255, 255, 0.65);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 46px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif !important;
  margin-bottom: 45px; }

#login-screen label {
  width: 100%;
  display: block;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 5px; }

#login-screen input[type="text"],
#login-screen input[type="password"] {
  width: 100%;
  background: #fafafa;
  border: #e2dfdf 1px solid;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 35px;
  margin-bottom: 10px;
  padding: 0 10px 0 30px; }

.sis-input-user__icon {
  display: block;
  width: 17px;
  height: 15px;
  background: url("/app/login/images/username.png") no-repeat;
  position: absolute;
  margin: 10px 0 0 9px; }

.sis-input-password__icon {
  display: block;
  width: 15px;
  height: 15px;
  background: url("/app/login/images/password.png") no-repeat;
  position: absolute;
  margin: 9px 0 0 8px; }

#login-screen a {
  color: #7b7b7b;
  text-decoration: underline;
  line-height: 18px;
  cursor: pointer; }

#login-screen a:visited {
  color: #888683; }

#login-screen a:hover,
#login-screen a:active {
  color: #636363; }

.sis-synergy-link-btn {
  color: #cccaca !important; }

.sis-logo-flag-wrap {
  width: 406px;
  margin: auto;
  padding-top: 70px; }
  .sis-logo-flag-wrap span:first-child:after {
    content: '';
    display: block;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    height: 65%;
    margin-top: 37px; }

.sis-login-screen_logo {
  width: 200px;
  height: 204px;
  display: inline-block;
  background: url("/app/login/images/login/logo.png") no-repeat center; }

.sis-login-screen_flag {
  width: 200px;
  height: 204px;
  display: inline-block;
  background: url("/app/login/images/login/flag.png") no-repeat center; }

.sis-title-text {
  text-align: center;
  margin: 30px 0;
  text-transform: uppercase; }
  .sis-title-text p:first-child {
    margin-bottom: 35px;
    font-size: 28px;
    color: rgba(255, 255, 255, 0.7); }
  .sis-title-text p:last-child {
    font-size: 42px;
    color: #fff;
    margin-bottom: 60px;
    font-weight: bold;
    margin-bottom: 65px; }

.sis-login__footer-text {
  color: rgba(255, 255, 255, 0.7);
  text-align: center; }

/*media***/
@media (max-width: 1750px) {
  .sis-logo-flag-wrap {
    padding-top: 0; } }

@media (max-width: 1550px) {
  .sis-logo-flag-wrap {
    width: 400px; }
  .sis-login-screen_flag {
    height: 174px; }
  .sis-login-screen_logo {
    width: 177px;
    height: 174px; }
  .sis-logo-flag-wrap span:first-child:after {
    margin-top: 23px; } }

@media (max-width: 1250px) {
  .sis-login-form {
    margin-bottom: 18px; }
  .sis-logo-flag-wrap {
    width: 318px;
    margin-bottom: 40px; }
    .sis-logo-flag-wrap span:first-child:after {
      margin-top: 20px; }
    .sis-logo-flag-wrap .sis-login-screen_flag {
      height: 120px;
      width: 156px;
      background-size: 100%; }
    .sis-logo-flag-wrap .sis-login-screen_logo {
      width: 156px;
      height: 120px;
      background-size: 100%;
      margin-left: -12px; }
  .sis-title-text {
    margin-bottom: 45px; }
    .sis-title-text p:first-child {
      font-size: 23px;
      margin-bottom: 20px; }
    .sis-title-text p:last-child {
      font-size: 37px;
      margin-bottom: 20px; } }

@media (max-width: 700px) {
  .sis-title-text p:first-child {
    font-size: 20px;
    line-height: 28px; }
  .sis-title-text p:last-child {
    font-size: 30px; } }

@media (max-width: 450px) {
  .sis-title-text p:first-child {
    font-size: 18px; }
  .sis-title-text p:last-child {
    font-size: 20px; }
  .sis-login_screen {
    width: 300px; }
  .sis-login-form {
    padding: 30px; } }

@media (max-width: 450px) {
  .sis-title-text p {
    font-size: 20px; }
  .sis-login_screen {
    width: 290px; } }

/***Validations***/
.sis-validation-wrapper, .sis-validation-wrapper--no-margin, .sis-password-input__validation-wrapper {
  position: relative;
  margin-top: 28px;
  z-index: 1000; }

.sis-validation-wrapper__message {
  display: inline-block;
  margin-bottom: 11px;
  position: absolute;
  bottom: 100%;
  background: #b94a48;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  color: #fff;
  padding: 12px; }
  .sis-validation-wrapper__message:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #b94a48;
    position: absolute;
    left: 1px;
    top: 100%; }

.sis-validation-wrapper__icon:hover + .sis-validation-wrapper__message {
  display: block !important; }

.sis-validation-wrapper__icon .material-icons, .sis-validation-wrapper__icon .sis-notification:before, .sis-validation-wrapper__icon .sis-notification--success:before {
  color: #b94a48;
  font-size: 20px;
  margin-right: 7px; }

.sis-validation-wrapper--no-margin {
  margin-top: 0; }

.sis-password-input__validation-wrapper {
  margin-top: 10px !important; }
