<div class="mdl-grid mdl-grid--no-spacing">
    <div class="mdl-cell mdl-cell--12-col">

        <div class="sis-control-validation">
            <sis-error [id]="'numberofequipmentValidation'"
                       [errorMessage]="materialsEquipmentValidationHelper.numberOfEquipmentValidation()"
                       *ngIf="getIsBasicSchoolType()"
                       Indicate the number of equipment at your school.
                       [class]="'sis-float-left'" [forControl]="numberOfEquipment"
                       [isInput]="true">
            </sis-error>
            <label class="sis-label">7.1 Indicate the number of equipment at your school.</label>
        </div>
        <div #numberOfEquipment>
            <sis-census-indicator-tracking-3L [census]="census" *ngIf="getIsBasicSchoolType()" [school]="school"
                                              [classifierList]="classifierList"
                                              [tableId]="'basicEquipmentTableId'"
                                              [topLeftCellLabel]=""
                                              [verticalClassifierName]="'SchoolLevelGroup'"
                                              [verticalClassifierFieldName]="'schoolLevelGroupId'"
                                              [horizontalFirstLevelClassifierName]="'EquipmentSchool'"
                                              [horizontalFirstLevelClassifierFieldName]="'equipmentSchoolId'"
                                              [horizontalSecondLevelClassifierName]="'ClassFurniture'"
                                              [horizontalSecondLevelClassifierFieldName]="'classFurnitureId'"
                                              [horizontalSecondLevelClassifierFilteringByParent]="true"
                                              [horizontalSecondLevelClassifierParentPropertyName]="'equipmentSchoolId'"
                                              [verticalClassifierFilterPropertyName]="'schoolTypeId'"
                                              [verticalClassifierFilterPropertyValue]="'1'"
                                              [indicatorType]="24">
            </sis-census-indicator-tracking-3L>
        </div>

        <div #numberOfEquipmentSec>
            <sis-census-indicator-tracking-2LH *ngIf="getIsSecondarySchoolType()"
                                               [census]="census"
                                               [classifierList]="classifierList"
                                               [tableId]="'secondaryEquipmentTableId'"
                                               [horizontalFirstLevelClassifierName]="'EquipmentSchoolStudent'"
                                               [horizontalFirstLevelClassifierFieldName]="'equipmentSchoolStudentId'"
                                               [horizontalSecondLevelClassifierName]="'ClassFurnitureStudent'"
                                               [horizontalSecondLevelClassifierFieldName]="'classFurnitureStudentId'"
                                               [horizontalSecondLevelClassifierFilteringByParent]="true"
                                               [horizontalSecondLevelClassifierParentPropertyName]="'equipmentSchoolStudentId'"
                                               [indicatorType]="54">
            </sis-census-indicator-tracking-2LH>
        </div>


        <div class="sis-control-validation">
            <sis-error [id]="'recordBooksValidation'"
                       [errorClass]="'sis-validation-wrapper--grouped-inline'"
                       [errorMessage]="materialsEquipmentValidationHelper.recordBooksValidation()"
                       [class]="'sis-float-left'" [forControl]="recordBooks"
                       [isInput]="true">
            </sis-error>
            <label class="sis-label sis-element-required"> 7.2 How many of the following record books does your School
                have?</label>
        </div>
        <div #recordBooks>
            <sis-census-indicator-tracking-1L-V
                    [census]="census"
                    [classifierList]="classifierList"
                    [isLabelRequired]="true"
                    [tableId]="'materialsTabRecordBooksTableId'"
                    [topLeftCellLabel]="'Record Books'"
                    [topRightCellLabel]="'Number Of Units'"
                    [columnCount]="0"
                    [indicatorInstanceId]="25"
                    [verticalClassifierName]="'RecordBooks'"
                    [verticalClassifierFieldName]="'recordBooksId'">
            </sis-census-indicator-tracking-1L-V>
        </div>


        <sis-census-indicator-tracking-1L-V
                [census]="census"
                [classifierList]="classifierList"
                [label]="'7.3 Does your school have the following functional equipment/materials?'"
                [tableId]="'materialsTabEq/MaterialsTableId'"
                [topLeftCellLabel]="'Equipment/materials'"
                [topRightCellLabel]="'Number Of Units'"
                [columnCount]="0"
                [indicatorInstanceId]="60"
                [verticalClassifierName]="'EquipmentMaterial'"
                [verticalClassifierFieldName]="'equipmentMaterialId'">
        </sis-census-indicator-tracking-1L-V>


        <div>
            <label class="sis-label">
                7.4 Do you have the following equipment in your school?</label>
            <sis-census-indicator-tracking-1L-V
                    [census]="census"
                    [classifierList]="classifierList"
                    [tableId]="'equipmentCompositionId'"
                    [topLeftCellLabel]="'Equipment'"
                    [topRightCellLabel]="'Number Of Units'"
                    [indicatorInstanceId]="182"
                    [columnCount]="0"
                    [verticalClassifierName]="'Equipment'"
                    [verticalClassifierFieldName]="'equipmentId'">
            </sis-census-indicator-tracking-1L-V>

            <div *ngIf="getIsBasicSchoolType()">
                <label class="sis-label">
                    7.5 Do you have the following infrastructure in place for ICT?
                </label>
                <div class="sis-table-scroll">
                    <table class="mdl-data-table mdl-js-data-table"
                           id="ads1">
                        <tr>
                            <th> Infrastructure</th>
                            <th *ngFor="let columnHeader of columnListForInfrastructure">
                                {{columnHeader.getName()}}
                            </th>
                        </tr>
                        <tr *ngFor="let inf of censusSchoolInfrastructures; let i = index">
                            <td>
                                {{inf.getProperty("infrastructureId").value.getProperty("name_ENG").value}}
                            </td>
                            <td *ngFor="let yesNoItem of _columnListForInfrastructure;  let j=index">
                                <input type="radio" name="eq1-{{i}}"
                                       [checked]="yesNoChecked(inf, yesNoItem.getId()) === true"
                                       (change)="infYesNoChange(inf,  j+1)">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="sis-table-scroll" *ngIf="getIsSecondarySchoolType()">
                <div class="sis-control-validation">
                    <sis-error [id]="'syllabiValidation'"
                               [errorClass]="'sis-validation-wrapper--grouped'"
                               [errorMessage]="materialsEquipmentValidationHelper.syllabiRequiredValidation()"
                               *ngIf="getIsSecondarySchoolType()"
                               [class]="'sis-float-left'" [forControl]="syllabi"
                               [isInput]="true">
                    </sis-error>
                    <label class="sis-label sis-element-required">7.5 How many textbooks, syllabi and Teacher Handbooks
                        does your school have ?</label>
                </div>
                <div #syllabi>
                    <sis-census-indicator-tracking-3L [census]="census"
                                                      [classifierList]="classifierList"
                                                      [tableId]="syllabiTableId "
                                                      [hasVerticalCodeColumn]="true"
                                                      [topLeftCellLabel]="'Core subjects'"
                                                      [verticalClassifierName]="'CoreSubject'"
                                                      [verticalClassifierFieldName]="'coreSubjectId'"
                                                      [horizontalFirstLevelClassifierName]="'TeacherHandbook'"
                                                      [horizontalFirstLevelClassifierFieldName]="'teacherHandbookId'"
                                                      [horizontalSecondLevelClassifierName]="'SchoolLevelGroup'"
                                                      [horizontalSecondLevelClassifierFieldName]="'schoolLevelGroupId'"
                                                      [verticalClassifierFilterPropertyName]="''"
                                                      [verticalClassifierFilterPropertyValue]="''"
                                                      [horizontalFirstLevelClassifierFilterPropertyName]="''"
                                                      [horizontalFirstLevelClassifierFilterPropertyValue]="''"
                                                      [horizontalSecondLevelClassifierFilterPropertyName]="'schoolTypeId'"
                                                      [horizontalSecondLevelClassifierFilterPropertyValue]="'2'"
                                                      [indicatorType]="30">
                    </sis-census-indicator-tracking-3L>
                </div>
            </div>
        </div>
    </div>
</div>

