<div class="mdl-grid mdl-grid--no-spacing" title="">
    <div class="mdl-cell mdl-cell--12-col">
        <sis-census-indicator-tracking-2L-view [census]="census"
                                          [classifierList]="classifierList"
                                          [label]="'10.1 How MANY non-teaching staff do you have in your school?'"
                                          [tableId]="'nonTeachingStaffCompositionId'"
                                          [indicatorInstanceId]="34"
                                          [horizontalClassifierName]="'Gender'"
                                          [horizontalClassifierFieldName]="'genderId'"
                                          [verticalClassifierName]="'NonTeachingStaff'"
                                          [verticalClassifierFieldName]="'nonTeachingStaffId'">
        </sis-census-indicator-tracking-2L-view>
    </div>
</div>