<div>
    <label class="sis-label">10.1 Do you have non teaching staff in your school?</label>
</div>
<sis-select-one-radio
        [census]="census"
        [classifierList]="classifierList"
        [censusSubEntityCategoryName]="'CensusSchoolQuestion'"
        [censusSubEntityName]="'censusSchoolQuestions'"
        [classifierId]="'NON_TEACHING_STAFF_YES_NO'"
        [classifierNameFromInput]="'YesNoId'"
        [subEntityFields]="questionSubEntityFields">
</sis-select-one-radio>

<div *ngIf="isSelectedNonTeachingStaff()">
    <div class="sis-control-validation">
        <sis-err [id]="'nonTeachingStaffInformationValidation'"
                   [errorClass]="'sis-validation-wrapper--grouped-inline'"
                   [errorMessage]="nonTeachingStaffInformationValidationHelper.censusSchoolNonTeachingStaffCountValidator()"
                   [class]="'sis-float-left'" [forControl]="nonTeachingStaffInformation"
                   [isInput]="true">
        </sis-err>
        <label class="sis-label sis-element-required"> 10.2 How MANY non-teaching staff do you have in your
            school?</label>
    </div>
    <div #nonTeachingStaffInformation title="">
        <sis-census-indicator-tracking-2L [census]="census"
                                          [school]="school"
                                          [classifierList]="classifierList"
                                          [tableId]="'nonTeachingStaffCompositionId'"
                                          [indicatorInstanceId]="34"
                                          [horizontalClassifierName]="'Gender'"
                                          [horizontalClassifierFieldName]="'genderId'"
                                          [verticalClassifierName]="'NonTeachingStaff'"
                                          [verticalClassifierFieldName]="'nonTeachingStaffId'">
        </sis-census-indicator-tracking-2L>
    </div>
</div>