<div class="mdl-grid mdl-grid--no-spacing" title="">
    <div class="mdl-cell mdl-cell--12-col">
        <label class="sis-label"> 18.1 Notes </label>
        <div class="sis-table-scroll">
            <table class="sis-table mdl-data-table mdl-data-table-responsive sis-full-width">
                <thead>
                    <tr>
                        <th></th>
                        <th class="mdl-data-table__cell--centered">
                            Date
                        </th>
                        <th class="mdl-data-table__cell--non-numeric" style="min-width: 108px;">
                            Note Type
                        </th>
                        <th class="mdl-data-table__cell--non-numeric" style="min-width: 236px;">
                            Note Details
                        </th>
                        <th class="mdl-data-table__cell--non-numeric" style="min-width: 185px;">
                            User
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of notesList; let j = index">
                        <td class="mdl-data-table__cell--centered">
                            <i class="material-icons mdl-data-table--action-icon" (click)="editNote(true,row)" aria-hidden="true">mode_edit</i>
                            <i class="material-icons mdl-data-table--action-icon" (click)="deleteNote(row)" aria-hidden="true" title="Remove">clear</i>
                        </td>
                        <td class="mdl-data-table__cell--centered">
                            {{row.getProperty('dateCreated').value | date : "dd-MMM-yyyy hh:mm"}}
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{row.getProperty('noteTypeId').value.getName()}}
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{row.getProperty('note_ENG').value}}
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                            {{row.getProperty('userId').value.getProperty('name').value}}
                        </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="sis-float-right">
            <button id="addNoteId" (click)="addNote(true)"
                    class="mdl-button sis-button-top-margin mdl-js-button mdl-button--raised mdl-js-ripple-effect button--full-width-mobile  sis-btn--primary">
                Add
            </button>
            <notes-add-popup #notesAddPopup *ngIf="isAddNotePopupActive"
                             [notesList]="notesList"
                             [subEntity]="note"
                             [classifierList]="classifierList"
                             [isErrorMessageVisible]="isErrorMessageVisible"
                             (done)="updateNotesList($event)"
                             (onClose)="setIsAddNotePopupActive(false, null)">

            </notes-add-popup>
        </div>
        <div class="sis-clear"></div>

        <div>
            <label class="sis-label"> 18.2 Attachments </label>
            <div class="sis-table-scroll">
                <table class="sis-table mdl-data-table mdl-data-table-responsive sis-full-width">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--centered"></th>
                            <th class="mdl-data-table__cell--non-numeric" style="min-width: 225px;">
                                Title
                            </th>
                            <th class="mdl-data-table__cell--centered" style="min-width: 102px;">
                                Created by / Created on
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of documentsList; let j = index">
                            <td class="mdl-data-table__cell--centered">
                                <i class="material-icons mdl-data-table--action-icon" (click)="editDocument(true,row)" aria-hidden="true">mode_edit</i>
                                <i class="material-icons mdl-data-table--action-icon" (click)="deleteDocument(row)" aria-hidden="true" title="Remove">clear</i>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <a [href]="" (click)="getDocument(row)">{{row.getProperty('documentId').value.getProperty('fileTitle_ENG').value}}</a>
                            </td>
                            <td class="mdl-data-table__cell--centered">
                                {{row.getProperty('documentId').value.getProperty('userId').value.getProperty('name').value + ' / '}}
                                {{row.getProperty('documentId').value.getProperty('uploadDate').value | date : "dd-MMM-yyyy hh:mm"}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="sis-float-right">
                <button id="addDocumentId" (click)="addDocument(true)"
                        class="mdl-button sis-button-top-margin mdl-js-button mdl-button--raised mdl-js-ripple-effect button--full-width-mobile  sis-btn--primary">
                    Add
                </button>
                <attachments-add-popup #attachmentsAddPopup *ngIf="isAddDocumentPopupActive"
                                       [attachmentsList]="documentsList"
                                       [subEntity]="document"
                                       [classifierList]="classifierList"
                                       [isErrorMessageVisible]="isErrorMessageVisible"
                                       (done)="updateAttachmentsList($event)"
                                       (onClose)="setIsAddDocumentPopupActive(false, null)">

                </attachments-add-popup>
            </div>
        </div>
    </div>
</div>