<div class="mdl-grid mdl-grid--no-spacing" title="">
    <div class="mdl-cell mdl-cell--12-col">
        <!-- section 2.1 or 2.2 -->
        <div *ngIf="getIsBasicSchoolType() || getIsSecondarySchoolType()">
            <div class="sis-control-validation">
                <sis-err [id]="'titleValidation'"
                           [errorMessage]="organisationValidationHelper.censusSchoolSummaryRequiredValidation()"
                           [class]="'sis-float-left'"
                           [errorClass]="'sis-validation-wrapper--grouped'"
                           [forControl]="schoolSummaryGroup"
                           [isInput]="true">
                </sis-err>
                <sis-err [id]="'titleValidation'"
                           *ngIf="getIsBasicSchoolType()"
                           [errorMessage]="organisationValidationHelper.censusSchoolSummaryCountValidator()"
                           [class]="'sis-float-left'"
                           [errorClass]="'sis-validation-wrapper--grouped'"
                           [forControl]="schoolSummaryGroup"
                           [isInput]="true">
                </sis-err>
                <label class="sis-label"> 2.1 Summary Count</label>
            </div>
            <div #schoolSummaryGroup class="sis-table-scroll mdl-cell--7-col">
                <table class="mdl-data-table sis-table--margin-top mdl-js-data-table sis-full-width">
                    <tr>
                        <th></th>
                        <th *ngFor="let schoolLevelGroup of schoolLevelGroups">
                            {{schoolLevelGroup.getName()}}
                        </th>
                    </tr>
                    <tr *ngFor="let summaryType of classifierList.get('SummaryType')">
                        <td>
                            {{summaryType.getName()}}
                        </td>

                        <td *ngFor="let schoolLevelGroup of schoolLevelGroups" class="mdl-data-table__cell--centered">
                            <input type="number" inputMaxLength="7"
                                   (ngModelChange)="onValueChanged($event, summaryType, schoolLevelGroup)"
                                   [(ngModel)]="getSchoolSummaryEntity(summaryType, schoolLevelGroup).getProperty('count').value"
                                   class="sis-input sis-small-width sis-align-right"/>
                        </td>

                    </tr>
                </table>
            </div>
        </div>

        <!-- section 2.2 -->
        <div *ngIf="getIsBasicSchoolType()">
            <label class="sis-label">2.2 Indicate classes involved in Multigrade by level</label>
            <table>
                <tbody>
                <td *ngFor="let schoolLevelClassifier of sortedSchoolLevelClassifierList()">
                    <input type="checkbox"
                           [checked]="isSchoolLevelCheckedItem(schoolLevelClassifier.getId())"
                           (change)="onSchoolLevelCheckBoxChanged(schoolLevelClassifier.getId())"
                           class="sis-radio-checkbox"
                           name="teacherTrainingItems{{schoolLevelClassifier.getId()}}Id"/>
                    <label class="sis-radio-checkbox-label">{{schoolLevelClassifier.getName()}}</label>
                </td>
                </tbody>
            </table>
        </div>

        <!--section  2.2 -->
        <div *ngIf="getIsBasicSchoolType()" #schoolLevelGroupClassifierCheckBoxes>
            <div class="sis-control-validation">
                <sis-err [id]="'titleValidation'"
                           [errorMessage]="organisationValidationHelper.censusSchoolLevelSystemsValidation()"
                           [class]="'sis-float-left'"
                           [errorClass]="'sis-validation-wrapper--grouped'"
                           [forControl]="schoolLevelGroupClassifierCheckBox"
                           [isInput]="true">
                </sis-err>
                <label class="sis-label sis-element-required">2.3 Which of these levels run shift system in your
                    school?</label>
            </div>
            <table #schoolLevelGroupClassifierCheckBox>
                <tbody>
                <td *ngFor="let schoolLevelGroupClassifier of filteredSchoolLevelGroupClassifierList()">
                    <input type="checkbox"
                           [checked]="isSchoolLevelGroupCheckedItem(schoolLevelGroupClassifier.getId())"
                           (change)="onSchoolLevelGroupCheckBoxChanged(schoolLevelGroupClassifier.getId())"
                           class="sis-radio-checkbox"
                           name="teacherTrainingItems{{schoolLevelGroupClassifier.getId()}}Id"/>
                    <label class="sis-radio-checkbox-label">{{schoolLevelGroupClassifier.getName()}}</label>
                </td>
                </tbody>
            </table>
        </div>

        <!--section 2.3-->
        <div *ngIf="getIsBasicSchoolType()">
            <div class="sis-control-validation">
                <sis-err [id]="'coHostingYesNoRadioButtonValidation'"
                           [errorMessage]="organisationValidationHelper.coHostingYesNoValidation()"
                           [class]="'sis-float-left'" [forControl]="coHostingYesNoRadioButton"
                           [isInput]="true">
                </sis-err>
                <label class="sis-label sis-element-required">2.4 Is your school one of two DIFFERENT schools making
                    use of the same building? (Co-hosting)</label>
            </div>

            <table #coHostingYesNoRadioButton>
                <tbody>
                <td *ngFor="let coHostingYesNoClassifier of classifierList.get(getSubEntityKeyNameWithoutId(questionSubEntityFields.CO_HOSTING_YES_NO_ID_REAL))">
                    <input type="radio"
                           [checked]="isCheckedItem(questionSubEntityFields.CO_HOSTING_YES_NO_ID, coHostingYesNoClassifier.getId(), coHostingYesNo)"
                           (change)="onRadioChanged(questionSubEntityFields.CO_HOSTING_YES_NO_ID, coHostingYesNoClassifier.getId(), coHostingYesNo,questionSubEntityFields.CO_HOSTING_YES_NO_ID_REAL)"
                           class="sis-radio-checkbox"
                           name="yesNoTvetItemsId"/>
                    <label class="sis-radio-checkbox-label">{{coHostingYesNoClassifier.getName()}}</label>
                </td>
                </tbody>
            </table>
            <div *ngIf="isSelectedRadioItem(coHostingYesNo, questionSubEntityFields.CO_HOSTING_YES_NO_ID, organisationRadioButtonIds.ORGANISATION_SELECT_YES_ID)">
                <div class="sis-control-validation">
                    <sis-err [id]="'titleValidation'"
                               [errorMessage]="organisationValidationHelper.otherSchoolNameValidation()"
                               [class]="'sis-float-left'" [forControl]="otherSchoolName"
                               [isInput]="true">
                    </sis-err>
                    <label class="sis-label sis-element-required">If YES, what is the name
                        of the other school you are sharing with?</label>
                </div>
                <div>
                    <input #otherSchoolName type="text"
                           value="{{coHostingYesNo.getProperty('otherSchoolName_ENG').value}}" #text
                           (change)="onTextChanged(coHostingYesNo, 'otherSchoolName_ENG', text.value)"
                           name="selectInstitutionItemsId"
                           class="sis-input sis-mid-width sis-full-width-mobile"/>
                </div>
            </div>
        </div>

        <!--section 2.1 or 2.4 -->
        <div *ngIf="getIsSecondarySchoolType() || getIsBasicSchoolType()">
            <div class="sis-control-validation">
                <sis-err [id]="'coHostingYesNoRadioButtonValidation'"
                           [errorMessage]="organisationValidationHelper.educationTypeValidation()"
                           [class]="'sis-float-left'" [forControl]="educationTypeYesNoRadioButton"
                           [isInput]="true">
                </sis-err>
                <label class="sis-label sis-element-required" *ngIf="getIsSecondarySchoolType()">2.2 Select your school
                    type</label>
                <label class="sis-label sis-element-required" *ngIf="getIsBasicSchoolType()">2.5 Select your school
                    type</label>
            </div>
            <table #educationTypeYesNoRadioButton>
                <tbody>
                <td *ngFor="let educationTypeClassifier of classifierList.get(getSubEntityKeyNameWithoutId(questionSubEntityFields.EDUCATION_TYPE_ID_REAL))">
                    <input type="radio"
                           [checked]="isCheckedItem(questionSubEntityFields.EDUCATION_TYPE_ID, educationTypeClassifier.getId(), educationalType)"
                           (change)="onRadioChanged(questionSubEntityFields.EDUCATION_TYPE_ID, educationTypeClassifier.getId(), educationalType, questionSubEntityFields.EDUCATION_TYPE_ID_REAL)"
                           class="sis-radio-checkbox"
                           name="educationTypeItemsId"/>
                    <label class="sis-radio-checkbox-label">{{educationTypeClassifier.getName()}}</label>
                </td>
                </tbody>
            </table>
        </div>
        <div *ngIf="getIsTVETSchoolType()">
            <div class="sis-control-validation">
                <sis-err [id]="'schoolCategoryRadioButtonValidation'"
                           [errorMessage]="organisationValidationHelper.genderInstitutionTypeValidation()"
                           [class]="'sis-float-left'" [forControl]="genderInstitutionRadioButton"
                           [isInput]="true">
                </sis-err>
                <label class="sis-label sis-element-required">2.1 Select your institution type</label>
            </div>
            <table #genderInstitutionRadioButton>
                <tbody>
                <td *ngFor="let genderInstitutionTypeClassifier of classifierList.get(getSubEntityKeyNameWithoutId(questionSubEntityFields.GENDER_INSTITUATION_TYPE_REAL))">
                    <input type="radio"
                           [checked]="isCheckedItem(questionSubEntityFields.GENDER_INSTITUATION_TYPE, genderInstitutionTypeClassifier.getId(), genderInstitutionType)"
                           (change)="onRadioChanged(questionSubEntityFields.GENDER_INSTITUATION_TYPE, genderInstitutionTypeClassifier.getId(), genderInstitutionType,questionSubEntityFields.GENDER_INSTITUATION_TYPE_REAL)"
                           class="sis-radio-checkbox"
                           name="educationTypeItemsId"/>
                    <label class="sis-radio-checkbox-label">{{genderInstitutionTypeClassifier.getName()}}</label>
                </td>
                </tbody>
            </table>
        </div>

        <!--section 2.2 -->
        <div>
            <div class="sis-control-validation">
                <sis-err [id]="'schoolCategoryRadioButtonValidation'"
                           [errorMessage]="organisationValidationHelper.schoolCategoryValidation()"
                           [class]="'sis-float-left'" [forControl]="schoolCategoryRadioButton"
                           [isInput]="true">
                </sis-err>
                <label class="sis-label sis-element-required"
                       *ngIf="getIsBasicSchoolType()">2.6 Category of School</label>
                <label class="sis-label sis-element-required"
                       *ngIf="getIsSecondarySchoolType()">2.3 Category of School</label>
                <label class="sis-label sis-element-required" *ngIf="getIsTVETSchoolType()">2.2 Category of
                    Institution</label>
            </div>
            <table #schoolCategoryRadioButton>
                <tbody>
                <td *ngFor="let schoolCategoryClassifier of classifierList.get(getSubEntityKeyNameWithoutId(questionSubEntityFields.SCHOOL_CATEGORY_ID_REAL))">
                    <input type="radio"
                           [checked]="isCheckedItem(questionSubEntityFields.SCHOOL_CATEGORY_ID, schoolCategoryClassifier.getId(), schoolCategory)"
                           (change)="onRadioChanged(questionSubEntityFields.SCHOOL_CATEGORY_ID, schoolCategoryClassifier.getId(), schoolCategory,questionSubEntityFields.SCHOOL_CATEGORY_ID_REAL)"
                           class="sis-radio-checkbox"
                           name="schoolCategoryItemsId"/>
                    <label class="sis-radio-checkbox-label">{{schoolCategoryClassifier.getName()}}</label>
                </td>
                </tbody>
            </table>
        </div>

        <div *ngIf="getIsSecondarySchoolType()">
            <sis-census-indicator-tracking-2LH [census]="census"
                                               [classifierList]="classifierList"
                                               [label]="'2.4 If ANY at all, indicate the NUMBER of special pupils in your school.'"
                                               [tableId]="table2LHId"
                                               [horizontalFirstLevelClassifierName]="'Disability'"
                                               [horizontalFirstLevelClassifierFieldName]="'disabilityId'"
                                               [horizontalSecondLevelClassifierName]="'Pupil'"
                                               [horizontalSecondLevelClassifierFieldName]="'pupilId'"
                                               [indicatorType]="indicatorType2">
            </sis-census-indicator-tracking-2LH>
        </div>
        <!-- section 2.6 basic school-->
        <div *ngIf="getIsBasicSchoolType()" class="sis-controls--top-margin">
            <div class="sis-control-validation">
                <sis-err [id]="'specialPupilsCountValidation'"
                           [errorMessage]="organisationValidationHelper.censusSchoolSpecialPupilsCountValidator()"
                           [class]="'sis-float-left'" [forControl]="specialPupilsCount"
                           [isInput]="true">
                </sis-err>
            </div>
            <div #specialPupilsCount class="sis-table-scroll sis-controls--top-margin">
                <sis-census-indicator-tracking-3L [census]="census"
                                                  [school]="school"
                                                  [isReRender]="isReRender"
                                                  [classifierList]="classifierList"
                                                  [label]="'2.7	If ANY at all, indicate the NUMBER of special pupils in your school.'"
                                                  [tableId]="table3LId"
                                                  [topLeftCellLabel]=""
                                                  [verticalClassifierName]="'SchoolLevelGroup'"
                                                  [verticalClassifierFieldName]="'schoolLevelGroupId'"
                                                  [horizontalFirstLevelClassifierName]="'Disability'"
                                                  [horizontalFirstLevelClassifierFieldName]="'disabilityId'"
                                                  [horizontalSecondLevelClassifierName]="'Pupil'"
                                                  [horizontalSecondLevelClassifierFieldName]="'pupilId'"
                                                  [verticalClassifierFilterArray]="SPECIAL_PUPILS_BASIC_ITEMS"
                                                  [indicatorType]="indicatorType1">
                </sis-census-indicator-tracking-3L>
            </div>
        </div>

        <!--section 2.3 -->
        <div *ngIf="getIsTVETSchoolType()">
            <div class="sis-control-validation">
                <sis-err [id]="'schoolCategoryRadioButtonValidation'"
                           [errorMessage]="organisationValidationHelper.specialEducationYesNoValidation()"
                           [class]="'sis-float-left'" [forControl]="specialEducationYesNoRadioButton"
                           [isInput]="true">
                </sis-err>
                <label class="sis-label sis-element-required">2.3 Is your Institution a Special Education
                    Institution?</label>
            </div>
            <table #specialEducationYesNoRadioButton>
                <tbody>
                <td *ngFor="let specialEducationYesNoClassifier of classifierList.get(getSubEntityKeyNameWithoutId(questionSubEntityFields.SPECIAL_EDUC_YES_NO_REAL))">
                    <input type="radio"
                           [checked]="isCheckedItem(questionSubEntityFields.SPECIAL_EDUC_YES_NO, specialEducationYesNoClassifier.getId(), specialEducationYesNo)"
                           (change)="onRadioChanged(questionSubEntityFields.SPECIAL_EDUC_YES_NO, specialEducationYesNoClassifier.getId(), specialEducationYesNo,questionSubEntityFields.SPECIAL_EDUC_YES_NO_REAL)"
                           class="sis-radio-checkbox"
                           name="specialEducationYesNoClassifierItemsId"/>
                    <label class="sis-radio-checkbox-label">{{specialEducationYesNoClassifier.getName()}}</label>
                </td>
                </tbody>
            </table>
        </div>

        <div *ngIf="getIsTVETSchoolType()">
            <sis-census-indicator-tracking-2LH [census]="census"
                                               [classifierList]="classifierList"
                                               [label]="'2.4 If ANY at all, indicate the NUMBER of special students in your institution.'"
                                               [tableId]="table2LHId"
                                               [horizontalFirstLevelClassifierName]="'Disability'"
                                               [horizontalFirstLevelClassifierFieldName]="'disabilityId'"
                                               [horizontalSecondLevelClassifierName]="'Pupil'"
                                               [horizontalSecondLevelClassifierFieldName]="'pupilId'"
                                               [indicatorType]="indicatorType2">
            </sis-census-indicator-tracking-2LH>
        </div>

        <!--section 2.7 -->
        <div>
            <div class="sis-control-validation">
                <sis-err [id]="'supportTypeCheckBoxValidation'"
                           [errorMessage]="organisationValidationHelper.rampYesNoValidation()"
                           [class]="'sis-float-left'" [forControl]="yesNoRampRadioButton"
                           [isInput]="true">
                </sis-err>
                <label class="sis-label sis-element-required" *ngIf="getIsBasicSchoolType()">2.8 Does your school have
                    Ramps for physically challenged pupils?
                </label>
                <label class="sis-label sis-element-required" *ngIf="getIsSecondarySchoolType()">2.5 Does your school
                    have Ramps for physically challenged pupils?
                </label>
                <label class="sis-label sis-element-required" *ngIf="getIsTVETSchoolType()">
                    2.6 Does your school have Ramps for physically challenged students?</label>
            </div>
            <table #yesNoRampRadioButton>
                <tbody>
                <tr>
                    <td *ngFor="let yesNoRampClassifier of classifierList.get(getSubEntityKeyNameWithoutId(questionSubEntityFields.RAMPS_YES_NO_ID_REAL))">
                        <input type="radio"
                               [checked]="isCheckedItem(questionSubEntityFields.RAMPS_YES_NO_ID, yesNoRampClassifier.getId(), sanitationRampRails)"
                               (change)="onRadioChanged(questionSubEntityFields.RAMPS_YES_NO_ID, yesNoRampClassifier.getId(), sanitationRampRails,questionSubEntityFields.RAMPS_YES_NO_ID_REAL)"
                               class="sis-radio-checkbox"
                               name="yesNoRampIdItemsId"/>
                        <label class="sis-radio-checkbox-label">{{yesNoRampClassifier.getName()}}</label>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--section 2.8 -->
        <div>
            <div class="sis-control-validation">
                <sis-err [id]="'supportTypeCheckBoxValidation'"
                           [errorMessage]="organisationValidationHelper.railsYesNoValidation()"
                           [class]="'sis-float-left'" [forControl]="yesNoRailsRadioButton"
                           [isInput]="true">
                </sis-err>
                <label class="sis-label sis-element-required" *ngIf="getIsBasicSchoolType()">2.9 Does your school have
                    Rails for visually impaired pupils?
                </label>
                <label class="sis-label sis-element-required" *ngIf="getIsSecondarySchoolType()">2.6 Does your school
                    have Rails for visually impaired pupils?
                </label>
                <label class="sis-label sis-element-required" *ngIf="getIsTVETSchoolType()">2.7 Does your school have
                    Rails for visually impaired students?
                </label>
            </div>
            <table #yesNoRailsRadioButton>
                <tbody>
                <tr>
                    <td *ngFor="let yesNoRailsClassifier of classifierList.get(getSubEntityKeyNameWithoutId(questionSubEntityFields.YES_NO_RAILS_ID_REAL))">
                        <input type="radio"
                               [checked]="isCheckedItem(questionSubEntityFields.YES_NO_RAILS_ID, yesNoRailsClassifier.getId(), sanitationRampRails)"
                               (change)="onRadioChanged(questionSubEntityFields.YES_NO_RAILS_ID, yesNoRailsClassifier.getId(), sanitationRampRails,questionSubEntityFields.YES_NO_RAILS_ID_REAL)"
                               class="sis-radio-checkbox"
                               name="yesNoRailsIdItemsId"/>
                        <label class="sis-radio-checkbox-label">{{yesNoRailsClassifier.getName()}}</label>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--section 2.5 -->
        <div>
            <div class="sis-control-validation">
                <sis-err [id]="'supportTypeCheckBoxValidation'"
                           [errorMessage]="organisationValidationHelper.censusSchoolSupportTypeValidation()"
                           [class]="'sis-float-left'" [forControl]="supportTypeCheckBox"
                           [isInput]="true">
                </sis-err>
                <label class="sis-label sis-element-required" *ngIf="getIsTVETSchoolType()">2.8
                    What type of Government Support do you need for your Physically disabled students?
                </label>
                <label class="sis-label sis-element-required"
                       *ngIf="getIsBasicSchoolType()">2.10 What type of Support do you need for your impaired /
                    physically challenged pupils?</label>
                <label class="sis-label sis-element-required"
                       *ngIf="getIsSecondarySchoolType()">2.7 What type of Support do you need for your challenged
                    students?
                </label>
            </div>
            <table #supportTypeCheckBox>
                <tbody>
                <td *ngFor="let supportTypeClassifier of classifierList.get(getSubEntityKeyNameWithoutId(questionSubEntityFields.SUPPORT_TYPE_ID_REAL))">
                    <input type="checkbox"
                           [checked]="isSupportTypeCheckedItem(supportTypeClassifier.getId())"
                           (change)="onSupportTypeCheckBoxChanged(supportTypeClassifier.getId())"
                           class="sis-radio-checkbox"
                           name="teacherTrainingItems{{supportTypeClassifier.getId()}}Id"/>
                    <label class="sis-radio-checkbox-label">{{supportTypeClassifier.getName()}}</label>
                </td>
                </tbody>
            </table>
        </div>

        <!--section  2.10 -->
        <div *ngIf="getIsBasicSchoolType()">
            <div class="sis-control-validation">
                <sis-err [id]="'teachLanguageCheckBoxValidation'"
                           [errorMessage]="organisationValidationHelper.censusSchoolLanguageValidation()"
                           [class]="'sis-float-left'" [forControl]="teachLanguageCheckBox"
                           [isInput]="true">
                </sis-err>
                <label class="sis-label sis-element-required">
                    2.11 What Ghanaian language(s) are taught in your school?
                </label>
            </div>
            <div #teachLanguageCheckBox>
                    <span *ngFor="let teachLanguageClassifier of classifierList.get(getSubEntityKeyNameWithoutId(questionSubEntityFields.TEACH_LANGUAGE_ID_REAL))">
                        <input type="checkbox"
                               [checked]="isTeachLanguageCheckedItem(teachLanguageClassifier.getId())"
                               (change)="onTeachLanguageCheckBoxChanged(teachLanguageClassifier.getId())"
                               class="sis-radio-checkbox"
                               name="teacherTrainingItems{{teachLanguageClassifier.getId()}}Id"/>
                        <label class="sis-radio-checkbox-label">{{teachLanguageClassifier.getName()}}</label>
                    </span>
            </div>
        </div>

        <!-- section  2.11-->
        <div>
            <div class="sis-control-validation">
                <sis-err [id]="'awayFromKmaValidation'"
                           [errorClass]="'sis-validation-wrapper--grouped'"
                           [errorMessage]="organisationValidationHelper.censusSchoolAwayFromValidation()"
                           [class]="'sis-float-left'" [forControl]="awayFromKms"
                           [isInput]="true">
                </sis-err>
                <label class="sis-label sis-element-required" *ngIf="getIsTVETSchoolType()">
                    2.9 How far away from the school is ...?
                </label>
                <label class="sis-label sis-element-required" *ngIf="getIsSecondarySchoolType()">
                    2.8 How far away from the school is ...?
                </label>
                <label class="sis-label sis-element-required" *ngIf="getIsBasicSchoolType()">
                    2.12 How far away from the school is ...?
                </label>
            </div>
            <div #awayFromKms class="mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                <div>
                    <label class="sis-label">{{awayFromSchool_a.getName()}}</label>
                    <div #awayFromKma>
                        <sis-combo-box [id]="'awayFromKmaId'" [placeHolder]="'-- Select Distance --'"
                                       [value]="awayFromKms_0.id"
                                       (valueChange)="awayFromKmsValueChangeBySchoolType($event, awayFromSchool_a)"
                                       class="sis-large-width">
                            <sis-combo-box-items [data]="classifierList.get('AwayFromKms')"
                                                 [valueField]="'id'"
                                                 [nameField]="'name'">
                            </sis-combo-box-items>
                        </sis-combo-box>
                    </div>
                </div>
                <div>
                    <label class="sis-label">{{awayFromSchool_b.getName()}}</label>
                    <div #awayFromKmb>
                        <sis-combo-box [id]="'awayFromKmbId'" [placeHolder]="'-- Select Distance --'"
                                       [value]="awayFromKms_1.id"
                                       (valueChange)="awayFromKmsValueChangeBySchoolType($event, awayFromSchool_b)"
                                       class="sis-large-width">
                            <sis-combo-box-items
                                    [data]="classifierList.get(getAwayFromHeadHouseSystemNameBySchoolType())"
                                    [valueField]="'id'"
                                    [nameField]="'name'">
                            </sis-combo-box-items>
                        </sis-combo-box>
                    </div>
                </div>
                <div>
                    <label class="sis-label">{{awayFromSchool_c.getName()}}</label>
                    <div #awayFromKmc>
                        <sis-combo-box [id]="'awayFromKmcId'" [placeHolder]="'-- Select Distance --'"
                                       [value]="awayFromKms_2.id"
                                       (valueChange)="awayFromKmsValueChangeBySchoolType($event, awayFromSchool_c)"
                                       class="sis-large-width">
                            <sis-combo-box-items [data]="classifierList.get('AwayFromKms')"
                                                 [valueField]="'id'"
                                                 [nameField]="'name'">
                            </sis-combo-box-items>
                        </sis-combo-box>
                    </div>
                </div>
            </div>
        </div>

        <!-- section  2.12-->
        <div *ngIf="getIsTVETSchoolType()">
            <div class="sis-control-validation">
                <sis-err [id]="'censusSchoolIndicatorTrackingsStudentsDayMeansValidation'"
                           [errorClass]="'sis-validation-wrapper--grouped'"
                           [errorMessage]="organisationValidationHelper.studentsDayMeansValidation()"
                           [class]="'sis-float-left'" [forControl]="meansForStudent"
                           [isInput]="true">
                </sis-err>
                <label class="sis-label sis-element-required">
                    2.10 Indicate the number of DAY STUDENTS who come to school by the following means.
                </label>
            </div>
            <div #meansForStudent class="mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                <sis-census-indicator-tracking-1L-H [census]="census"
                                                    [school]="school"
                                                    [classifierList]="classifierList"
                                                    [tableId]="'studentsDayMeansSectionId'"
                                                    [indicatorInstanceId]="meansForStudentAdmissionToSchoolTvet"
                                                    [horizontalClassifierName]="'MeansForStudent'"
                                                    [horizontalClassifierFieldName]="'meansForStudentId'"
                                                    [noTopLeftCellLabel]="true">
                </sis-census-indicator-tracking-1L-H>
            </div>
        </div>
    </div>
</div>
