<div class="mdl-grid mdl-grid--no-spacing" title="">
    <div class="mdl-cell mdl-cell--12-col">
        <div *ngIf="isBasicSchool()">
            <div class="sis-control-validation">
                <sis-error [id]="'pupilsDeadBasicValidation'"
                           [forControl]="pupilsDeadBasicName" [isInput]="true"
                           [errorClass]="'sis-validation-wrapper--grouped'"
                           [errorMessage]="pupilTeacherInformationValidationHelper.pupilsDeadValidation() || pupilTeacherInformationValidationHelper.censusSchoolPupilsDiedPrevYearCountValidator()"
                           [class]="'sis-float-left'">
                </sis-error>
                <label class="sis-label sis-element-required">
                    14.1 How many pupils died in the previous year?
                </label>
            </div>
            <div #pupilsDeadBasicName>
                <sis-census-indicator-tracking-3L [census]="census"
                                                  [school]="school"
                                                  [classifierList]="classifierList"
                                                  [tableId]="diedPupilsSectionId"
                                                  [topLeftCellLabel]="'Age Group'"
                                                  [verticalClassifierName]="'Age'"
                                                  [verticalClassifierFieldName]="'ageId'"
                                                  [horizontalFirstLevelClassifierName]="'CauseDeath'"
                                                  [horizontalFirstLevelClassifierFieldName]="'causeDeathId'"
                                                  [horizontalSecondLevelClassifierName]="'Pupil'"
                                                  [horizontalSecondLevelClassifierFieldName]="'pupilId'"
                                                  [verticalClassifierFilterPropertyName]="'ageParentId'"
                                                  [verticalClassifierFilterPropertyValue]="constants.AGE_BASIC_INFORMATION_PUPIL_DIED_CLASSIFIER_ID"
                                                  [hasTotalRow]="true"
                                                  [indicatorType]="pupilsDeadBasicSchool">
                </sis-census-indicator-tracking-3L>
            </div>


            <div class="sis-control-validation">
                <sis-error [id]="'pupilsDiseasedParentsBasicValidation'"
                           [forControl]="pupilsDiseasedParentsBasicName" [isInput]="true"
                           [errorClass]="'sis-validation-wrapper--grouped'"
                           [errorMessage]="pupilTeacherInformationValidationHelper.pupilsDiseasedParentsValidation() || pupilTeacherInformationValidationHelper.censusSchoolPupilsDeceasedParentCountValidator()"
                           [class]="'sis-float-left'">
                </sis-error>
                <label class="sis-label sis-element-required">
                    14.2 How many pupils have deceased parent(s)?
                </label>
            </div>
            <div #pupilsDiseasedParentsBasicName>
                <sis-census-indicator-tracking-3L [census]="census"
                                                  [school]="school"
                                                  [classifierList]="classifierList"
                                                  [tableId]="diedStudentsCompositionId"
                                                  [topLeftCellLabel]="'Level'"
                                                  [verticalClassifierName]="'SchoolLevelGroup'"
                                                  [verticalClassifierFieldName]="'schoolLevelGroupId'"
                                                  [horizontalFirstLevelClassifierName]="'Pupil'"
                                                  [horizontalFirstLevelClassifierFieldName]="'pupilId'"
                                                  [horizontalSecondLevelClassifierName]="'DiedParent'"
                                                  [horizontalSecondLevelClassifierFieldName]="'diedParentId'"
                                                  [verticalClassifierFilterPropertyName]="'schoolTypeId'"
                                                  [verticalClassifierFilterPropertyValue]="constants.SCHOOL_LEVEL_GROUP_NURSERY"
                                                  [hasTotalRow]="true"
                                                  [indicatorType]="pupilsDiseasedParents">
                </sis-census-indicator-tracking-3L>
            </div>


            <div class="sis-control-validation">
                <sis-error [id]="'teacherDeadBasicValidation'"
                           [forControl]="teacherDeadBasicName" [isInput]="true"
                           [errorClass]="'sis-validation-wrapper--grouped'"
                           [errorMessage]="pupilTeacherInformationValidationHelper.teacherDeadValidation() || pupilTeacherInformationValidationHelper.censusSchoolTeachersDiedPrevYearCountValidator()"
                           [class]="'sis-float-left'">
                </sis-error>
                <label class="sis-label sis-element-required">
                    14.3 How many teachers died in the previous year?
                </label>
            </div>
            <div #teacherDeadBasicName>
                <sis-census-indicator-tracking-3L [census]="census"
                                                  [school]="school"
                                                  [classifierList]="classifierList"
                                                  [tableId]="diedTeachersCompositionBasicId"
                                                  [topLeftCellLabel]="'Age Group'"
                                                  [verticalClassifierName]="'Age'"
                                                  [verticalClassifierFieldName]="'ageId'"
                                                  [horizontalFirstLevelClassifierName]="'CauseDeath'"
                                                  [horizontalFirstLevelClassifierFieldName]="'causeDeathId'"
                                                  [horizontalSecondLevelClassifierName]="'Gender'"
                                                  [horizontalSecondLevelClassifierFieldName]="'genderId'"
                                                  [verticalClassifierFilterPropertyName]="'ageParentId'"
                                                  [verticalClassifierFilterPropertyValue]="constants.AGE_INFORMATION_TEACHER_DIED_CLASSIFIER_ID"
                                                  [hasTotalRow]="true"
                                                  [indicatorType]="teacherDied">
                </sis-census-indicator-tracking-3L>
            </div>


            <div class="sis-control-validation">
                <sis-error [id]="'ictTrainingBasicValidation'"
                           [forControl]="ictTrainingBasicName" [isInput]="true"
                           [errorClass]="'sis-validation-wrapper--grouped'"
                           [errorMessage]="pupilTeacherInformationValidationHelper.ictTrainingBasicValidation() || pupilTeacherInformationValidationHelper.censusSchoolPupilTeacherInfoICTTrainingsValidation()"
                           [class]="'sis-float-left'">
                </sis-error>
                <label class="sis-label sis-element-required">
                    14.4 ICT Trainings
                </label>
            </div>
            <div #ictTrainingBasicName>
                <sis-census-indicator-tracking-3L [census]="census"
                                                  [school]="school"
                                                  [classifierList]="classifierList"
                                                  [tableId]="ictTrainingsCompositionId"
                                                  [verticalClassifierName]="'ICTTraining'"
                                                  [verticalClassifierFieldName]="'ictTrainingId'"
                                                  [horizontalFirstLevelClassifierName]="'SchoolLevelGroup'"
                                                  [horizontalFirstLevelClassifierFieldName]="'schoolLevelGroupId'"
                                                  [horizontalFirstLevelClassifierFilterArray]="ICT_TRAININGS_BASIC_ITEMS"
                                                  [horizontalSecondLevelClassifierName]="'Gender'"
                                                  [horizontalSecondLevelClassifierFieldName]="'genderId'"
                                                  [hasTotalRow]="false"
                                                  [indicatorType]="pupilTeacherInfoBasicSchoolIctTraining">
                </sis-census-indicator-tracking-3L>
            </div>


            <div class="sis-control-validation">
                <sis-error [id]="'hivAidsTrainedTeachersBasicValidation'"
                           [forControl]="hivAidsTrainedTeachersBasicName" [isInput]="true"
                           [errorClass]="'sis-validation-wrapper--grouped-inline'"
                           [errorMessage]="pupilTeacherInformationValidationHelper.hivAidsTrainedTeachersValidation()"
                           [class]="'sis-float-left'">
                </sis-error>
                <label class="sis-label sis-element-required">14.5 Number of teachers who have been trained in HIV/AIDS
                    based education (Refer to the application)?</label>
            </div>
            <div #hivAidsTrainedTeachersBasicName>
                <sis-census-indicator-tracking-1L-H [census]="census"
                                                    [school]="school"
                                                    [classifierList]="classifierList"
                                                    [tableId]="'hivAidsTrainedTeachersCompositionId'"
                                                    [noTopLeftCellLabel]="true"
                                                    [indicatorInstanceId]="hivAidsTrainedTeachersBasicSchool"
                                                    [horizontalClassifierName]="'Gender'"
                                                    [horizontalClassifierFieldName]="'genderId'">
                </sis-census-indicator-tracking-1L-H>
            </div>


            <div class="sis-control-validation">
                <sis-error [id]="'hivAidsTeachingTeachersBasicValidation'"
                           [forControl]="hivAidsTeachingTeachersBasicName" [isInput]="true"
                           [errorClass]="'sis-validation-wrapper--grouped-inline'"
                           [errorMessage]="pupilTeacherInformationValidationHelper.hivAidsTeachingTeachersValidation()"
                           [class]="'sis-float-left'">
                </sis-error>
                <label class="sis-label sis-element-required">14.6 Number of teachers teaching HIV/AIDS based education
                    this year</label>
            </div>
            <div #hivAidsTeachingTeachersBasicName>
                <sis-census-indicator-tracking-1L-H [census]="census"
                                                    [school]="school"
                                                    [classifierList]="classifierList"
                                                    [tableId]="'hivAidsTrainedTeachersCompositionId'"
                                                    [noTopLeftCellLabel]="true"
                                                    [indicatorInstanceId]="hivAidsTeachingTeachersBasicSchool"
                                                    [horizontalClassifierName]="'Gender'"
                                                    [horizontalClassifierFieldName]="'genderId'">
                </sis-census-indicator-tracking-1L-H>
            </div>


            <div class="sis-control-validation">
                <sis-error [id]="'teachersReceivingInsetBasicValidation'"
                           [forControl]="teachersReceivingInsetBasicName" [isInput]="true"
                           [errorClass]="'sis-validation-wrapper--grouped-inline'"
                           [errorMessage]="pupilTeacherInformationValidationHelper.teachersReceivingInsetValidation()"
                           [class]="'sis-float-left'">
                </sis-error>
                <label class="sis-label sis-element-required">14.7 Of those teaching this subject, how many received
                    INSET in this subject?</label>
            </div>
            <div #teachersReceivingInsetBasicName>
                <sis-census-indicator-tracking-1L-H [census]="census"
                                                    [school]="school"
                                                    [classifierList]="classifierList"
                                                    [tableId]="'hivAidsTrainedTeachersCompositionId'"
                                                    [noTopLeftCellLabel]="true"
                                                    [indicatorInstanceId]="teachersReceivingInsetBasicSchool"
                                                    [horizontalClassifierName]="'Gender'"
                                                    [horizontalClassifierFieldName]="'genderId'">
                </sis-census-indicator-tracking-1L-H>
            </div>
        </div>

        <div *ngIf="isSecondSchool()">
            <div class="sis-control-validation">
                <sis-error [id]="'studentsDeadSecondaryValidation'"
                           [forControl]="studentsDeadSecondaryName" [isInput]="true"
                           [errorClass]="'sis-validation-wrapper--grouped'"
                           [errorMessage]="pupilTeacherInformationValidationHelper.studentsDeadSecondaryValidation()"
                           [class]="'sis-float-left'">
                </sis-error>
                <label class="sis-label sis-element-required">
                    12.1 How many students died in the previous year?
                </label>
            </div>
            <div #studentsDeadSecondaryName>
                <sis-census-indicator-tracking-3L [census]="census"
                                                  [school]="school"
                                                  [classifierList]="classifierList"
                                                  [tableId]="diedStudentsCompositionSecondId"
                                                  [topLeftCellLabel]="'Age Group'"
                                                  [verticalClassifierName]="'Age'"
                                                  [verticalClassifierFieldName]="'ageId'"
                                                  [horizontalFirstLevelClassifierName]="'CauseDeath'"
                                                  [horizontalFirstLevelClassifierFieldName]="'causeDeathId'"
                                                  [horizontalSecondLevelClassifierName]="'Gender'"
                                                  [horizontalSecondLevelClassifierFieldName]="'genderId'"
                                                  [verticalClassifierFilterPropertyName]="'ageParentId'"
                                                  [verticalClassifierFilterPropertyValue]="constants.AGE_SEC_INFORMATION_STUDENT_DIED_CLASSIFIER_ID"
                                                  [hasTotalRow]="true"
                                                  [indicatorType]="studentDeadSecondaryTvetSchool">
                </sis-census-indicator-tracking-3L>
            </div>


            <div class="sis-control-validation">
                <sis-error [id]="'studentsDeceasedSecondaryValidation'"
                           [forControl]="studentsDeceasedSecondaryName" [isInput]="true"
                           [errorClass]="'sis-validation-wrapper--grouped'"
                           [errorMessage]="pupilTeacherInformationValidationHelper.studentsDeceasedValidation()"
                           [class]="'sis-float-left'">
                </sis-error>
                <label class="sis-label sis-element-required">
                    12.2 How many students have deceased parent(s)?
                </label>
            </div>
            <div #studentsDeceasedSecondaryName>
                <sis-census-indicator-tracking-2LH [census]="census"
                                                   [classifierList]="classifierList"
                                                   [tableId]="deceasedParentSecondarySectionId"
                                                   [horizontalFirstLevelClassifierName]="'Gender'"
                                                   [horizontalFirstLevelClassifierFieldName]="'genderId'"
                                                   [horizontalSecondLevelClassifierName]="'DiedParent'"
                                                   [horizontalSecondLevelClassifierFieldName]="'diedParentId'"
                                                   [indicatorType]="pupilsDiseasedParentsSecondaryTvetSchool">
                </sis-census-indicator-tracking-2LH>
            </div>


            <div class="sis-control-validation">
                <sis-error [id]="'teacherDeadSecondaryValidation'"
                           [forControl]="teacherDeadSecondaryName" [isInput]="true"
                           [errorClass]="'sis-validation-wrapper--grouped'"
                           [errorMessage]="pupilTeacherInformationValidationHelper.teacherDeadValidation()"
                           [class]="'sis-float-left'">
                </sis-error>
                <label class="sis-label sis-element-required">
                    12.3 How many teachers died in the previous year?
                </label>
            </div>
            <div #teacherDeadSecondaryName>
                <sis-census-indicator-tracking-3L [census]="census"
                                                  [school]="school"
                                                  [classifierList]="classifierList"
                                                  [tableId]="diedTeachersCompositionSecondId"
                                                  [topLeftCellLabel]="'Age Group'"
                                                  [verticalClassifierName]="'Age'"
                                                  [verticalClassifierFieldName]="'ageId'"
                                                  [horizontalFirstLevelClassifierName]="'CauseDeath'"
                                                  [horizontalFirstLevelClassifierFieldName]="'causeDeathId'"
                                                  [horizontalSecondLevelClassifierName]="'Gender'"
                                                  [horizontalSecondLevelClassifierFieldName]="'genderId'"
                                                  [verticalClassifierFilterPropertyName]="'ageParentId'"
                                                  [verticalClassifierFilterPropertyValue]="constants.AGE_INFORMATION_TEACHER_DIED_CLASSIFIER_ID"
                                                  [hasTotalRow]="true"
                                                  [indicatorType]="teacherDied">
                </sis-census-indicator-tracking-3L>
            </div>


            <div class="sis-control-validation">
                <sis-error [id]="'ictTrainingSecondaryValidation'"
                           [forControl]="ictTrainingSecondaryName" [isInput]="true"
                           [errorClass]="'sis-validation-wrapper--grouped'"
                           [errorMessage]="pupilTeacherInformationValidationHelper.ictTrainingSecondaryValidation()"
                           [class]="'sis-float-left'">
                </sis-error>
                <label class="sis-label sis-element-required">
                    12.4 ICT Trainings
                </label>
            </div>
            <div #ictTrainingSecondaryName>
                <sis-census-indicator-tracking-2L [census]="census"
                                                  [school]="school"
                                                  [classifierList]="classifierList"
                                                  [tableId]="'beneficiaryTypeTableId'"
                                                  [horizontalClassifierName]="'Gender'"
                                                  [horizontalClassifierFieldName]="'genderId'"
                                                  [verticalClassifierName]="'ICTTraining'"
                                                  [verticalClassifierFieldName]="'ictTrainingId'"
                                                  [indicatorInstanceId]="pupilTeacherInfoSecondarySchoolIctTraining">
                </sis-census-indicator-tracking-2L>
            </div>
        </div>

        <div *ngIf="isTVET()">
            <div class="sis-control-validation">
                <sis-error [id]="'studentsDeadTVETValidation'"
                           [forControl]="studentsDeadTVETName" [isInput]="true"
                           [errorClass]="'sis-validation-wrapper--grouped'"
                           [errorMessage]="pupilTeacherInformationValidationHelper.studentsDeadTVETValidation()"
                           [class]="'sis-float-left'">
                </sis-error>

                <label class="sis-label sis-element-required">
                    10.1 How many students died in the previous year?
                </label>
            </div>
            <div #studentsDeadTVETName>
                <sis-census-indicator-tracking-3L [census]="census"
                                                  [school]="school"
                                                  [classifierList]="classifierList"
                                                  [tableId]="diedStudentsCompositionTVETId"
                                                  [topLeftCellLabel]="'Age Group'"
                                                  [verticalClassifierName]="'Age'"
                                                  [verticalClassifierFieldName]="'ageId'"
                                                  [horizontalFirstLevelClassifierName]="'CauseDeath'"
                                                  [horizontalFirstLevelClassifierFieldName]="'causeDeathId'"
                                                  [horizontalSecondLevelClassifierName]="'Gender'"
                                                  [horizontalSecondLevelClassifierFieldName]="'genderId'"
                                                  [verticalClassifierFilterPropertyName]="'ageParentId'"
                                                  [verticalClassifierFilterPropertyValue]="constants.AGE_TVET_INFORMATION_STUDENT_DIED_CLASSIFIER_ID"
                                                  [hasTotalRow]="true"
                                                  [indicatorType]="studentDeadSecondaryTvetSchool">
                </sis-census-indicator-tracking-3L>
            </div>


            <div class="sis-control-validation">
                <sis-error [id]="'studentsDeceasedTvetValidation'"
                           [forControl]="studentsDeceasedTvetName" [isInput]="true"
                           [errorClass]="'sis-validation-wrapper--grouped'"
                           [errorMessage]="pupilTeacherInformationValidationHelper.studentsDeceasedValidation()"
                           [class]="'sis-float-left'">
                </sis-error>
                <label class="sis-label sis-element-required">
                    10.2 How many students have deceased parent(s)?
                </label>
            </div>
            <div #studentsDeceasedTvetName>
                <sis-census-indicator-tracking-2LH [census]="census"
                                                   [classifierList]="classifierList"
                                                   [tableId]="deceasedParentSecondarySectionId"
                                                   [horizontalFirstLevelClassifierName]="'Gender'"
                                                   [horizontalFirstLevelClassifierFieldName]="'genderId'"
                                                   [horizontalSecondLevelClassifierName]="'DiedParent'"
                                                   [horizontalSecondLevelClassifierFieldName]="'diedParentId'"
                                                   [indicatorType]="pupilsDiseasedParentsSecondaryTvetSchool">
                </sis-census-indicator-tracking-2LH>
            </div>

            <div class="sis-control-validation">
                <sis-error [id]="'teacherDeadTVETValidation'"
                           [forControl]="teacherDeadTVETName" [isInput]="true"
                           [errorClass]="'sis-validation-wrapper--grouped'"
                           [errorMessage]="pupilTeacherInformationValidationHelper.teacherDeadValidation()"
                           [class]="'sis-float-left'">
                </sis-error>
                <label class="sis-label sis-element-required">
                    10.3 How many teachers died in the previous year?
                </label>
            </div>
            <div #teacherDeadTVETName>
                <sis-census-indicator-tracking-3L [census]="census"
                                                  [school]="school"
                                                  [classifierList]="classifierList"
                                                  [tableId]="diedTeachersCompositionTVETId"
                                                  [topLeftCellLabel]="'Age Group'"
                                                  [verticalClassifierName]="'Age'"
                                                  [verticalClassifierFieldName]="'ageId'"
                                                  [horizontalFirstLevelClassifierName]="'CauseDeath'"
                                                  [horizontalFirstLevelClassifierFieldName]="'causeDeathId'"
                                                  [horizontalSecondLevelClassifierName]="'Gender'"
                                                  [horizontalSecondLevelClassifierFieldName]="'genderId'"
                                                  [verticalClassifierFilterPropertyName]="'ageParentId'"
                                                  [verticalClassifierFilterPropertyValue]="constants.AGE_INFORMATION_TEACHER_DIED_CLASSIFIER_ID"
                                                  [hasTotalRow]="true"
                                                  [indicatorType]="teacherDied">
                </sis-census-indicator-tracking-3L>
            </div>
        </div>
    </div>
</div>

