<div class="mdl-grid mdl-grid--no-spacing" title="">
    <div class="mdl-cell mdl-cell--12-col">
        <div *ngIf="isBasicSchool()">
            <div #pupilsDeadBasicName>
                <label class="sis-label sis-element-required">
                    14.1 How many pupils died in the previous year?
                </label>
                <sis-census-indicator-tracking-3L-view [census]="census"
                                                       [school]="school"
                                                       [classifierList]="classifierList"
                                                       [tableId]="diedPupilsSectionId"
                                                       [topLeftCellLabel]="'Age Group'"
                                                       [verticalClassifierName]="'Age'"
                                                       [verticalClassifierFieldName]="'ageId'"
                                                       [horizontalFirstLevelClassifierName]="'CauseDeath'"
                                                       [horizontalFirstLevelClassifierFieldName]="'causeDeathId'"
                                                       [horizontalSecondLevelClassifierName]="'Pupil'"
                                                       [horizontalSecondLevelClassifierFieldName]="'pupilId'"
                                                       [verticalClassifierFilterPropertyName]="'ageParentId'"
                                                       [verticalClassifierFilterPropertyValue]="constants.AGE_BASIC_INFORMATION_PUPIL_DIED_CLASSIFIER_ID"
                                                       [hasTotalRow]="true"
                                                       [indicatorType]="pupilsDeadBasicSchool">
                </sis-census-indicator-tracking-3L-view>
            </div>


            <div #pupilsDiseasedParentsBasicName>
                <label class="sis-label sis-element-required">
                    14.2 How many pupils have deceased parent(s)?
                </label>
                <sis-census-indicator-tracking-3L-view [census]="census"
                                                       [school]="school"
                                                       [classifierList]="classifierList"
                                                       [tableId]="diedStudentsCompositionId"
                                                       [topLeftCellLabel]="'Level'"
                                                       [verticalClassifierName]="'SchoolLevelGroup'"
                                                       [verticalClassifierFieldName]="'schoolLevelGroupId'"
                                                       [horizontalFirstLevelClassifierName]="'Pupil'"
                                                       [horizontalFirstLevelClassifierFieldName]="'pupilId'"
                                                       [horizontalSecondLevelClassifierName]="'DiedParent'"
                                                       [horizontalSecondLevelClassifierFieldName]="'diedParentId'"
                                                       [verticalClassifierFilterPropertyName]="'schoolTypeId'"
                                                       [verticalClassifierFilterPropertyValue]="constants.SCHOOL_LEVEL_GROUP_NURSERY"
                                                       [hasTotalRow]="true"
                                                       [indicatorType]="pupilsDiseasedParents">
                </sis-census-indicator-tracking-3L-view>
            </div>


            <div #teacherDeadBasicName>
                <label class="sis-label sis-element-required">
                    14.3 How many teachers died in the previous year?
                </label>
                <sis-census-indicator-tracking-3L-view [census]="census"
                                                       [school]="school"
                                                       [classifierList]="classifierList"
                                                       [tableId]="diedTeachersCompositionBasicId"
                                                       [topLeftCellLabel]="'Age Group'"
                                                       [verticalClassifierName]="'Age'"
                                                       [verticalClassifierFieldName]="'ageId'"
                                                       [horizontalFirstLevelClassifierName]="'CauseDeath'"
                                                       [horizontalFirstLevelClassifierFieldName]="'causeDeathId'"
                                                       [horizontalSecondLevelClassifierName]="'Gender'"
                                                       [horizontalSecondLevelClassifierFieldName]="'genderId'"
                                                       [verticalClassifierFilterPropertyName]="'ageParentId'"
                                                       [verticalClassifierFilterPropertyValue]="constants.AGE_INFORMATION_TEACHER_DIED_CLASSIFIER_ID"
                                                       [hasTotalRow]="true"
                                                       [indicatorType]="teacherDied">
                </sis-census-indicator-tracking-3L-view>
            </div>

            <div #ictTrainingBasicName>
                <label class="sis-label sis-element-required">
                    14.4 ICT Trainings
                </label>
                <sis-census-indicator-tracking-3L-view [census]="census"
                                                       [school]="school"
                                                       [classifierList]="classifierList"
                                                       [tableId]="ictTrainingsCompositionId"
                                                       [verticalClassifierName]="'IctTraining'"
                                                       [verticalClassifierFieldName]="'ictTrainingId'"
                                                       [horizontalFirstLevelClassifierName]="'SchoolLevelGroup'"
                                                       [horizontalFirstLevelClassifierFieldName]="'schoolLevelGroupId'"
                                                       [horizontalFirstLevelClassifierFilterArray]="ICT_TRAININGS_BASIC_ITEMS"
                                                       [horizontalSecondLevelClassifierName]="'Gender'"
                                                       [horizontalSecondLevelClassifierFieldName]="'genderId'"
                                                       [hasTotalRow]="false"
                                                       [indicatorType]="pupilTeacherInfoBasicSchoolIctTraining">
                </sis-census-indicator-tracking-3L-view>
            </div>


            <div #hivAidsTrainedTeachersBasicName>
                <label class="sis-label sis-element-required">14.5 Number of teachers who have been trained in HIV/AIDS
                    based education (Refer to the application)?</label>
                <sis-census-indicator-tracking-1L-HView [census]="census"
                                                        [school]="school"
                                                        [classifierList]="classifierList"
                                                        [tableId]="'hivAidsTrainedTeachersCompositionId'"
                                                        [noTopLeftCellLabel]="true"
                                                        [indicatorInstanceId]="hivAidsTrainedTeachersBasicSchool"
                                                        [horizontalClassifierName]="'Gender'"
                                                        [horizontalClassifierFieldName]="'genderId'">
                </sis-census-indicator-tracking-1L-HView>
            </div>

            <div #hivAidsTeachingTeachersBasicName>
                <label class="sis-label sis-element-required">14.6 Number of teachers teaching HIV/AIDS based education
                    this year</label>
                <sis-census-indicator-tracking-1L-HView [census]="census"
                                                        [school]="school"
                                                        [classifierList]="classifierList"
                                                        [tableId]="'hivAidsTrainedTeachersCompositionId'"
                                                        [noTopLeftCellLabel]="true"
                                                        [indicatorInstanceId]="hivAidsTeachingTeachersBasicSchool"
                                                        [horizontalClassifierName]="'Gender'"
                                                        [horizontalClassifierFieldName]="'genderId'">
                </sis-census-indicator-tracking-1L-HView>
            </div>
            <div #teachersReceivingInsetBasicName>
                <label class="sis-label sis-element-required">14.7 Of those teaching this subject, how many received
                    INSET in this subject?</label>
                <sis-census-indicator-tracking-1L-HView [census]="census"
                                                        [school]="school"
                                                        [classifierList]="classifierList"
                                                        [tableId]="'hivAidsTrainedTeachersCompositionId'"
                                                        [noTopLeftCellLabel]="true"
                                                        [indicatorInstanceId]="teachersReceivingInsetBasicSchool"
                                                        [horizontalClassifierName]="'Gender'"
                                                        [horizontalClassifierFieldName]="'genderId'">
                </sis-census-indicator-tracking-1L-HView>
            </div>
        </div>

        <div *ngIf="isSecondSchool()">
            <div #studentsDeadSecondaryName>
                <label class="sis-label sis-element-required">
                    12.1 How many students died in the previous year?
                </label>
                <sis-census-indicator-tracking-3L-view [census]="census"
                                                       [school]="school"
                                                       [classifierList]="classifierList"
                                                       [tableId]="diedStudentsCompositionSecondId"
                                                       [topLeftCellLabel]="'Age Group'"
                                                       [verticalClassifierName]="'Age'"
                                                       [verticalClassifierFieldName]="'ageId'"
                                                       [horizontalFirstLevelClassifierName]="'CauseDeath'"
                                                       [horizontalFirstLevelClassifierFieldName]="'causeDeathId'"
                                                       [horizontalSecondLevelClassifierName]="'Gender'"
                                                       [horizontalSecondLevelClassifierFieldName]="'genderId'"
                                                       [verticalClassifierFilterPropertyName]="'ageParentId'"
                                                       [verticalClassifierFilterPropertyValue]="constants.AGE_SEC_INFORMATION_STUDENT_DIED_CLASSIFIER_ID"
                                                       [hasTotalRow]="true"
                                                       [indicatorType]="studentDeadSecondaryTvetSchool">
                </sis-census-indicator-tracking-3L-view>
            </div>

            <div #studentsDeceasedSecondaryName>
                <label class="sis-label sis-element-required">
                    12.2 How many students have deceased parent(s)?
                </label>
                <sis-census-indicator-tracking-2LH-view [census]="census"
                                                        [classifierList]="classifierList"
                                                        [tableId]="deceasedParentSecondarySectionId"
                                                        [horizontalFirstLevelClassifierName]="'Gender'"
                                                        [horizontalFirstLevelClassifierFieldName]="'genderId'"
                                                        [horizontalSecondLevelClassifierName]="'DiedParent'"
                                                        [horizontalSecondLevelClassifierFieldName]="'diedParentId'"
                                                        [indicatorType]="pupilsDiseasedParentsSecondaryTvetSchool">
                </sis-census-indicator-tracking-2LH-view>
            </div>

            <div #teacherDeadSecondaryName>
                <label class="sis-label sis-element-required">
                    12.3 How many teachers died in the previous year?
                </label>
                <sis-census-indicator-tracking-3L-view [census]="census"
                                                       [school]="school"
                                                       [classifierList]="classifierList"
                                                       [tableId]="diedTeachersCompositionSecondId"
                                                       [topLeftCellLabel]="'Age Group'"
                                                       [verticalClassifierName]="'Age'"
                                                       [verticalClassifierFieldName]="'ageId'"
                                                       [horizontalFirstLevelClassifierName]="'CauseDeath'"
                                                       [horizontalFirstLevelClassifierFieldName]="'causeDeathId'"
                                                       [horizontalSecondLevelClassifierName]="'Gender'"
                                                       [horizontalSecondLevelClassifierFieldName]="'genderId'"
                                                       [verticalClassifierFilterPropertyName]="'ageParentId'"
                                                       [verticalClassifierFilterPropertyValue]="constants.AGE_INFORMATION_TEACHER_DIED_CLASSIFIER_ID"
                                                       [hasTotalRow]="true"
                                                       [indicatorType]="teacherDied">
                </sis-census-indicator-tracking-3L-view>
            </div>


            <div #ictTrainingSecondaryName>
                <label class="sis-label sis-element-required">
                    12.4 ICT Trainings
                </label>
                <sis-census-indicator-tracking-2L-view [census]="census"
                                                       [school]="school"
                                                       [classifierList]="classifierList"
                                                       [tableId]="'beneficiaryTypeTableId'"
                                                       [horizontalClassifierName]="'Gender'"
                                                       [horizontalClassifierFieldName]="'genderId'"
                                                       [verticalClassifierName]="'IctTraining'"
                                                       [verticalClassifierFieldName]="'ictTrainingId'"
                                                       [indicatorInstanceId]="pupilTeacherInfoSecondarySchoolIctTraining">
                </sis-census-indicator-tracking-2L-view>
            </div>
        </div>

        <div *ngIf="isTVET()">
            <div #studentsDeadTVETName>
                <label class="sis-label sis-element-required"> 10.1 How many students died in the previous
                    year? </label>
                <sis-census-indicator-tracking-3L-view [census]="census"
                                                       [school]="school"
                                                       [classifierList]="classifierList"
                                                       [tableId]="diedStudentsCompositionTVETId"
                                                       [topLeftCellLabel]="'Age Group'"
                                                       [verticalClassifierName]="'Age'"
                                                       [verticalClassifierFieldName]="'ageId'"
                                                       [horizontalFirstLevelClassifierName]="'CauseDeath'"
                                                       [horizontalFirstLevelClassifierFieldName]="'causeDeathId'"
                                                       [horizontalSecondLevelClassifierName]="'Gender'"
                                                       [horizontalSecondLevelClassifierFieldName]="'genderId'"
                                                       [verticalClassifierFilterPropertyName]="'ageParentId'"
                                                       [verticalClassifierFilterPropertyValue]="constants.AGE_TVET_INFORMATION_STUDENT_DIED_CLASSIFIER_ID"
                                                       [hasTotalRow]="true"
                                                       [indicatorType]="studentDeadSecondaryTvetSchool">
                </sis-census-indicator-tracking-3L-view>
            </div>

            <div #studentsDeceasedTvetName>
                <label class="sis-label sis-element-required">
                    10.2 How many students have deceased parent(s)?
                </label>
                <sis-census-indicator-tracking-2LH-view [census]="census"
                                                        [classifierList]="classifierList"
                                                        [tableId]="deceasedParentSecondarySectionId"
                                                        [horizontalFirstLevelClassifierName]="'Gender'"
                                                        [horizontalFirstLevelClassifierFieldName]="'genderId'"
                                                        [horizontalSecondLevelClassifierName]="'DiedParent'"
                                                        [horizontalSecondLevelClassifierFieldName]="'diedParentId'"
                                                        [indicatorType]="pupilsDiseasedParentsSecondaryTvetSchool">
                </sis-census-indicator-tracking-2LH-view>
            </div>


            <div #teacherDeadTVETName>
                <label class="sis-label sis-element-required">
                    10.3 How many teachers died in the previous year?
                </label>
                <sis-census-indicator-tracking-3L-view [census]="census"
                                                       [school]="school"
                                                       [classifierList]="classifierList"
                                                       [tableId]="diedTeachersCompositionTVETId"
                                                       [topLeftCellLabel]="'Age Group'"
                                                       [verticalClassifierName]="'Age'"
                                                       [verticalClassifierFieldName]="'ageId'"
                                                       [horizontalFirstLevelClassifierName]="'CauseDeath'"
                                                       [horizontalFirstLevelClassifierFieldName]="'causeDeathId'"
                                                       [horizontalSecondLevelClassifierName]="'Gender'"
                                                       [horizontalSecondLevelClassifierFieldName]="'genderId'"
                                                       [verticalClassifierFilterPropertyName]="'ageParentId'"
                                                       [verticalClassifierFilterPropertyValue]="constants.AGE_INFORMATION_TEACHER_DIED_CLASSIFIER_ID"
                                                       [hasTotalRow]="true"
                                                       [indicatorType]="teacherDied">
                </sis-census-indicator-tracking-3L-view>
            </div>
        </div>
    </div>
</div>

