<div>
    <div mdl class="mdl-grid mdl-grid--no-spacing">
        <div #resourceSource class="mdl-cell mdl-cell--4-col">
            <div class="sis-control-validation">
                <sis-error [id]="'sourceValidation'" *ngIf="isErrorMessageVisible"
                           [forControl]="resourceSource" [isInput]="true"
                           [errorClass]="'sis-validation-wrapper--element'"
                           [errorMessage]="resourceValidationHelper.sourceRequiredValidation()"
                           [class]="'sis-float-left'">
                </sis-error>
                <label class="sis-label sis-element-required">Source</label>
            </div>
            <input type="text" [(ngModel)]="subEntity.getProperty('source').value" class="sis-input sis-mid-width"/>
        </div>

        <div class="mdl-cell mdl-cell--4-col">
            <label class="sis-label">Type of Work/Donation/Funds</label>
            <input type="text" [(ngModel)]="subEntity.getProperty('typeofWork').value" class="sis-input sis-mid-width"/>
        </div>
    </div>

    <div class="sis-clear">
        <label class="sis-label">Estimated Cost (in GHS)</label>
        <input type="number" [(ngModel)]="subEntity.getProperty('cost').value" inputMaxLength="6"
               class="sis-input sis-mid-width"/>
    </div>
    <div class="sis-actions sis-align-right">
        <button class="mdl-button mdl-js-button sis-btn--primary mdl-button--raised mdl-js-ripple-effect"
                (click)="onDoneClicked()"> Ok
        </button>
        <button class="mdl-button mdl-button--raised mdl-js-button  sis-btn--sec mdl-js-ripple-effect"
                (click)="onCancelClicked()"> Cancel
        </button>
    </div>
</div>