<div title="">

    <div *ngIf="getIsBasicSchoolType()">
        <div class="sis-control-validation">
            <sis-error [id]="'typeOfLeaveBasicId'"
                       [forControl]="typeOfLeaveBasic"
                       [isInput]="true"
                       [errorMessage]="staffMovementValidationHelper.staffHaveTakenLeaveValidation()"
                       [class]="'sis-float-left'">
            </sis-error>
            <label class="sis-label sis-element-required">15.1 How many staff have taken leave in the past school year
                and what kind of leave it was?</label>
        </div>
        <div #typeOfLeaveBasic>
            <sis-census-indicator-tracking-3L [census]="census" *ngIf="getIsBasicSchoolType()"
                                              [classifierList]="classifierList"
                                              [tableId]="'typeOfLeaveBasicTableId'"
                                              [topLeftCellLabel]="'Type Of Leave'"
                                              [verticalClassifierName]="'TypeOfLeave'"
                                              [verticalClassifierFieldName]="'typeOfLeaveId'"
                                              [horizontalFirstLevelClassifierName]="'SchoolLevelGroupAdministration'"
                                              [horizontalFirstLevelClassifierFieldName]="'schoolLevelGroupAdministrationId'"
                                              [horizontalSecondLevelClassifierName]="'Gender'"
                                              [horizontalSecondLevelClassifierFieldName]="'genderId'"
                                              [horizontalFirstLevelClassifierFilterPropertyName]="'schoolTypeId'"
                                              [horizontalFirstLevelClassifierFilterPropertyValue]="'1'"
                                              [indicatorType]="26">
            </sis-census-indicator-tracking-3L>
        </div>
    </div>


    <div class="sis-controls--top-margin" *ngIf="getIsBasicSchoolType()">
        <div class="sis-control-validation">
            <sis-error [id]="'reasonOfLeaveBasicId'"
                       [forControl]="reasonOfLeaveBasic"
                       [isInput]="true"
                       [errorMessage]="staffMovementValidationHelper.staffHaveLeftValidation()"
                       [class]="'sis-float-left'">
            </sis-error>
            <label class="sis-label sis-element-required">15.2 How Many Staff have left your school for the following reasons in the past school year?</label>
        </div>
        <div  #reasonOfLeaveBasic>
            <sis-census-indicator-tracking-3L [census]="census"
                                              [classifierList]="classifierList"
                                              [tableId]="'reasonOfLeaveBasicTableId'"
                                              [topLeftCellLabel]="'Reasons for leaving'"
                                              [verticalClassifierName]="'ReasonsforLeaving'"
                                              [verticalClassifierFieldName]="'reasonsForLeavingId'"
                                              [verticalClassifierFilterArray]="filteredReasonIdsForSchoolType"
                                              [horizontalFirstLevelClassifierName]="'SchoolLevelGroupAdministration'"
                                              [horizontalFirstLevelClassifierFieldName]="'schoolLevelGroupAdministrationId'"
                                              [horizontalSecondLevelClassifierName]="'Gender'"
                                              [horizontalSecondLevelClassifierFieldName]="'genderId'"
                                              [horizontalFirstLevelClassifierFilterPropertyName]="'schoolTypeId'"
                                              [horizontalFirstLevelClassifierFilterPropertyValue]="'1'"
                                              [indicatorType]="27">
            </sis-census-indicator-tracking-3L>
        </div>
    </div>


    <div *ngIf="getIsSecondarySchoolType()" class="sis-controls--top-margin">
        <div class="sis-control-validation">
            <sis-error [id]="'typeOfLeaveSecId'" *ngIf="getIsSecondarySchoolType()"
                       [forControl]="typeOfLeaveSec"
                       [isInput]="true"
                       [errorMessage]="staffMovementValidationHelper.staffHaveTakenLeaveSecondaryValidation()"
                       [class]="'sis-float-left'">
            </sis-error>
            <label class="sis-label sis-element-required">13.1 How many staff have taken leave in the past school year and what kind of leave it was?</label>
        </div>
        <div #typeOfLeaveSec>
            <sis-census-indicator-tracking-3L [census]="census"
                                              [classifierList]="classifierList"
                                              [tableId]="'typeOfleaveSecTableId'"
                                              [topLeftCellLabel]="'Type Of Leave'"
                                              [verticalClassifierName]="'TypeOfLeave'"
                                              [verticalClassifierFieldName]="'typeOfLeaveId'"
                                              [horizontalFirstLevelClassifierName]="'TeacherStaff'"
                                              [horizontalFirstLevelClassifierFieldName]="'teacherStaffId'"
                                              [horizontalSecondLevelClassifierName]="'Gender'"
                                              [horizontalSecondLevelClassifierFieldName]="'genderId'"
                                              [indicatorType]="28">
            </sis-census-indicator-tracking-3L>
        </div>
    </div>

    <div *ngIf="getIsSecondarySchoolType()">
        <div class="sis-control-validation">
            <sis-error [id]="'reasonOfLeaveSecId'" *ngIf="getIsSecondarySchoolType()"
                       [forControl]="reasonOfLeaveSec"
                       [isInput]="true"
                       [errorMessage]="staffMovementValidationHelper.reasonOfLeaveSecondaryValidation()"
                       [class]="'sis-float-left'">
            </sis-error>
            <label class="sis-label sis-element-required">13.2 How many Staff have left your institution for the following reasons in the past academic year?</label>
        </div>
        <div #reasonOfLeaveSec>
            <sis-census-indicator-tracking-3L [census]="census"
                                              [classifierList]="classifierList"
                                              [tableId]="'ableI2d1'"
                                              [topLeftCellLabel]="'Reasons for leaving'"
                                              [horizontalFirstLevelClassifierName]="'TeacherStaff'"
                                              [horizontalFirstLevelClassifierFieldName]="'teacherStaffId'"
                                              [verticalClassifierName]="'ReasonsforLeaving'"
                                              [verticalClassifierFieldName]="'reasonsForLeavingId'"
                                              [verticalClassifierFilterArray]="filteredReasonIdsForSchoolType"
                                              [horizontalSecondLevelClassifierName]="'Gender'"
                                              [horizontalSecondLevelClassifierFieldName]="'genderId'"
                                              [indicatorType]="29">
            </sis-census-indicator-tracking-3L>
        </div>
    </div>


    <div *ngIf="getIsTVETSchoolType()">
        <div class="sis-control-validation">
            <sis-error [id]="'typeOfLeaveTvetId'" *ngIf="getIsTVETSchoolType()"
                       [forControl]="typeOfLeaveTvet"
                       [isInput]="true"
                       [errorMessage]="staffMovementValidationHelper.staffHaveTakenLeaveTvetValidation()"
                       [class]="'sis-float-left'">
            </sis-error>
            <label class="sis-label sis-element-required">11.1 How many staff have taken leave in the past school year and what kind of leave it was?</label>
        </div>
        <div #typeOfLeaveTvet>
            <sis-census-indicator-tracking-3L [census]="census"
                                              [classifierList]="classifierList"
                                              [tableId]="'typeOfleaveSecTableId'"
                                              [topLeftCellLabel]="'Type Of Leave'"
                                              [verticalClassifierName]="'TypeOfLeave'"
                                              [verticalClassifierFieldName]="'typeOfLeaveId'"
                                              [horizontalFirstLevelClassifierName]="'TeacherStaff'"
                                              [horizontalFirstLevelClassifierFieldName]="'teacherStaffId'"
                                              [horizontalSecondLevelClassifierName]="'Gender'"
                                              [horizontalSecondLevelClassifierFieldName]="'genderId'"
                                              [indicatorType]="28">
            </sis-census-indicator-tracking-3L>
        </div>
    </div>


    <div *ngIf="getIsTVETSchoolType()">
        <div class="sis-control-validation">
            <sis-error [id]="'reasonOfLeaveTvetId'"  *ngIf="getIsTVETSchoolType()"
                       [forControl]="reasonOfLeaveTvet"
                       [isInput]="true"
                       [errorMessage]="staffMovementValidationHelper.reasonOfLeaveTvetValidation()"
                       [class]="'sis-float-left'">
            </sis-error>
            <label class="sis-label sis-element-required">11.2	How many Staff have left your institution for the following reasons in the past academic year?</label>
        </div>
        <div #reasonOfLeaveTvet>
            <sis-census-indicator-tracking-3L [census]="census"
                                              [classifierList]="classifierList"
                                              [tableId]="'ableI2d1'"
                                              [topLeftCellLabel]="'Reasons for leaving'"
                                              [horizontalFirstLevelClassifierName]="'TeacherStaff'"
                                              [horizontalFirstLevelClassifierFieldName]="'teacherStaffId'"
                                              [verticalClassifierName]="'ReasonsforLeaving'"
                                              [verticalClassifierFieldName]="'reasonsForLeavingId'"
                                              [verticalClassifierFilterArray]="filteredReasonIdsForSchoolType"
                                              [horizontalSecondLevelClassifierName]="'Gender'"
                                              [horizontalSecondLevelClassifierFieldName]="'genderId'"
                                              [indicatorType]="29">
            </sis-census-indicator-tracking-3L>
        </div>
    </div>

    <div #movementRecieveService *ngIf="getIsTVETSchoolType()">
        <div class="sis-control-validation">
            <sis-error [id]="'movementRecieveServiceTVETValidationId'"  *ngIf="getIsTVETSchoolType()"
                       [forControl]="movementRecieveService" [isInput]="true"
                       [errorClass]="'sis-validation-wrapper--element'"
                       [errorMessage]="staffMovementValidationHelper.movementRecieveServiceValidation()"
                       [class]="'sis-float-left'">
            </sis-error>
            <label class="sis-label sis-element-required">11.3 How often did your teachers receive in-service training in the past year?</label>
        </div>
        <sis-select-one-radio [census]="census"
                              [classifierList]="classifierList"
                              [censusSubEntityCategoryName]="'CensusSchoolQuestion'"
                              [censusSubEntityName]="'censusSchoolQuestions'"
                              [classifierNameFromInput]="'ReceiveServiceId'"
                              [classifierId]="'MOVEMENTRECIEVESERVICE_ID'"
                              [subEntityFields]="questionSubEntityFields">
        </sis-select-one-radio>
    </div>


    <div #hivaidsyesno *ngIf="getIsTVETSchoolType()">
        <div class="sis-control-validation">
            <sis-error [id]="'hivaidsyesnoTVETValidationId'" *ngIf="getIsTVETSchoolType()"
                       [forControl]="hivaidsyesno" [isInput]="true"
                       [errorClass]="'sis-validation-wrapper--element'"
                       [errorMessage]="staffMovementValidationHelper.hivaidsYesNoValidation()"
                       [class]="'sis-float-left'">
            </sis-error>
            <label class="sis-label sis-element-required">11.4 Has your institution had any in-service training on HIV/AIDs?</label>
        </div>
        <sis-select-one-radio [census]="census"
                              [classifierList]="classifierList"
                              [censusSubEntityCategoryName]="'CensusSchoolQuestion'"
                              [censusSubEntityName]="'censusSchoolQuestions'"
                              [classifierNameFromInput]="'YesNoId'"
                              [classifierId]="'HIV_AIDS_YES_NO_ID'"
                              [subEntityFields]="questionSubEntityFields">
        </sis-select-one-radio>
    </div>


    <div class="sis-controls--top-margin"  #hivaidsyesnoissues *ngIf="getIsTVETSchoolType()">
        <div class="sis-control-validation">
            <sis-error [id]="'hivaidsyesnoIssuesTVETValidationId'"  *ngIf="getIsTVETSchoolType()"
                       [forControl]="hivaidsyesnoissues" [isInput]="true"
                       [errorClass]="'sis-validation-wrapper--element'"
                       [errorMessage]="staffMovementValidationHelper.hivaidsIssuesYesNoServiceValidation()"
                       [class]="'sis-float-left'">
            </sis-error>
            <label class="sis-label sis-element-required">11.5 Does your institution teach HIV/AIDS issues as integrated in the curriculum?</label>
        </div>
        <sis-select-one-radio [census]="census"
                              [classifierList]="classifierList"
                              [censusSubEntityCategoryName]="'CensusSchoolQuestion'"
                              [censusSubEntityName]="'censusSchoolQuestions'"
                              [classifierId]="'HIV_AIDS_ISSUES_YES_NO_ID'"
                              [classifierNameFromInput]="'YesNoId'"
                              [subEntityFields]="questionSubEntityFields">
        </sis-select-one-radio>
    </div>
</div>

