.sis-validation-wrapper {
  margin-top: 28px;
  z-index: 1000; }

.sis-validation-wrapper__message {
  display: inline-block;
  position: absolute;
  bottom: 40px;
  background: #b94a48;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  color: #fff;
  padding: 12px; }
  .sis-validation-wrapper__message:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #b94a48;
    position: absolute;
    left: 1px;
    top: 100%; }

.sis-validation-wrapper__icon:hover + .sis-validation-wrapper__message {
  display: block !important; }

.sis-validation-wrapper__icon .material-icons {
  color: #b94a48;
  font-size: 20px;
  margin-right: 7px; }
