<div class="mdl-grid mdl-grid--no-spacing" title="">
    <div class="mdl-cell mdl-cell--12-col">
        <div *ngIf="getIsBasicSchoolType()">
            <div class="sis-control-validation">
                <sis-error [id]="'pupilsTransferredRequired'"
                           [errorMessage]="pupilStudentAttendanceAndMovementValidationHelper.pupilsTransferredRequiredValidation() || pupilStudentAttendanceAndMovementValidationHelper.censusSchoolPupilMovementInformationValidator()"
                           *ngIf="getIsBasicSchoolType()"
                           [class]="'sis-float-left'" [forControl]="pupilsTransferred"
                           [isInput]="true">
                </sis-error>
            </div>
            <div #pupilsTransferred>
                <sis-census-indicator-tracking-3L [census]="census"
                                                  [school]="school"
                                                  [classifierList]="classifierList"
                                                  [tableId]="'pupilAttTableId' "
                                                  [verticalClassifierName]="'IndicatorPupilAttendance'"
                                                  [verticalClassifierFieldName]="'indicatorPupilAttendanceId'"
                                                  [horizontalFirstLevelClassifierName]="'SchoolLevel'"
                                                  [horizontalFirstLevelClassifierFieldName]="'schoolLevelId'"
                                                  [horizontalSecondLevelClassifierName]="'Pupil'"
                                                  [horizontalSecondLevelClassifierFieldName]="'pupilId'"
                                                  [verticalClassifierFilterPropertyName]="''"
                                                  [verticalClassifierFilterPropertyValue]="''"
                                                  [horizontalFirstLevelClassifierFilterPropertyName]="''"
                                                  [horizontalFirstLevelClassifierFilterPropertyValue]="''"
                                                  [horizontalSecondLevelClassifierFilterPropertyName]="''"
                                                  [horizontalSecondLevelClassifierFilterPropertyValue]="''"
                                                  [hasEmbeddedVerticalClassifier]="true"
                                                  [noVerticalClassifierColumn]="true"
                                                  [tabNumber]="'11'"
                                                  [indicatorType]="35">
                </sis-census-indicator-tracking-3L>
            </div>
        </div>

        <div *ngIf="getIsSecondarySchoolType()">
            <div class="sis-control-validation">
                <sis-error [id]="'studentsTransferredRequired'"
                           [errorMessage]="pupilStudentAttendanceAndMovementValidationHelper.studentsTransferredRequiredValidation()"
                           *ngIf="getIsSecondarySchoolType()"
                           [class]="'sis-float-left'" [forControl]="studentsTransferred"
                           [isInput]="true">
                </sis-error>

            </div>
            <div #studentsTransferred>
                <sis-census-indicator-tracking-3L [census]="census"
                                                  [school]="school"
                                                  [classifierList]="classifierList"
                                                  [tableId]="'studentAttTableId' "
                                                  [verticalClassifierName]="'IndicatorStudentAttendance'"
                                                  [verticalClassifierFieldName]="'indicatorStudentAttendanceId'"
                                                  [horizontalFirstLevelClassifierName]="'SchoolLevelGroup'"
                                                  [horizontalFirstLevelClassifierFieldName]="'schoolLevelGroupId'"
                                                  [horizontalSecondLevelClassifierName]="'Pupil'"
                                                  [horizontalSecondLevelClassifierFieldName]="'pupilId'"
                                                  [verticalClassifierFilterPropertyName]="''"
                                                  [verticalClassifierFilterPropertyValue]="''"
                                                  [horizontalFirstLevelClassifierFilterPropertyName]="'schoolTypeId'"
                                                  [horizontalFirstLevelClassifierFilterPropertyValue]="'2'"
                                                  [horizontalSecondLevelClassifierFilterPropertyName]="''"
                                                  [horizontalSecondLevelClassifierFilterPropertyValue]="''"
                                                  [hasVerticalTotalColumn]="true"
                                                  [hasEmbeddedVerticalClassifier]="true"
                                                  [noVerticalClassifierColumn]="true"
                                                  [tabNumber]="'9'"
                                                  [indicatorType]="61">
                </sis-census-indicator-tracking-3L>
            </div>
        </div>

        <div *ngIf="getIsBasicSchoolType() && pupilStudentAttendanceAndMovementValidationHelper.isShowGirlsPregnantSection()">
            <div class="sis-control-validation">
                <sis-error [id]="'pregnantGirlsValidator'"
                           [errorMessage]="pupilStudentAttendanceAndMovementValidationHelper.censusSchoolPregnantGirlsValidator()"
                           [class]="'sis-float-left'"
                           [forControl]="pregnantGirls"
                           [isInput]="true">
                </sis-error>
            </div>
            <div #pregnantGirls class="sis-controls--top-margin">
                <sis-census-indicator-tracking-1L-H [census]="census"
                                                    [school]="school"
                                                    [classifierList]="classifierList"
                                                    [label]="' 11.7 How many Girls got Pregnant last academic Year?'"
                                                    [tableId]="'girlsGotPregnantBasicTableId'"
                                                    [indicatorInstanceId]="36"
                                                    [horizontalClassifierName]="'SchoolLevel'"
                                                    [horizontalClassifierFieldName]="'schoolLevelId'"
                                                    [horizontalClassifierFilterArray]="SCHOOL_LEVEL_IS_USED_IN_PUPILSTUDENT_ATTENDANCE_TAB"
                                                    [topLeftCellLabel]=""
                                                    [verticalRowName]="''"
                                                    [noTopLeftCellLabel]="true">
                </sis-census-indicator-tracking-1L-H>
            </div>
        </div>

        <sis-census-indicator-tracking-1L-H [census]="census"
                                            [school]="school"
                                            [classifierList]="classifierList"
                                            [label]="'9.7 How many Girls got Pregnant last academic Year?'"
                                            [tableId]="'girlsGotPregnantSecondaryTableId'"
                                            [indicatorInstanceId]="59"
                                            [horizontalClassifierName]="'SchoolLevelGroup'"
                                            [horizontalClassifierFieldName]="'schoolLevelGroupId'"
                                            [horizontalClassifierFilterArray]="SCHOOL_LEVEL_GROUP_FOR_SECONDARY "
                                            [topLeftCellLabel]=""
                                            [verticalRowName]="''"
                                            [noTopLeftCellLabel]="true"
                                            *ngIf="getIsSecondarySchoolType()">
        </sis-census-indicator-tracking-1L-H>

        <!-- START How many days was your school opened in the month of February? -->
        <div *ngIf="getIsBasicSchoolType()">
            <div class="sis-control-validation">
                <sis-error [id]="'howManyDaysSchoolWasOpenedinFeb'"
                           [errorMessage]="pupilStudentAttendanceAndMovementValidationHelper.howManyDaysWasSchoolopenedInFebValidation() || pupilStudentAttendanceAndMovementValidationHelper.censusSchoolFebruaryOpenedDaysValidator()"
                           *ngIf="getIsBasicSchoolType()"
                           [errorClass]="'sis-validation-wrapper--element'"
                           [class]="'sis-float-left'" [forControl]="howManyDaysSchoolWasOpened"
                           [isInput]="true">
                </sis-error>
                <label class="sis-label sis-element-required" *ngIf="pupilStudentAttendanceAndMovementValidationHelper.isShowGirlsPregnantSection()">11.8 How many days was your school opened in the month of
                    February?</label>
                <label class="sis-label sis-element-required" *ngIf="!pupilStudentAttendanceAndMovementValidationHelper.isShowGirlsPregnantSection()">11.7 How many days was your school opened in the month of
                    February?</label>
            </div>
        </div>

        <div *ngIf="getIsSecondarySchoolType()">
            <div class="sis-control-validation">
                <sis-error [id]="'howManyDaysSchoolWasOpenedinJan'"
                           [errorMessage]="pupilStudentAttendanceAndMovementValidationHelper.howManyDaysWasSchoolopenedInJanValidation()"
                           *ngIf="getIsSecondarySchoolType()"
                           [class]="'sis-float-left'" [forControl]="howManyDaysSchoolWasOpened"
                           [isInput]="true">
                </sis-error>
                <label class="sis-label sis-element-required">9.8 How many days was your school opened in the month of
                    January?</label>
            </div>
        </div>

        <div class="mdl-cell--2-col" #howManyDaysSchoolWasOpened>
            <sis-census-indicator-tracking-0Level [census]="census"
                                                  [classifierList]="classifierList"
                                                  [indicatorInstanceId]="37">
            </sis-census-indicator-tracking-0Level>
        </div>
        <!-- END How many days was your school opened in the month of February? -->
    </div>
</div>
