<div class="mdl-grid sis-layout">
    <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid  sis-layout__section">
        <div class="mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--12-col">
                <sis-census-indicator-tracking-3L-view [census]="census"
                                                  [classifierList]="classifierList"
                                                  [sectionNumber]="getSectionNumber()"
                                                  [tableId]="'targetingTableId'"
                                                  [verticalClassifierName]="'Targeting'"
                                                  [verticalClassifierFieldName]="'targetingId'"
                                                  [verticalClassifierFilterArray]="notEscapedTargetingIds"
                                                  [horizontalFirstLevelClassifierName]="'SchoolLevelGroup'"
                                                  [horizontalFirstLevelClassifierFieldName]="'schoolLevelGroupId'"
                                                  [horizontalSecondLevelClassifierName]="'Pupil'"
                                                  [horizontalSecondLevelClassifierFieldName]="'pupilId'"
                                                  [horizontalFirstLevelClassifierFilterPropertyName]="'schoolTypeId'"
                                                  [horizontalFirstLevelClassifierFilterPropertyValue]="schoolTypeId"
                                                  [indicatorType]="getSchoolTypeStatistics()">
                </sis-census-indicator-tracking-3L-view>
            </div>
        </div>
    </div>
</div>