<div mdl class="mdl-grid mdl-grid--no-spacing" title=""
     [style.display]="isAddEditTeacherFormVisible.value? 'none' : 'block'">
    <div class="mdl-cell mdl-cell--12-col">
        <div class="sis-control-validation">
            <sis-error [id]="'teacherTableValidation'"
                       [errorClass]="'sis-validation-wrapper--grouped'"
                       [errorMessage]="teachersEditValidationHelper.censusSchoolTeachersValidation()"
                       [class]="'sis-float-left'" [forControl]="teacherTable"
                       [isInput]="true">
            </sis-error>
            <sis-error [id]="'teacherTableValidation'" *ngIf="getIsBasicSchoolType()"
                       [errorClass]="'sis-validation-wrapper--grouped'"
                       [errorMessage]="teachersEditValidationHelper.censusSchoolTeacherCountEqualValidation()"
                       [class]="'sis-float-left'" [forControl]="teacherTable"
                       [isInput]="true">
            </sis-error>

            <sis-error [id]="'teacherTableValidation'"
                       [errorClass]="'sis-validation-wrapper--grouped'"
                       [errorMessage]="teachersEditValidationHelper.censusSchoolTeacherSchoolLevelTypeValidation()"
                       [class]="'sis-float-left'" [forControl]="teacherTable"
                       [isInput]="true">
            </sis-error>

            <sis-error [id]="'teacherTableValidation'"
                       [errorClass]="'sis-validation-wrapper--grouped'"
                       [errorMessage]="teachersEditValidationHelper.censusSchoolTeacherDistrictValidation()"
                       [class]="'sis-float-left'" [forControl]="teacherTable"
                       [isInput]="true">
            </sis-error>
        </div>
        <label class="sis-label sis-element-required">12.1 Teachers</label>
        <div #teacherTable class="sis-table-scroll sis-controls--top-margin">
            <table class="mdl-data-table mdl-js-data-table sis-full-width">
                <thead>
                <tr>
                    <th colspan="2"></th>
                    <th style="min-width: 85px;">No</th>
                    <th style="min-width: 225px;">Note on Teacher</th>
                    <th style="min-width: 120px;">Surname / Family Name</th>
                    <th style="min-width: 130px;">First Name and Initials</th>
                    <th style="min-width: 120px;" class="mdl-data-table__cell--right">Staff Number (IPPD)</th>
                    <th class="sis-align-right mdl-data-table__cell--right">SSF Number</th>
                    <th class="sis-align-right mdl-data-table__cell--right">Registration Number</th>
                    <th style="min-width: 150px;">Level</th>
                    <th style="min-width: 120px;" class="mdl-data-table__cell--centered">Year of Birth</th>
                    <th>Sex</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let teacher of censusSchoolTeachers; let i = index">
                    <td>
                        <i (click)="delete(teacher)" class="material-icons mdl-data-table--action-icon" title="Remove">clear</i>
                    </td>
                    <td>
                        <i (click)="editTeachers(teacher.getProperty('teacherInstanceId').value,false)"
                           class="material-icons mdl-data-table--action-icon"
                           *ngIf="teacher.getProperty('teacherInstanceId').value.getProperty('teacherId').value<0">mode_edit</i>
                    </td>
                    <td>{{i+1}}</td>
                    <td> {{getTeachersNoteOn(teacher)}}</td>
                    <td>
                        {{teacher.getProperty('teacherInstanceId').value.getProperty('surname').value}}
                    </td>
                    <td>{{teacher.getProperty('teacherInstanceId').value.getProperty('firstName').value}}</td>
                    <td class="mdl-data-table__cell--right">
                        {{teacher.getProperty('teacherInstanceId').value.getProperty('staffNumber').value &&
                        teacher.getProperty('teacherInstanceId').value.getProperty('staffNumber').value}}
                    </td>
                    <td class="mdl-data-table__cell--right">
                        {{teacher.getProperty('teacherInstanceId').value.getProperty('sSFNumber').value &&
                        teacher.getProperty('teacherInstanceId').value.getProperty('sSFNumber').value}}
                    </td>
                    <td class="mdl-data-table__cell--right">
                        {{teacher.getProperty('teacherInstanceId').value.getProperty('registrationNumber').value &&
                        teacher.getProperty('teacherInstanceId').value.getProperty('registrationNumber').value}}
                    </td>
                    <td>{{getTeacherSchoolLevels(teacher)}}</td>
                    <td class="mdl-data-table__cell--centered">
                        {{teacher.getProperty('teacherInstanceId').value.getProperty('yearOfBirth').value}}
                    </td>
                    <td>
                        {{teacher.getProperty('teacherInstanceId').value.getProperty('genderId').value.getProperty('name_ENG').value}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <button id="teachersSearchPopupAdd" (click)="addAction()"
                class="mdl-button sis-float-right sis-button-top-margin mdl-js-button mdl-button--raised mdl-js-ripple-effect button--full-width-mobile  sis-btn--primary">
            Add
        </button>


    </div>

</div>


<teachers-search-popup id="searchPopupId" class="sis-popup-container" #teachersSearchPopup
                       [teacher]="_teacher"
                       [style.display]="isAddEditTeacherFormVisible.value? 'none' : 'block'"
                       (teacherChange)="_teacher=$event"
                       [isEditedFromSearchPopup]="_isEditedFromSearchPopup"
                       (isEditedFromSearchPopupChange)="_isEditedFromSearchPopup=$event"
                       (done)="updateCensusSchoolTeachers($event)"
                       (onClose)="setIsTeachersSearchPopupActive(false,null)">
</teachers-search-popup>


<sis-teacher-edit *ngIf="isAddEditTeacherFormVisible.value"
              [isEditedFromSearchPopup]="_isEditedFromSearchPopup"
              [classifierList]="classifierList"
              [teacher]="_teacher"
              [isPressedSaveCloseButton]="_isPressedSaveCloseButton"
              (isPressedSaveCloseButtonChange)="_isPressedSaveCloseButton=$event"
              (done)="updateTeacher($event)"
              (cancel)="setIsAddEditTeacherFormVisible($event)">
</sis-teacher-edit>