<div mdl class="mdl-grid mdl-grid--no-spacing" title="">
    <div class="mdl-cell mdl-cell--12-col">
        <label class="sis-label">12.1 Teachers</label>
            <div class="sis-table-scroll sis-controls--top-margin">
                <table class="mdl-data-table mdl-js-data-table">
                    <thead>
                        <tr>
                            <th rowspan="2">No</th>
                            <th rowspan="2">Note on Teacher</th>
                            <th rowspan="2" style="min-width: 120px;">Surname / Family Name</th>
                            <th rowspan="2" style="min-width: 130px;">First Name and Initials</th>
                            <th rowspan="2" style="min-width: 120px;" class="sis-align-right">Staff Number (IPPD)</th>
                            <th rowspan="2" class="sis-align-right">SSF Number</th>
                            <th rowspan="2" class="sis-align-right">Registration Number</th>
                            <th rowspan="2" *ngIf="!getIsTVETSchoolType()">Level</th>
                            <th rowspan="2" style="min-width: 86px;" class="mdl-data-table__cell--centered">Year of Birth
                            </th>
                            <th rowspan="2">Sex</th>
                            <th colspan="2" class="mdl-data-table__cell--centered">Service</th>
                            <th colspan="2" class="mdl-data-table__cell--centered">Rank</th>
                            <th rowspan="2" *ngIf="!getIsTVETSchoolType()">Type of Teacher</th>
                            <th rowspan="2">Status</th>
                            <th rowspan="2">Function</th>
                            <th rowspan="2">Academic Qualification</th>
                            <th rowspan="2">Professional Qualification</th>
                            <th colspan="2" class="mdl-data-table__cell--centered">Professional Teaching Qualification</th>
                            <th rowspan="2" style="min-width: 112px;" *ngIf="getIsTVETSchoolType()"> Relevant Industrial experience</th>
                            <th rowspan="2" style="min-width: 112px;">Who pays the salary?</th>
                        </tr>
                    <tr>
                        <th  style="min-width: 180px;" class="mdl-data-table__cell--centered">Year of 1st Appointment
                        </th>
                        <th *ngIf="!getIsTVETSchoolType()" style="min-width: 216px;" class="mdl-data-table__cell--centered">Year Posted to Present
                            Station
                        </th>
                        <th *ngIf="getIsTVETSchoolType()" style="min-width: 216px;" class="mdl-data-table__cell--centered">Experience in TVET
                        </th>
                        <th style="min-width: 116px;">Current Rank</th>
                        <th style="min-width: 176px;" class="mdl-data-table__cell--centered">Year Appointed to Rank</th>
                        <th style="min-width: 154px;" class="mdl-data-table__cell--centered">Year Completed</th>
                        <th style="min-width: 152px;">Qualification Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let teacher of teachersList; let i = index">
                        <td></td>
                        <td> {{getTeachersNoteOn(teacher)}}</td>
                        <td>
                            {{teacher.getProperty('teacherId').value.getProperty('surname').value}}
                        </td>
                        <td>{{teacher.getProperty('teacherId').value.getProperty('firstName').value}}</td>
                        <td>{{teacher.getProperty('teacherId').value.getProperty('staffNumber').value}}</td>
                        <td>{{teacher.getProperty('teacherId').value.getProperty('sSFNumber').value}}</td>
                        <td>{{teacher.getProperty('teacherId').value.getProperty('registrationNumber').value}}</td>
                        <td *ngIf="!getIsTVETSchoolType()" >{{getTeacherSchoolLevels(teacher)}}</td>
                        <td>{{teacher.getProperty('teacherId').value.getProperty('yearOfBirth').value}}</td>
                        <td>
                            {{teacher.getProperty('teacherId').value.getProperty('genderId').value.getProperty('name_ENG').value}}
                        </td>
                        <td>{{teacher.getProperty('teacherId').value.getProperty('firstAppointmentYear').value}}</td>
                        <td>{{teacher.getProperty('teacherId').value.getProperty('currentPositionYear').value}}</td>
                        <td>
                            {{teacher.getProperty('teacherId').value.getProperty('teacherRankId').value.getProperty('name_ENG').value}}
                        </td>
                        <td>{{teacher.getProperty('teacherId').value.getProperty('rankAppointedYear').value}}</td>

                        <td *ngIf="!getIsTVETSchoolType()">
                            {{teacher.getProperty('teacherId').value.getProperty('teacherTypeId').value.getProperty('name_ENG').value}}
                        </td>
                        <td>
                            {{teacher.getProperty('teacherId').value.getProperty('teacherStatusId').value.getProperty('name_ENG').value}}
                        </td>
                        <td>
                            {{teacher.getProperty('teacherId').value.getProperty('teacherFunctionId').value.getProperty('name_ENG').value}}
                        </td>
                        <td>
                            {{teacher.getProperty('teacherId').value.getProperty('teacherAcademicQualificationId').value.getProperty('name_ENG').value}}
                        </td>
                        <td>
                            {{teacher.getProperty('teacherId').value.getProperty('teacherProfessionalQualificationId').value.getProperty('name_ENG').value}}
                        </td>
                        <td>{{teacher.getProperty('teacherId').value.getProperty('yearCompleted').value}}</td>

                        <td>
                            {{teacher.getProperty('teacherId').value.getProperty('teacherQualificationStatusId').value.getProperty('name_ENG').value}}
                        </td>
                        <td *ngIf="getIsTVETSchoolType()">
                            {{teacher.getProperty('teacherId').value.getProperty('relevantIndustrial').value}}
                        </td>
                        <td>{{getTeacherSalaryPaids(teacher)}}</td>

                    </tr>
                    </tbody>
                </table>
            </div>

    </div>
</div>