<div mdl class="mdl-grid mdl-grid--no-spacing" title=""  [style.display]="isAddEditTeacherFormVisible.value? 'none' : 'block'">
    <div class="mdl-cell mdl-cell--12-col">
        <label class="sis-label">12.1 Teachers</label>
        <div class="sis-table-scroll sis-controls--top-margin">
            <table class="mdl-data-table mdl-js-data-table">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Note on Teacher</th>
                    <th style="min-width: 120px;">Surname / Family Name</th>
                    <th style="min-width: 130px;">First Name and Initials</th>
                    <th style="min-width: 120px;" class="sis-align-right">Staff Number (IPPD)</th>
                    <th class="sis-align-right">SSF Number</th>
                    <th class="sis-align-right">Registration Number</th>
                    <th>Level</th>
                    <th style="min-width: 86px;" class="mdl-data-table__cell--centered">Year of Birth</th>
                    <th>Sex</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let teacher of censusSchoolTeachers; let i = index">
                    <td>{{i+1}}</td>
                    <td> {{getTeachersNoteOn(teacher)}}</td>
                    <td>
                        {{teacher.getProperty('teacherInstanceId').value.getProperty('surname').value}}
                    </td>
                    <td> <a (click)="editTeachers(teacher.getProperty('teacherInstanceId').value,false)">
                        {{teacher.getProperty('teacherInstanceId').value.getProperty('firstName').value}}
                        </a>
                    </td>
                    <td>{{teacher.getProperty('teacherInstanceId').value.getProperty('staffNumber').value &&
                        teacher.getProperty('teacherInstanceId').value.getProperty('staffNumber').value}}
                    </td>
                    <td>{{teacher.getProperty('teacherInstanceId').value.getProperty('sSFNumber').value &&
                        teacher.getProperty('teacherInstanceId').value.getProperty('sSFNumber').value}}
                    </td>
                    <td>{{teacher.getProperty('teacherInstanceId').value.getProperty('registrationNumber').value &&
                        teacher.getProperty('teacherInstanceId').value.getProperty('registrationNumber').value}}
                    </td>
                    <td *ngIf="!getIsTVETSchoolType()">{{getTeacherSchoolLevels(teacher)}}</td>
                    <td>{{teacher.getProperty('teacherInstanceId').value.getProperty('yearOfBirth').value}}</td>
                    <td>
                        {{teacher.getProperty('teacherInstanceId').value.getProperty('genderId').value.getProperty('name_ENG').value}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<sis-teacher-view *ngIf="isAddEditTeacherFormVisible.value"
                  [isEditedFromSearchPopup]="_isEditedFromSearchPopup"
                  [classifierList]="classifierList"
                  [teacher]="_teacher"
                  [isPressedSaveCloseButton]="_isPressedSaveCloseButton"
                  (isPressedSaveCloseButtonChange)="_isPressedSaveCloseButton=$event"
                  (cancel)="setIsAddEditTeacherFormVisible($event)">
</sis-teacher-view>