<div title="">
    <div class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-cell mdl-cell--12-col">
            <label class="sis-label sis-element-required">
                9.1 Indicate the NUMBER of Teaching Guides / HandBooks available by grade
            </label>

                    <div #handBooksByGradeIndicator>
                        <sis-census-indicator-tracking-2L-view [census]="census"
                                                               [school]="school"
                                                               [classifierList]="classifierList"
                                                               [label]=""
                                                               [tableId]="'handBooksByGradeTableId'"
                                                               [indicatorInstanceId]="handBooksByGradeIndicatorInstanceId"
                                                               [horizontalClassifierName]="'SchoolLevel'"
                                                               [horizontalClassifierFieldName]="'schoolLevelId'"
                                                               [IsNegated]="true"
                                                               [visibilityFilter]="'SubjectSchoolLevel'"
                                                               [visibilityFilterPropertyName]="'isChecked'"
                                                               [horizontalClassifierFilterPropertyName]="'schoolLevelGroupId'"
                                                               [horizontalClassifierFilterPropertyValue]="schoolLevelGroupNursery"
                                                               [verticalClassifierName]="'TeachingGuide'"
                                                               [verticalClassifierFieldName]="'teachingGuideId'">
                        </sis-census-indicator-tracking-2L-view>
                    </div>

        </div>
    </div>

    <div class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-cell mdl-cell--12-col">
            <label class="sis-label sis-element-required">
                9.2 How MANY Pupil Textbooks for each subject and grade is available?
            </label>
            <div class="sis-controls--top-margin" #pupilTextBooksIndicator>
                <sis-census-indicator-tracking-2L-view [census]="census"
                                                       [school]="school"
                                                       [classifierList]="classifierList"
                                                       [label]=""
                                                       [tableId]="'pupilTextBooksTableId'"
                                                       [indicatorInstanceId]="pupilTextBooksIndicatorInstanceId"
                                                       [horizontalClassifierName]="'SchoolLevel'"
                                                       [horizontalClassifierFieldName]="'schoolLevelId'"
                                                       [IsNegated]="true"
                                                       [visibilityFilter]="'SubjectSchoolLevel'"
                                                       [visibilityFilterPropertyName]="'isChecked'"
                                                       [horizontalClassifierFilterPropertyName]="'schoolLevelGroupId'"
                                                       [horizontalClassifierFilterPropertyValue]="schoolLevelGroupNursery"
                                                       [verticalClassifierName]="'TeachingGuide'"
                                                       [verticalClassifierFieldName]="'teachingGuideId'">
                </sis-census-indicator-tracking-2L-view>

            </div>
        </div>
    </div>

    <div class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-cell mdl-cell--12-col">
            <label class="sis-label">
                9.3 Does your school offer these subjects, and is a syllabus AVAILABLE?
            </label>
            <div class="sis-table-scroll">
                <table class="mdl-data-table mdl-js-data-table sis-full-width" id="availableSyllabusId">
                    <thead>
                        <th colspan="2">
                            <span>Core Subject</span>
                        </th>
                        <th *ngFor="let horizontalLevelFirstClassifier of filteredHorizontalFirstClassifierList()"
                            colspan="2" class="mdl-data-table__cell--centered">
                            <span>{{horizontalLevelFirstClassifier.getName()}}</span>
                        </th>
                        <tr>
                            <th colspan="2"></th>
                            <th *ngFor="let horizontalSecondLevelClassifier of filteredHorizontalSecondLevelByFirstLevelClassifierList()"
                                class="mdl-data-table__cell--centered">
                                <span>{{horizontalSecondLevelClassifier.getName()}}</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let verticalClassifier of filteredVerticalClassifierList()" rowspan="2">
                            <th colspan="2" class="mdl-data-table__cell--non-numeric">
                                <span>{{verticalClassifier.getName()}}</span>
                            </th>
                            <ng-container *ngFor="let schoolGroupClassifier of filteredHorizontalFirstClassifierList()">
                                <td *ngFor="let availableSubjectClassifier of classifierList.get('AvailableSubject')"  class="mdl-data-table__cell--centered">
                                    <i class="material-icons material-check-icon" *ngIf="isVisibleCheckBox(verticalClassifier.getId(),schoolGroupClassifier.getId()) && isTeachingGuideCheckedItem(verticalClassifier.getId(), schoolGroupClassifier.getId(),availableSubjectClassifier.getId())">done</i>
                                </td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>