<div class="mdl-grid mdl-grid--no-spacing" title="">
    <div class="mdl-cell mdl-cell--12-col">

        <div *ngIf="isSelectedNoOwnSafeWaterFacility()" #waterFacilityNoName><label class="sis-layout__section__title">6.1 WATER FACILITIES</label>
            <div>
                <label class="sis-label">6.1.1 Does your school own a safe water facility?</label>
                <span>No</span>
            </div>

            <label class="sis-label">6.1.2 If there is no safe water source at/near the school compound, what is the source of drinking water?</label>
            <sis-select-one-radio-view [census]="census"
                                  [classifierList]="classifierList"
                                  [censusSubEntityCategoryName]="'CensusSchoolQuestion'"
                                  [censusSubEntityName]="'censusSchoolQuestions'"
                                  [classifierId]="'WATER_SOURCE_ID'"
                                  [hasOther]="true"
                                  [otherId]="waterAndSanitationRadioButtonIds.WATER_SOURCE_OTHER_ID"
                                  [otherText]="'Other Specify'"
                                  [subEntityOtherFieldName]="'waterSourceOther_ENG'"
                                  [subEntityFields]="questionSubEntityFields">
            </sis-select-one-radio-view>
        </div>

        <div *ngIf="isSelectedYesOwnSafeWaterFacility()">
            <div>
                <label class="sis-label">6.1.1 Does your school own a safe water facility?</label>
                <span>{{isWaterFacilityFunctionalCheckedItem() ? "Yes, Functional" : "Yes, Non functional"}}</span>
            </div>
            <div #locateNearName>
                <label class="sis-label">6.1.2 How far is it located from school compound?</label>
                <sis-select-one-radio-view [census]="census"
                                      [classifierList]="classifierList"
                                      [censusSubEntityCategoryName]="'CensusSchoolQuestion'"
                                      [censusSubEntityName]="'censusSchoolQuestions'"
                                      [classifierId]="'LOCATE_NEAR_ID'"
                                      [subEntityFields]="questionSubEntityFields">
                </sis-select-one-radio-view>
            </div>


            <div #safeWaterTypeWrapperName>
                <label class="sis-label sis-element-required">6.1.3 What type of safe water facility is available?</label>
                <td *ngFor="let waterClassifier of waters">
                   <!-- <input type="checkbox"
                           [checked]="isWaterCheckedItem(waterClassifier.getId())"
                           (change)="onWaterCheckBoxChanged(waterClassifier.getId())"
                           class="sis-radio-checkbox"
                           name="waterItems{{waterClassifier.getId()}}Id"/>-->
                    <span *ngIf="isWaterCheckedItem(waterClassifier.getId())">{{waterClassifier.getName()}}</span>
                </td>
                <div *ngIf="isCensusSchoolFacilitiesNotEmpty()">
                    <div class="sis-table-scroll" #facilityFunctioningAtTheTimeName>
                        <label class="sis-label sis-element-required">6.1.4 Is the facility functioning at the time of the survey?</label>
                        <table class="mdl-data-table mdl-js-data-table">
                            <thead>
                            <th></th>
                            <th  class="mdl-data-table__cell--centered">
                                <span>Yes / No</span>
                            </th>
                            <th> </th>
                            </thead>
                            <tbody>
                            <tr *ngFor="let subEntity of censusSchoolFacilities">
                                <td>
                                    {{subEntity.getProperty(waterId).value.getName()}}
                                </td>
                                <td *ngFor="let yesNoClassifier of classifierList.get('YesNo'); let j = index" class="mdl-data-table__cell--centered">
                                   <!-- <input type="radio"
                                           [checked]="isCheckedYesNoItem(subEntity, j)"
                                           (change)="onYesNoRadioChanged(subEntity, j)"
                                           class="sis-radio-checkbox"
                                           [name]="getNamePlusId('YesNo',subEntity.getProperty(waterId).value.getId())"/>-->
                                    <span *ngIf="isCheckedYesNoItem(subEntity, j)">{{yesNoClassifier.getName()}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="sis-controls--top-margin" #sanitationTotalDaysName>
                        <label class="sis-label sis-element-required">6.1.5 How many days in total over the past year has it been out of use?</label>
                        <sis-census-indicator-tracking-1L-HView [census]="census"
                                                                [school]="school"
                                                                [classifierList]="classifierList"
                                                                [tableId]="'sanitationTotalDaysGroupId'"
                                                                [indicatorInstanceId]="sanitationTotalDays"
                                                                [hasHorizontalClassifierListInArray]="true"
                                                                [noTopLeftCellLabel] = "true"
                                                                [arrayOfHorizontalClassifiers]="waterClassifiersList"
                                                                [horizontalClassifierName]="'Water'"
                                                                [horizontalClassifierFieldName]="'waterId'">
                        </sis-census-indicator-tracking-1L-HView>
                    </div>
                </div>
            </div>

            <div #waterFlowName>
                <label class="sis-label sis-element-required">
                    6.1.{{isCensusSchoolFacilitiesNotEmpty() ? 6 : 4}} How often does water flow from the water source in a week?
                </label>
                <sis-select-one-radio-view [census]="census"
                                      [classifierList]="classifierList"
                                      [censusSubEntityCategoryName]="'CensusSchoolQuestion'"
                                      [censusSubEntityName]="'censusSchoolQuestions'"
                                      [classifierId]="'WATER_FLOW_ID'"
                                      [subEntityFields]="questionSubEntityFields">
                </sis-select-one-radio-view>
            </div>

            <div #waterStorageName>
                <label class="sis-label sis-element-required">
                    6.1.{{isCensusSchoolFacilitiesNotEmpty() ? 7 : 5}} What is the MAIN water storage facility available in the school?
                </label>
                <sis-select-one-radio-view [census]="census"
                                      [classifierList]="classifierList"
                                      [censusSubEntityCategoryName]="'CensusSchoolQuestion'"
                                      [censusSubEntityName]="'censusSchoolQuestions'"
                                      [classifierId]="'WATER_STORAGE_ID'"
                                      [hasOther]="true"
                                      [otherId]="waterAndSanitationRadioButtonIds.WATER_STORAGE_OTHER_ID"
                                      [otherText]="'Other Specify'"
                                      [subEntityOtherFieldName]="'waterStorageOther_ENG'"
                                      [subEntityFilterPropertyValue]="waterAndSanitationRadioButtonIds.WATER_STORAGE_OTHER_ID"
                                      [subEntityFilterBiggerThan]="false"
                                      [subEntityFields]="questionSubEntityFields">
                </sis-select-one-radio-view>
            </div>

            <div #waterVesselsTypeName>
                <label class="sis-label sis-element-required">
                    6.1.{{isCensusSchoolFacilitiesNotEmpty() ? 8 : 6}} What type of vessels (cup, water bottle etc) do children normally use to drink?
                </label>
                <sis-select-one-radio-view [census]="census"
                                      [classifierList]="classifierList"
                                      [censusSubEntityCategoryName]="'CensusSchoolQuestion'"
                                      [censusSubEntityName]="'censusSchoolQuestions'"
                                      [classifierId]="'WATER_VESSELS_TYPE_ID'"
                                      [subEntityFields]="questionSubEntityFields">
                </sis-select-one-radio-view>
            </div>

            <div #goodBadName>
                <label class="sis-label sis-element-required">
                    6.1.{{isCensusSchoolFacilitiesNotEmpty() ? 9 : 7}} How do you rate the quality of the water you get from
                    the school's water facility?
                </label>
                <sis-select-one-radio-view [census]="census"
                                      [classifierList]="classifierList"
                                      [censusSubEntityCategoryName]="'CensusSchoolBadReason'"
                                      [censusSubEntityName]="'censusSchoolBadReasons'"
                                      [classifierId]="'GOOD_BAD_ID'"
                                      [subEntityFields]="questionSubEntityFields">
                </sis-select-one-radio-view>
            </div>

            <div *ngIf="isSelectedBadReason.value" #badName>
                <label class="sis-label sis-element-required">
                    If Bad, assign reason(s):
                </label>
                <table class="mdl-data-table mdl-js-data-table">
                    <thead>
                    </thead>
                    <tbody>
                    <tr *ngFor="let badReasonClassifier of badReasons let i = index">
                        <td>{{badReasonClassifier.getName()}}</td>
                        <td>
                            <!--<input type="radio"
                                   [checked]="isCheckedMultiRadioItem(badReasonTypeClassifier.getId(), i)"
                                   (change)="onMultiRadioChanged(badReasonTypeClassifier.getId(), i)"
                                   class="sis-radio-checkbox"
                                   [name]="getNamePlusId('badReason', i)"/>-->
                         {{getClassifierName(i)}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="sis-controls--top-margin" title="">
    <label class="sis-layout__section__title">6.2 TOILET AND URINAL FACILITIES</label>
    <div class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <div #toiletTypeName>
                <label class="sis-label">6.2.1 What type of toilet does the school have?</label>
                <sis-select-one-radio-view [census]="census"
                                            [classifierList]="classifierList"
                                            [censusSubEntityCategoryName]="'CensusSchoolQuestion'"
                                            [censusSubEntityName]="'censusSchoolQuestions'"
                                            [classifierId]="'TOILET_TYPE_ID'"
                                            [hasInputSubEntity]="true"
                                            [parentClassifierKeyName]="'waterFacilityYesNoId'"
                                            [subEntityFields]="questionSubEntityFields">
                </sis-select-one-radio-view>
            </div>

            <div #urinalsFunctionalYesNoName>
                <label class="sis-label">6.2.2 Were the urinals functional at the time of the survey?</label>
                <sis-select-one-radio-view [census]="census"
                                            [classifierList]="classifierList"
                                            [censusSubEntityCategoryName]="'CensusSchoolQuestion'"
                                            [censusSubEntityName]="'censusSchoolQuestions'"
                                            [classifierId]="'URINALS_FUNCTIONAL_YES_NO_ID'"
                                            [hasInputSubEntity]="true"
                                            [parentClassifierKeyName]="'waterFacilityYesNoId'"
                                            [classifierNameFromInput]="'YesNoId'"
                                            [subEntityFields]="questionSubEntityFields">
                </sis-select-one-radio-view>
            </div>

            <div #urinalsAvailabilityName>
                <label class="sis-label sis-element-required">
                       6.2.3 {{toiletAvailabilityFunctionalityDisaggregationClassifierName}}?
                </label>
                <sis-census-indicator-tracking-1L-HView [census]="census"
                                                        [school]="school"
                                                        [classifierList]="classifierList"
                                                        [tableId]="'toiletsAvailabilityFunctionalityTableId'"
                                                        [indicatorInstanceId]="sanitationToiletAvailability"
                                                        [noTopLeftCellLabel] = "true"
                                                        [horizontalClassifierName]="'PupilTeacher'"
                                                        [horizontalClassifierFieldName]="'pupilTeacherId'"
                                                        [subEntityFilterPropertyName]="'indicatorToilet'"
                                                        [subEntityFilterPropertyValue]="toiletsAvailabilityFunctionalitySubEntityFilterPropertyValue">
                </sis-census-indicator-tracking-1L-HView>
            </div>

            <div #toiletsFunctionalYesNoName>
                <label class="sis-label sis-element-required">
                    6.2.4 Were the toilets functional at the time of the survey?
                </label>
                <sis-select-one-radio-view [census]="census"
                                      [classifierList]="classifierList"
                                      [censusSubEntityCategoryName]="'CensusSchoolQuestion'"
                                      [censusSubEntityName]="'censusSchoolQuestions'"
                                      [classifierId]="'TOILETS_FUNCTIONAL_YES_NO_ID'"
                                      [classifierNameFromInput]="'YesNoId'"
                                      [subEntityFields]="questionSubEntityFields">
                </sis-select-one-radio-view>
            </div>

            <div #useToiletsYesNoName>
                <label class="sis-label sis-element-required">
                    6.2.5 Were the toilets in use at the time of the survey?
                </label>
                <sis-select-one-radio-view [census]="census"
                                      [classifierList]="classifierList"
                                      [censusSubEntityCategoryName]="'CensusSchoolQuestion'"
                                      [censusSubEntityName]="'censusSchoolQuestions'"
                                      [classifierId]="'USE_TOILETS_YES_NO_ID'"
                                      [classifierNameFromInput]="'YesNoId'"
                                      [subEntityFields]="questionSubEntityFields">
                </sis-select-one-radio-view>
            </div>
        </div>

        <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <div #individualToiletSeatsAvailableName>
                <label class="sis-label sis-element-required">
                    6.2.6 {{toiletAvailabilityDisaggregationClassifierName}}?
                </label>
                <sis-census-indicator-tracking-1L-HView [census]="census"
                                                        [school]="school"
                                                        [classifierList]="classifierList"
                                                        [tableId]="'toiletsAvailabilityTableId'"
                                                        [noTopLeftCellLabel] = "true"
                                                        [indicatorInstanceId]="sanitationToiletAvailability"
                                                        [horizontalClassifierName]="'PupilTeacher'"
                                                        [horizontalClassifierFieldName]="'pupilTeacherId'"
                                                        [subEntityFilterPropertyName]="'indicatorToilet'"
                                                        [subEntityFilterPropertyValue]="toiletsAvailabilitySubEntityFilterPropertyValue">
                </sis-census-indicator-tracking-1L-HView>
            </div>

            <div #individualToiletSeatsFunctionalName>
                <label class="sis-label">
                    6.2.7 {{toiletFunctionalityDisaggregationClassifierName}}?
                </label>
                <sis-census-indicator-tracking-1L-HView [census]="census"
                                                        [school]="school"
                                                        [classifierList]="classifierList"
                                                        [tableId]="'toiletsFunctionalityTableId'"
                                                        [indicatorInstanceId]="sanitationToiletAvailability"
                                                        [noTopLeftCellLabel] = "true"
                                                        [horizontalClassifierName]="'PupilTeacher'"
                                                        [horizontalClassifierFieldName]="'pupilTeacherId'"
                                                        [subEntityFilterPropertyName]="'indicatorToilet'"
                                                        [subEntityFilterPropertyValue]="toiletsFunctionalitySubEntityFilterPropertyValue">
                </sis-census-indicator-tracking-1L-HView>
            </div>

            <div #cleanToiletsYesNoName>
                <label class="sis-label">
                       6.2.8 Were the toilets clean at the time of the survey?
                </label>
                <sis-select-one-radio-view [census]="census"
                                      [classifierList]="classifierList"
                                      [censusSubEntityCategoryName]="'CensusSchoolQuestion'"
                                      [censusSubEntityName]="'censusSchoolQuestions'"
                                      [classifierId]="'CLEAN_TOILETS_YES_NO_ID'"
                                      [classifierNameFromInput]="'YesNoId'"
                                      [subEntityFields]="questionSubEntityFields">
                </sis-select-one-radio-view>
            </div>

            <div #toiletResponsibleName>
                <label class="sis-label sis-element-required">
                    6.2.9 Who is responsible for cleaning the toilet facilities?
                </label>
                <sis-select-one-radio-view [census]="census"
                                      [label]="''"
                                      [classifierList]="classifierList"
                                      [censusSubEntityCategoryName]="'CensusSchoolQuestion'"
                                      [censusSubEntityName]="'censusSchoolQuestions'"
                                      [classifierId]="'TOILET_RESPONSIBLE_ID'"
                                      [hasOther]="true"
                                      [otherId]="waterAndSanitationRadioButtonIds.TOILET_RESPONSIBLE_OTHER_ID"
                                      [otherText]="'Other Specify'"
                                      [subEntityOtherFieldName]="'toiletResponsible_ENG'"
                                      [subEntityFields]="questionSubEntityFields">
                </sis-select-one-radio-view>
            </div>
        </div>

        <div class="mdl-cell mdl-cell--12-col">
            <div #washingFacilitiesFollowingPlacesName>
                <label class="sis-label sis-element-required">
                    6.2.10	Does your school have Hand washing facilities at the following places?
                </label>
                <div class="sis-table-scroll">
                    <table class="mdl-data-table mdl-js-data-table">
                        <thead>
                        <th></th>
                        <th  class="mdl-data-table__cell--centered">
                            <span>Yes / No</span>
                        </th>

                        </thead>
                        <tbody>
                        <tr *ngFor="let handWashingPlace of handWashingPlaceList">
                            <td class="mdl-data-table__cell--non-numeric">
                                {{handWashingPlace.firstClassifier.getName()}}
                            </td>
                            <td  class="mdl-data-table__cell--centered">
                                <!--<input type="radio"
                                       [checked]="isCheckedHandWashingItem(handWashingPlace.firstClassifier.getId(), k, constants.HAND_WASHING_PLACE_MAP_KEY)"
                                       (change)="onHandWashingRadioChanged(handWashingPlace.firstClassifier.getId(), k, constants.HAND_WASHING_PLACE_MAP_KEY)"
                                       class="sis-radio-checkbox"
                                       [name]="getNamePlusId('yesNoPlace', handWashingPlace.firstClassifier.getId())"/>-->
                               <!-- <span *ngIf="isCheckedHandWashingItem(handWashingPlace.firstClassifier.getId(), k, constants.HAND_WASHING_PLACE_MAP_KEY)"> {{yesNoClassifier.getName()}}</span>-->
                                {{handWashingPlace.secondClassifier?.getName()}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div #soapAvailableForHandWashingName>
                <label class="sis-label sis-element-required">
                    6.2.11 Is soap available for handwashing at these places at the time of the survey?
                </label>
                <table class="mdl-data-table mdl-js-data-table">
                    <thead>
                    <th></th>
                    <th> <span>Yes / No</span>
                    </th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let handWashingSoap of handWashingSoapList">
                        <td class="mdl-data-table__cell--non-numeric">
                            {{handWashingSoap.firstClassifier.getName()}}
                        </td>
                        <td  class="mdl-data-table__cell--centered">
                           <!-- <input type="radio"
                                   [checked]="isCheckedHandWashingItem(handWashingSoap.firstClassifier.getId(), k, constants.HAND_WASHING_SOAP_MAP_KEY)"
                                   (change)="onHandWashingRadioChanged(handWashingSoap.firstClassifier.getId(), k, constants.HAND_WASHING_SOAP_MAP_KEY)"
                                   class="form-radio-checkbox"
                                   [name]="getNamePlusId('yesNoSoap', handWashingSoap.firstClassifier.getId())"/>-->
                            {{handWashingSoap.secondClassifier?.getName()}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div #waterAvailableForHandWashingName>
                <label class="sis-label sis-element-required">
                    6.2.12 Is water available for handwashing at these places at the time of the survey?
                </label>
                <table class="mdl-data-table mdl-js-data-table">
                    <thead>
                    <th></th>
                    <th> <span>Yes / No</span>
                    </thead>
                    <tbody>
                    <tr *ngFor="let handWashingWater of handWashingWaterList">
                        <td class="mdl-data-table__cell--non-numeric">
                            {{handWashingWater.firstClassifier.getName()}}
                        </td>
                        <td  class="mdl-data-table__cell--centered">
                            <!--<input type="radio"
                                   [checked]="isCheckedHandWashingItem(handWashingWater.firstClassifier.getId(), k, constants.HAND_WASHING_WATER_MAP_KEY)"
                                   (change)="onHandWashingRadioChanged(handWashingWater.firstClassifier.getId(), k, constants.HAND_WASHING_WATER_MAP_KEY)"
                                   class="form-radio-checkbox"
                                   [name]="getNamePlusId('yesNoWater', handWashingWater.firstClassifier.getId())"/>-->
                            {{handWashingWater.secondClassifier?.getName()}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div #effluentDischargeName>
                <label class="sis-label sis-element-required">6.2.13 Where does the effluent from the urinal discharge to?</label>
                <div>
                    <!--<input type="text" value="{{effluentDischarge.getProperty('effluentDischarge_ENG').value}}" #effluentDischargeText
                           (change)="onTextChanged(effluentDischarge, 'effluentDischarge_ENG', effluentDischargeText.value)"
                           name="effluentDischargeId" class="sis-input sis-large-width"/>-->
                    <span>{{getEffluentDischarge().getProperty('effluentDischarge_ENG').value}}</span>
                </div>
            </div>

            <div #solidWasteName>
                <label class="sis-label sis-element-required">6.2.14 How is solid waste from the school disposed off?</label>
                <div>
                    <!--<input type="text" value="{{solidWaste.getProperty('solidWaste_ENG').value}}" #solidWasteText
                           (change)="onTextChanged(solidWaste, 'solidWaste_ENG', solidWasteText.value)"
                           name="solidWasteId" class="sis-input sis-large-width"/>-->
                    <span>{{getSolidWaste().getProperty('solidWaste_ENG').value}}</span>
                </div>
            </div>

            <!--<div #improvementPlanYesNoName>
                <label class="sis-label sis-element-required">6.2.15 Does your school have a School Performance Improvement Plan?</label>
                <sis-select-one-radio-view [census]="census"
                                      [classifierList]="classifierList"
                                      [censusSubEntityCategoryName]="'CensusSchoolQuestion'"
                                      [censusSubEntityName]="'censusSchoolQuestions'"
                                      [classifierId]="'IMPROVEMENT_PLAN_YES_NO_ID'"
                                      [classifierNameFromInput]="'YesNoId'"
                                      [subEntityFields]="questionSubEntityFields">
                </sis-select-one-radio-view>
            </div>-->

            <div #spipYesNoName>
                <label class="sis-label sis-element-required">6.2.15 Does the SPIP include how you can improve / sustain WASH facilities in the school?</label>

                <sis-select-one-radio-view [census]="census"
                                      [classifierList]="classifierList"
                                      [censusSubEntityCategoryName]="'CensusSchoolQuestion'"
                                      [censusSubEntityName]="'censusSchoolQuestions'"
                                      [classifierId]="'SPIP_YES_NO_ID'"
                                      [classifierNameFromInput]="'YesNoId'"
                                      [subEntityFields]="questionSubEntityFields">
                </sis-select-one-radio-view>
            </div>

            <div #washYesNoName>
                <label class="sis-label sis-element-required">6.2.16 Does the school have an operational and maintenance plans for WASH facilities in the school?</label>

                <sis-select-one-radio-view [census]="census"
                                      [classifierList]="classifierList"
                                      [censusSubEntityCategoryName]="'CensusSchoolQuestion'"
                                      [censusSubEntityName]="'censusSchoolQuestions'"
                                      [classifierId]="'WASH_YES_NO_ID'"
                                      [classifierNameFromInput]="'YesNoId'"
                                      [subEntityFields]="questionSubEntityFields">
                </sis-select-one-radio-view>
            </div>
        </div>
    </div>
</div>

<div class="sis-controls--top-margin" title="">
    <label class="sis-layout__section__title">6.3 HEALTH AND HYGIENE EDUCATION</label>
    <div class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-cell mdl-cell--12-col">
            <div #hygieneYesNoName>
                <label class="sis-label sis-element-required">6.3.1 Is Hygiene taught in the school?</label>
                <sis-select-one-radio-view [census]="census"
                                      [classifierList]="classifierList"
                                      [censusSubEntityCategoryName]="'CensusSchoolQuestion'"
                                      [censusSubEntityName]="'censusSchoolQuestions'"
                                      [classifierId]="'HYGIENE_YES_NO_ID'"
                                      [classifierNameFromInput]="'YesNoId'"
                                      [subEntityFields]="questionSubEntityFields">
                </sis-select-one-radio-view>
            </div>


            <div #hygieneTaughtName>
                <label class="sis-label sis-element-required">6.3.2 How is Hygiene taught in the school?</label>

                <!--<input type="text" value="{{hygieneTaught.getProperty('hygieneTaught_ENG').value}}"
                       #hygieneTaughtSectionText
                       (change)="onTextChanged(hygieneTaught, 'hygieneTaught_ENG', hygieneTaughtSectionText.value)"
                       name="hygieneTaughtSectionId" class="sis-input sis-large-width"/>-->
                <span> {{getHygieneTaught().getProperty('hygieneTaught_ENG').value}}</span>
            </div>



            <div #changingRoomYesNoName>
                <label class="sis-label sis-element-required">6.3.3 Does the school have a changing room for girls during menstruation?</label>

                <sis-select-one-radio-view [census]="census"
                                      [classifierList]="classifierList"
                                      [censusSubEntityCategoryName]="'CensusSchoolQuestion'"
                                      [censusSubEntityName]="'censusSchoolQuestions'"
                                      [classifierNameFromInput]="'YesNoId'"
                                      [classifierId]="'CHANGING_ROOM_YES_NO_ID'"
                                      [subEntityFields]="questionSubEntityFields">
                </sis-select-one-radio-view>
            </div>


            <div #teacherHygieneEducationName>
                <label class="sis-label sis-element-required">6.3.4 Teacher’s Hygiene Education</label>

                <sis-census-indicator-tracking-2L-view [census]="census"
                                                       [school]="school"
                                                       [classifierList]="classifierList"
                                                       [tableId]="'teacherHygieneEducationCompositionId'"
                                                       [indicatorInstanceId]="teacherHygieneEducation"
                                                       [horizontalClassifierName]="'Gender'"
                                                       [horizontalClassifierFieldName]="'genderId'"
                                                       [verticalClassifierName]="'HygieneEducation'"
                                                       [verticalClassifierFieldName]="'hygieneEducationId'">
                </sis-census-indicator-tracking-2L-view>
            </div>


            <div class="sis-controls--top-margin">
                <div #schoolHealthYesNoName>
                    <label class="sis-label sis-element-required">6.3.5 Does the school have a functional school health club?</label>

                    <sis-select-one-radio-view [census]="census"
                                          [classifierList]="classifierList"
                                          [censusSubEntityCategoryName]="'CensusSchoolQuestion'"
                                          [censusSubEntityName]="'censusSchoolQuestions'"
                                          [classifierId]="'SCHOOL_HEALTH_YES_NO_ID'"
                                          [classifierNameFromInput]="'YesNoId'"
                                          [subEntityFields]="questionSubEntityFields">
                    </sis-select-one-radio-view>
                </div>
            </div>


            <div #sanitationActivityYesNoName>
                <label class="sis-label">6.3.6 Does the school organise outreach activities on sanitation and hygiene to the communities?</label>

                <sis-select-one-radio-view [census]="census"
                                      [classifierList]="classifierList"
                                      [censusSubEntityCategoryName]="'CensusSchoolQuestion'"
                                      [censusSubEntityName]="'censusSchoolQuestions'"
                                      [classifierNameFromInput]="'YesNoId'"
                                      [classifierId]="'SANITATION_ACTIVITY_YES_NO_ID'"
                                      [subEntityFields]="questionSubEntityFields">
                </sis-select-one-radio-view>
            </div>

            <div #healthCoordinatorYesNoName>
                <label class="sis-label">6.3.7 Does the school have a School Based Health Co-ordinator?</label>

                <sis-select-one-radio-view [census]="census"
                                      [classifierList]="classifierList"
                                      [censusSubEntityCategoryName]="'CensusSchoolQuestion'"
                                      [censusSubEntityName]="'censusSchoolQuestions'"
                                      [classifierId]="'HEALTH_COORDINATOR_YES_NO_ID'"
                                      [classifierNameFromInput]="'YesNoId'"
                                      [subEntityFields]="questionSubEntityFields">
                </sis-select-one-radio-view>
            </div>
        </div>
    </div>
</div>

